Repository microsoft/do-client: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dopapt-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/linux/du/doclient-lite-native.yml, azure-pipelines/build/mac/dosdkcpp.yml, azure-pipelines/build/windows/dosdkcpp.yml

Path conditions:
  azure-pipelines/build/doclient-lite-native.yml: any of: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/templates/doclient-lite-native-steps.yml, client-lite, common, build/build.py, CMakeLists.txt, but not: azure-pipelines
  azure-pipelines/build/dopapt-native.yml: any of: azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/templates/dopapt-native-steps.yml, common, plugins, build/build.py, CMakeLists.txt, but not: azure-pipelines, plugins/linux-apt/scripts/configure-apt-method.sh
  azure-pipelines/build/dosdkcpp-native.yml: any of: azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/templates/dosdkcpp-native-steps.yml, common, sdk-cpp, build/build.py, CMakeLists.txt, but not: azure-pipelines, sdk-cpp/build/cleanup-install.sh
  azure-pipelines/build/linux/doclient-lite-native.yml: any of: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/templates/doclient-lite-native-steps.yml, client-lite, common, build/build.py, CMakeLists.txt, but not: azure-pipelines
  azure-pipelines/build/linux/dopapt-native.yml: any of: azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/templates/dopapt-native-steps.yml, common, plugins, build/build.py, CMakeLists.txt, but not: azure-pipelines, plugins/linux-apt/scripts/configure-apt-method.sh
  azure-pipelines/build/linux/dosdkcpp-native.yml: any of: azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/templates/dosdkcpp-native-steps.yml, common, sdk-cpp, build/build.py, CMakeLists.txt, but not: azure-pipelines, sdk-cpp/build/cleanup-install.sh
  azure-pipelines/build/linux/du/doclient-lite-native.yml: any of: azure-pipelines/build/linux/du/doclient-lite-native.yml, azure-pipelines/build/linux/du/templates/doclient-lite-native-steps.yml, client-lite, common, build/build.py, CMakeLists.txt, but not: azure-pipelines
  azure-pipelines/build/mac/dosdkcpp.yml: any of: azure-pipelines/build/mac, common, sdk-cpp, build/build.py, CMakeLists.txt, but not: azure-pipelines, sdk-cpp/build/cleanup-install.sh
  azure-pipelines/build/windows/dosdkcpp.yml: any of: azure-pipelines/build/windows, common, sdk-cpp, build/build.py, CMakeLists.txt, but not: azure-pipelines, sdk-cpp/build/cleanup-install.sh

Include sha256 digest for each tar file in github artifacts (#116)
  azure-pipelines/publishing/github-release.yml
Due: none

DO SDK: Handle downlevel OS set_property failure
  sdk-cpp/src/do_download.cpp
Due: azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/mac/dosdkcpp.yml, azure-pipelines/build/windows/dosdkcpp.yml

DO SDK: Handle downlevel OS set_property failure (#117)
  sdk-cpp/src/do_download.cpp
Due: azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/mac/dosdkcpp.yml, azure-pipelines/build/windows/dosdkcpp.yml

DO SDK test: Updates for the set_property workaround
  sdk-cpp/tests/com/download_properties_tests.cpp
  sdk-cpp/tests_nothrow/download_properties_tests.cpp
Due: azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/mac/dosdkcpp.yml, azure-pipelines/build/windows/dosdkcpp.yml

Add debian10 (arm64, amd64) support - ADU DO Client
  azure-pipelines/build/linux/du/docker/doclient-lite-docker.yml
  azure-pipelines/build/linux/du/docker/dopapt-docker.yml
  azure-pipelines/build/linux/du/docker/dosdkcpp-docker.yml
  build/docker/debian10/amd64/Dockerfile
  build/docker/debian10/arm64/Dockerfile
Due: none

fix steps template name on yml files
  azure-pipelines/build/linux/du/docker/doclient-lite-docker.yml
  azure-pipelines/build/linux/du/docker/dopapt-docker.yml
  azure-pipelines/build/linux/du/docker/dosdkcpp-docker.yml
Due: none

add multiarch support to qemu VM
  azure-pipelines/build/linux/du/templates/doclient-lite-docker-steps.yml
  build/docker/debian10/amd64/Dockerfile
Due: none

Agent: Fix false net connectivity loss detection
  client-lite/src/config/network_monitor.cpp
  client-lite/test/network_monitor_tests.cpp
Due: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/du/doclient-lite-native.yml

Agent: Fix false net connectivity loss detection (#121)
  client-lite/src/config/network_monitor.cpp
  client-lite/test/network_monitor_tests.cpp
Due: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/du/doclient-lite-native.yml

change all Dockerfiles to use golden images as the base image
  azure-pipelines/build/linux/du/docker/doclient-lite-docker.yml
  azure-pipelines/build/linux/du/docker/dopapt-docker.yml
  azure-pipelines/build/linux/du/docker/dosdkcpp-docker.yml
  azure-pipelines/build/linux/du/native/doclient-lite-ubuntu1804.yml
  azure-pipelines/build/linux/du/native/dopapt-ubuntu1804.yml
  azure-pipelines/build/linux/du/native/dosdkcpp-ubuntu1804.yml
  azure-pipelines/publishing/github-release.yml
  build/docker/debian10/amd64/Dockerfile
  build/docker/debian10/arm32/Dockerfile
  build/docker/debian10/arm64/Dockerfile
  build/docker/ubuntu1804/arm64/Dockerfile
  build/docker/ubuntu2004/amd64/Dockerfile
  build/docker/ubuntu2004/arm64/Dockerfile
Due: none

ubuntu1804 yml version fix
  azure-pipelines/build/linux/du/native/doclient-lite-ubuntu1804.yml
  azure-pipelines/build/linux/du/native/dopapt-ubuntu1804.yml
  azure-pipelines/build/linux/du/native/dosdkcpp-ubuntu1804.yml
Due: none

add containerImage variable to avoid conflict between container and VM images
  azure-pipelines/build/linux/du/docker/doclient-lite-docker.yml
  azure-pipelines/build/linux/du/docker/dopapt-docker.yml
  azure-pipelines/build/linux/du/docker/dosdkcpp-docker.yml
  azure-pipelines/build/linux/du/native/dopapt-ubuntu1804.yml
  azure-pipelines/publishing/github-release.yml
Due: none

remove unnecessary variable
  azure-pipelines/build/linux/du/native/dopapt-ubuntu1804.yml
Due: none

add enable qemu multiarch to pipeline steps
  azure-pipelines/build/linux/du/templates/dopapt-docker-steps.yml
  azure-pipelines/build/linux/du/templates/dosdkcpp-docker-steps.yml
Due: none

Fix debian10 arm64 build for sdk and plugin (#123)
  azure-pipelines/build/linux/du/templates/dopapt-docker-steps.yml
  azure-pipelines/build/linux/du/templates/dosdkcpp-docker-steps.yml
Due: none

Agent,SDK: Remove MCC configuration via IoT connection string
  client-lite/src/config/config_defaults.h
  client-lite/src/config/config_manager.cpp
  client-lite/src/config/config_manager.h
  client-lite/src/config/mcc_manager.cpp
  client-lite/src/util/do_persistence.cpp
  client-lite/test/mcc_manager.tests.cpp
  sdk-cpp/src/do_config.cpp
  sdk-cpp/src/internal/com/do_config_internal.cpp
  sdk-cpp/src/internal/do_config_internal.h
  sdk-cpp/src/internal/rest/do_config_internal.cpp
  sdk-cpp/src/internal/rest/util/do_persistence.cpp
  sdk-cpp/src/internal/rest/util/do_persistence.h
  sdk-cpp/tests/rest/config_tests.cpp
  sdk-cpp/tests/rest/mcc_download_tests.cpp
Due: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/linux/du/doclient-lite-native.yml, azure-pipelines/build/mac/dosdkcpp.yml, azure-pipelines/build/windows/dosdkcpp.yml

Agent: Http: Use shorter connect timeout
  client-lite/src/download/download.cpp
  client-lite/src/util/http_agent.cpp
  client-lite/src/util/http_agent.h
  client-lite/src/util/http_agent_interface.h
Due: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/du/doclient-lite-native.yml

Expand mcc fatal errors and increase ban time
  client-lite/src/config/config_defaults.h
  client-lite/src/config/mcc_manager.cpp
  client-lite/src/include/do_error.h
  client-lite/src/util/http_agent.cpp
Due: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/du/doclient-lite-native.yml

MCC can be banned for all hosts and per host
  client-lite/src/config/mcc_manager.cpp
  client-lite/src/config/mcc_manager.h
  client-lite/src/download/download.cpp
  client-lite/test/mcc_manager.tests.cpp
Due: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/du/doclient-lite-native.yml

Agent: Http: Use shorter connect timeout (#125)
  client-lite/src/config/config_defaults.h
  client-lite/src/config/mcc_manager.cpp
  client-lite/src/config/mcc_manager.h
  client-lite/src/download/download.cpp
  client-lite/src/include/do_error.h
  client-lite/src/util/http_agent.cpp
  client-lite/src/util/http_agent.h
  client-lite/src/util/http_agent_interface.h
  client-lite/test/mcc_manager.tests.cpp
Due: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/du/doclient-lite-native.yml

Fix build warnings
  client-lite/src/trace/do_log.cpp
  sdk-cpp/tests_nothrow/download_properties_tests.cpp
  sdk-cpp/tests_nothrow/download_tests.cpp
Due: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/linux/du/doclient-lite-native.yml, azure-pipelines/build/mac/dosdkcpp.yml, azure-pipelines/build/windows/dosdkcpp.yml

Fix build warnings (#126)
  client-lite/src/trace/do_log.cpp
  sdk-cpp/tests_nothrow/download_properties_tests.cpp
  sdk-cpp/tests_nothrow/download_tests.cpp
Due: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/linux/du/doclient-lite-native.yml, azure-pipelines/build/mac/dosdkcpp.yml, azure-pipelines/build/windows/dosdkcpp.yml

SDK: do_error_macros.h is for internal use
  sdk-cpp/include/do_download.h
  sdk-cpp/include/do_error_macros.h
  sdk-cpp/include/do_errors.h
  sdk-cpp/src/do_config.cpp
  sdk-cpp/src/do_download.cpp
  sdk-cpp/src/do_download_property.cpp
  sdk-cpp/src/do_errors.cpp
  sdk-cpp/src/internal/com/do_download_property_internal.cpp
  sdk-cpp/src/internal/com/download_impl.cpp
  sdk-cpp/src/internal/do_error_helpers.h
  sdk-cpp/src/internal/rest/do_download_property_internal.cpp
  sdk-cpp/src/internal/rest/download_impl.cpp
  sdk-cpp/tests/download_tests_common.cpp
  sdk-cpp/tests/tests_common.h
Due: azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/mac/dosdkcpp.yml, azure-pipelines/build/windows/dosdkcpp.yml

SDK: Cleanup public do_errors.h
  sdk-cpp/include/do_download_status.h
  sdk-cpp/include/do_errors.h
  sdk-cpp/src/do_download.cpp
  sdk-cpp/src/do_download_property.cpp
  sdk-cpp/src/do_download_status.cpp
  sdk-cpp/src/do_errors.cpp
  sdk-cpp/src/internal/do_download_property_internal.h
  sdk-cpp/src/internal/do_error_helpers.cpp
  sdk-cpp/src/internal/do_error_helpers.h
  sdk-cpp/src/internal/do_exceptions_internal.cpp
  sdk-cpp/src/internal/do_exceptions_internal.h
  sdk-cpp/src/internal/rest/do_download_property_internal.cpp
  sdk-cpp/src/internal/rest/download_impl.cpp
  sdk-cpp/tests/download_tests_common.cpp
  sdk-cpp/tests/rest/network_connectivity_tests.cpp
Due: azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/mac/dosdkcpp.yml, azure-pipelines/build/windows/dosdkcpp.yml

Fix windows build
  sdk-cpp/src/internal/com/do_download_property_internal.cpp
  sdk-cpp/src/internal/com/download_impl.cpp
  sdk-cpp/src/internal/do_download_property_internal.h
  sdk-cpp/src/internal/download_impl.h
Due: azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/mac/dosdkcpp.yml, azure-pipelines/build/windows/dosdkcpp.yml

Fix some build warnings
  sdk-cpp/src/internal/do_error_helpers.cpp
  sdk-cpp/tests/com/download_tests.cpp
  sdk-cpp/tests_nothrow/download_properties_tests.cpp
Due: azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/mac/dosdkcpp.yml, azure-pipelines/build/windows/dosdkcpp.yml

SDK: Cleanup public do_errors.h and build warnings (#129)
  sdk-cpp/include/do_download.h
  sdk-cpp/include/do_download_status.h
  sdk-cpp/include/do_error_macros.h
  sdk-cpp/include/do_errors.h
  sdk-cpp/src/do_config.cpp
  sdk-cpp/src/do_download.cpp
  sdk-cpp/src/do_download_property.cpp
  sdk-cpp/src/do_download_status.cpp
  sdk-cpp/src/do_errors.cpp
  sdk-cpp/src/internal/com/do_download_property_internal.cpp
  sdk-cpp/src/internal/com/download_impl.cpp
  sdk-cpp/src/internal/do_download_property_internal.h
  sdk-cpp/src/internal/do_error_helpers.cpp
  sdk-cpp/src/internal/do_error_helpers.h
  sdk-cpp/src/internal/do_exceptions_internal.cpp
  sdk-cpp/src/internal/do_exceptions_internal.h
  sdk-cpp/src/internal/download_impl.h
  sdk-cpp/src/internal/rest/do_download_property_internal.cpp
  sdk-cpp/src/internal/rest/download_impl.cpp
  sdk-cpp/tests/com/download_tests.cpp
  sdk-cpp/tests/download_tests_common.cpp
  sdk-cpp/tests/rest/network_connectivity_tests.cpp
  sdk-cpp/tests/tests_common.h
  sdk-cpp/tests_nothrow/download_properties_tests.cpp
Due: azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/mac/dosdkcpp.yml, azure-pipelines/build/windows/dosdkcpp.yml

SDK,Plugin: Remove exceptions from public APIs
  build/build.py
  plugins/linux-apt/CMakeLists.txt
  plugins/linux-apt/main.cpp
  sdk-cpp/CMakeLists.txt
  sdk-cpp/include/do_download.h
  sdk-cpp/include/do_download_property.h
  sdk-cpp/include/do_errors.h
  sdk-cpp/src/do_download.cpp
  sdk-cpp/src/do_download_property.cpp
  sdk-cpp/src/do_errors.cpp
  sdk-cpp/src/internal/com/do_download_property_internal.cpp
  sdk-cpp/src/internal/com/download_impl.cpp
  sdk-cpp/src/internal/do_error_helpers.h
  sdk-cpp/src/internal/do_exceptions_internal.cpp
  sdk-cpp/src/internal/do_exceptions_internal.h
  sdk-cpp/src/internal/rest/download_impl.cpp
  sdk-cpp/src/internal/rest/util/do_http_client.cpp
  sdk-cpp/src/internal/rest/util/do_port_finder.cpp
  sdk-cpp/tests/CMakeLists.txt
  sdk-cpp/tests/com/download_properties_tests.cpp
  sdk-cpp/tests/com/download_tests.cpp
  sdk-cpp/tests/com/test_helpers.cpp
  sdk-cpp/tests/download_properties_tests.cpp
  sdk-cpp/tests/download_tests_common.cpp
  sdk-cpp/tests/rest/mcc_download_tests.cpp
  sdk-cpp/tests/rest/network_connectivity_tests.cpp
  sdk-cpp/tests/test_data.cpp
  sdk-cpp/tests/test_data.h
  sdk-cpp/tests/test_helpers.h
  sdk-cpp/tests_nothrow/CMakeLists.txt
  sdk-cpp/tests_nothrow/dosdkcpp_testrunner.cpp
  sdk-cpp/tests_nothrow/download_tests.cpp
  sdk-cpp/tests_nothrow/test_data.cpp
  sdk-cpp/tests_nothrow/test_data.h
  sdk-cpp/tests_nothrow/test_helpers.cpp
  sdk-cpp/tests_nothrow/test_helpers.h
  sdk-cpp/tests_nothrow/tests_common.h
Due: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dopapt-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/linux/du/doclient-lite-native.yml, azure-pipelines/build/mac/dosdkcpp.yml, azure-pipelines/build/windows/dosdkcpp.yml

Fix test code
  sdk-cpp/tests/CMakeLists.txt
  sdk-cpp/tests/download_properties_tests.cpp
  sdk-cpp/tests/download_tests_common.cpp
  sdk-cpp/tests/rest/test_helpers.cpp
  sdk-cpp/tests/test_helpers.h
  sdk-cpp/tests/tests_common.h
Due: azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/mac/dosdkcpp.yml, azure-pipelines/build/windows/dosdkcpp.yml

PR feedback
  plugins/linux-apt/main.cpp
  sdk-cpp/tests/test_data.cpp
Due: azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/dopapt-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/mac/dosdkcpp.yml, azure-pipelines/build/windows/dosdkcpp.yml

SDK, Plugin: Replace exceptions model with error code return (#130)
  build/build.py
  plugins/linux-apt/CMakeLists.txt
  plugins/linux-apt/main.cpp
  sdk-cpp/CMakeLists.txt
  sdk-cpp/include/do_download.h
  sdk-cpp/include/do_download_property.h
  sdk-cpp/include/do_errors.h
  sdk-cpp/src/do_download.cpp
  sdk-cpp/src/do_download_property.cpp
  sdk-cpp/src/do_errors.cpp
  sdk-cpp/src/internal/com/do_download_property_internal.cpp
  sdk-cpp/src/internal/com/download_impl.cpp
  sdk-cpp/src/internal/do_error_helpers.h
  sdk-cpp/src/internal/do_exceptions_internal.cpp
  sdk-cpp/src/internal/do_exceptions_internal.h
  sdk-cpp/src/internal/rest/download_impl.cpp
  sdk-cpp/src/internal/rest/util/do_http_client.cpp
  sdk-cpp/src/internal/rest/util/do_port_finder.cpp
  sdk-cpp/tests/CMakeLists.txt
  sdk-cpp/tests/com/download_properties_tests.cpp
  sdk-cpp/tests/com/download_tests.cpp
  sdk-cpp/tests/com/test_helpers.cpp
  sdk-cpp/tests/download_properties_tests.cpp
  sdk-cpp/tests/download_tests_common.cpp
  sdk-cpp/tests/rest/mcc_download_tests.cpp
  sdk-cpp/tests/rest/network_connectivity_tests.cpp
  sdk-cpp/tests/rest/test_helpers.cpp
  sdk-cpp/tests/test_data.cpp
  sdk-cpp/tests/test_data.h
  sdk-cpp/tests/test_helpers.h
  sdk-cpp/tests/tests_common.h
  sdk-cpp/tests_nothrow/CMakeLists.txt
  sdk-cpp/tests_nothrow/dosdkcpp_testrunner.cpp
  sdk-cpp/tests_nothrow/download_tests.cpp
  sdk-cpp/tests_nothrow/test_data.cpp
  sdk-cpp/tests_nothrow/test_data.h
  sdk-cpp/tests_nothrow/test_helpers.cpp
  sdk-cpp/tests_nothrow/test_helpers.h
  sdk-cpp/tests_nothrow/tests_common.h
Due: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dopapt-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/linux/du/doclient-lite-native.yml, azure-pipelines/build/mac/dosdkcpp.yml, azure-pipelines/build/windows/dosdkcpp.yml

SDK: Fix deb9 build. boost::error_code.
  sdk-cpp/src/internal/rest/util/do_http_client.cpp
Due: azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/mac/dosdkcpp.yml, azure-pipelines/build/windows/dosdkcpp.yml
