Repository microsoft/do-client: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dopapt-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/linux/du/doclient-lite-native.yml, azure-pipelines/build/mac/dosdkcpp.yml, azure-pipelines/build/windows/dosdkcpp.yml

Path conditions:
  azure-pipelines/build/doclient-lite-native.yml: any of: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/templates/doclient-lite-native-steps.yml, client-lite, common, build/build.py, CMakeLists.txt, but not: azure-pipelines
  azure-pipelines/build/dopapt-native.yml: any of: azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/templates/dopapt-native-steps.yml, common, plugins, build/build.py, CMakeLists.txt, but not: azure-pipelines, plugins/linux-apt/scripts/configure-apt-method.sh
  azure-pipelines/build/dosdkcpp-native.yml: any of: azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/templates/dosdkcpp-native-steps.yml, common, sdk-cpp, build/build.py, CMakeLists.txt, but not: azure-pipelines, sdk-cpp/build/cleanup-install.sh
  azure-pipelines/build/linux/doclient-lite-native.yml: any of: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/templates/doclient-lite-native-steps.yml, client-lite, common, build/build.py, CMakeLists.txt, but not: azure-pipelines
  azure-pipelines/build/linux/dopapt-native.yml: any of: azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/templates/dopapt-native-steps.yml, common, plugins, build/build.py, CMakeLists.txt, but not: azure-pipelines, plugins/linux-apt/scripts/configure-apt-method.sh
  azure-pipelines/build/linux/dosdkcpp-native.yml: any of: azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/templates/dosdkcpp-native-steps.yml, common, sdk-cpp, build/build.py, CMakeLists.txt, but not: azure-pipelines, sdk-cpp/build/cleanup-install.sh
  azure-pipelines/build/linux/du/doclient-lite-native.yml: any of: azure-pipelines/build/linux/du/doclient-lite-native.yml, azure-pipelines/build/linux/du/templates/doclient-lite-native-steps.yml, client-lite, common, build/build.py, CMakeLists.txt, but not: azure-pipelines
  azure-pipelines/build/mac/dosdkcpp.yml: any of: azure-pipelines/build/mac, common, sdk-cpp, build/build.py, CMakeLists.txt, but not: azure-pipelines, sdk-cpp/build/cleanup-install.sh
  azure-pipelines/build/windows/dosdkcpp.yml: any of: azure-pipelines/build/windows, common, sdk-cpp, build/build.py, CMakeLists.txt, but not: azure-pipelines, sdk-cpp/build/cleanup-install.sh

use compiler version check instead
  common/cmake/do-filesystem.cmake
Due: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dopapt-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/linux/du/doclient-lite-native.yml, azure-pipelines/build/mac/dosdkcpp.yml, azure-pipelines/build/windows/dosdkcpp.yml

add_boost_definitions
  client-lite/CMakeLists.txt
  client-lite/src/include/do_filesystem.h
  client-lite/test/CMakeLists.txt
  common/cmake/do-build-helpers.cmake
  sdk-cpp/CMakeLists.txt
  sdk-cpp/tests/CMakeLists.txt
Due: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dopapt-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/linux/du/doclient-lite-native.yml, azure-pipelines/build/mac/dosdkcpp.yml, azure-pipelines/build/windows/dosdkcpp.yml

Choose between fs and exp fs in agent
  client-lite/src/include/do_filesystem.h
  client-lite/src/ipc/rest_port_advertiser.h
  client-lite/src/util/do_json_parser.cpp
  client-lite/src/util/proc_launch_helper.h
  client-lite/test/do_log_tests.cpp
  client-lite/test/docs_tests.cpp
  client-lite/test/download_manager_tests.cpp
  client-lite/test/json_parser_tests.cpp
  client-lite/test/mcc_manager.tests.cpp
  client-lite/test/test_common.h
  client-lite/test/test_verifiers.h
Due: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/du/doclient-lite-native.yml

Fix fs linking for agent
  CMakeLists.txt
  client-lite/CMakeLists.txt
  client-lite/test/CMakeLists.txt
  common/cmake/do-filesystem.cmake
Due: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dopapt-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/linux/du/doclient-lite-native.yml, azure-pipelines/build/mac/dosdkcpp.yml, azure-pipelines/build/windows/dosdkcpp.yml

Cleanup do-filesystem
  CMakeLists.txt
  common/cmake/do-build-helpers.cmake
  common/cmake/do-filesystem.cmake
Due: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dopapt-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/linux/du/doclient-lite-native.yml, azure-pipelines/build/mac/dosdkcpp.yml, azure-pipelines/build/windows/dosdkcpp.yml

Fix boost system undefined ref
  client-lite/CMakeLists.txt
Due: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/du/doclient-lite-native.yml

Fix Boost linking for sdk
  sdk-cpp/CMakeLists.txt
  sdk-cpp/tests/CMakeLists.txt
Due: azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/mac/dosdkcpp.yml, azure-pipelines/build/windows/dosdkcpp.yml

Update expected binary sizes (stdc++fs on Ubuntu 18.04)
  azure-pipelines/build/linux/du/templates/doclient-lite-native-steps.yml
  azure-pipelines/build/linux/du/templates/dosdkcpp-native-steps.yml
Due: none

Replace boost::filesystem usage with std::filesystem (#169)
  CMakeLists.txt
  azure-pipelines/build/linux/du/templates/doclient-lite-native-steps.yml
  azure-pipelines/build/linux/du/templates/dosdkcpp-native-steps.yml
  build/scripts/bootstrap.sh
  build/scripts/install-vcpkg-deps.ps1
  build/scripts/install-vcpkg-deps.sh
  client-lite/CMakeLists.txt
  client-lite/src/include/do_filesystem.h
  client-lite/src/ipc/rest_port_advertiser.h
  client-lite/src/util/do_json_parser.cpp
  client-lite/src/util/proc_launch_helper.h
  client-lite/test/CMakeLists.txt
  client-lite/test/do_log_tests.cpp
  client-lite/test/docs_tests.cpp
  client-lite/test/download_manager_tests.cpp
  client-lite/test/json_parser_tests.cpp
  client-lite/test/mcc_manager.tests.cpp
  client-lite/test/test_common.h
  client-lite/test/test_verifiers.h
  common/cmake/do-build-helpers.cmake
  sdk-cpp/CMakeLists.txt
  sdk-cpp/build/cmake/deliveryoptimization_sdk-config.cmake
  sdk-cpp/src/internal/do_filesystem.h
  sdk-cpp/src/internal/rest/do_config_internal.cpp
  sdk-cpp/src/internal/rest/util/do_port_finder.cpp
  sdk-cpp/tests/CMakeLists.txt
  sdk-cpp/tests/download_properties_tests.cpp
  sdk-cpp/tests/download_tests_common.cpp
  sdk-cpp/tests/rest/config_tests.cpp
  sdk-cpp/tests/rest/mcc_download_tests.cpp
  sdk-cpp/tests/rest/network_connectivity_tests.cpp
  sdk-cpp/tests/rest/port_discovery_tests.cpp
  sdk-cpp/tests/rest/rest_interface_tests.cpp
  sdk-cpp/tests/rest/test_helpers.cpp
  sdk-cpp/tests/test_data.cpp
  sdk-cpp/tests/test_helpers.h
  sdk-cpp/tests/tests_common.h
  snapcraft-options/snapcraft-agent.yaml
  snapcraft-options/snapcraft-sdk.yaml
Due: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dopapt-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/linux/du/doclient-lite-native.yml, azure-pipelines/build/mac/dosdkcpp.yml, azure-pipelines/build/windows/dosdkcpp.yml

Work around FindBoost issue for consumers
  CMakeLists.txt
  sdk-cpp/build/cmake/deliveryoptimization_sdk-config.cmake
Due: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dopapt-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/linux/du/doclient-lite-native.yml, azure-pipelines/build/mac/dosdkcpp.yml, azure-pipelines/build/windows/dosdkcpp.yml

Make cleanup_install executable
  sdk-cpp/build/cleanup-install.sh
Due: none

Minor updates to config.cmake
  sdk-cpp/build/cmake/deliveryoptimization_sdk-config.cmake
Due: azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/mac/dosdkcpp.yml, azure-pipelines/build/windows/dosdkcpp.yml

Fix include dirs for DO lib also
  sdk-cpp/build/cmake/deliveryoptimization_sdk-config.cmake
Due: azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/mac/dosdkcpp.yml, azure-pipelines/build/windows/dosdkcpp.yml

Revert all changes
  CMakeLists.txt
  sdk-cpp/build/cleanup-install.sh
  sdk-cpp/build/cmake/deliveryoptimization_sdk-config.cmake
Due: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dopapt-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/linux/du/doclient-lite-native.yml, azure-pipelines/build/mac/dosdkcpp.yml, azure-pipelines/build/windows/dosdkcpp.yml

Redo changes after rebasing
  CMakeLists.txt
  sdk-cpp/build/cleanup-install.sh
  sdk-cpp/build/cmake/deliveryoptimization_sdk-config.cmake
Due: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dopapt-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/linux/du/doclient-lite-native.yml, azure-pipelines/build/mac/dosdkcpp.yml, azure-pipelines/build/windows/dosdkcpp.yml

A more complete fix for non-existent /include path (#167)
  CMakeLists.txt
  sdk-cpp/build/cleanup-install.sh
  sdk-cpp/build/cmake/deliveryoptimization_sdk-config.cmake
Due: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dopapt-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/linux/du/doclient-lite-native.yml, azure-pipelines/build/mac/dosdkcpp.yml, azure-pipelines/build/windows/dosdkcpp.yml

Adding support for building DO snaps for arm64 architecture
  build/build-snaps.sh
  snapcraft-options/snapcraft-agent.yaml
  snapcraft-options/snapcraft-sdk.yaml
  snapcraft-options/ubuntu-snap.md
Due: none

Adding support for building DO snaps for arm64 architecture (#170)
  build/build-snaps.sh
  snapcraft-options/snapcraft-agent.yaml
  snapcraft-options/snapcraft-sdk.yaml
  snapcraft-options/ubuntu-snap.md
Due: none

adjustments before publish
  snapcraft-options/snapcraft-agent.yaml
  snapcraft-options/ubuntu-snap.md
Due: none

change snap name
  snapcraft-options/snapcraft-agent.yaml
  snapcraft-options/ubuntu-snap.md
Due: none

Adjust agent snapcraft yaml before first publish (#171)
  snapcraft-options/snapcraft-agent.yaml
  snapcraft-options/ubuntu-snap.md
Due: none

Add pipeline suport ubuntu 22.04
  azure-pipelines/build/linux/du/docker/doclient-lite-docker.yml
  azure-pipelines/build/linux/du/docker/dopapt-docker.yml
  azure-pipelines/build/linux/du/docker/dosdkcpp-docker.yml
  azure-pipelines/publishing/github-release.yml
Due: none

Add Dockerfiles to build ubuntu 22.04 images
  build/docker/ubuntu2204/amd64/Dockerfile
  build/docker/ubuntu2204/arm64/Dockerfile
  build/scripts/bootstrap.sh
Due: none

fix base images hashes
  build/docker/ubuntu2204/amd64/Dockerfile
  build/docker/ubuntu2204/arm64/Dockerfile
  build/scripts/bootstrap.sh
Due: none

fix gtest release
  build/docker/ubuntu2204/arm64/bootstrap.sh
Due: none

fix gtest release
  build/docker/ubuntu2204/arm64/bootstrap.sh
  build/scripts/bootstrap.sh
Due: none

fix gsl version for ubuntu 22.04
  build/scripts/bootstrap.sh
Due: none

test header fix for gsl narrow usage
  common/lib-dohttp/do_http_parser.cpp
  sdk-cpp/src/internal/rest/util/do_http_client.cpp
Due: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dopapt-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/linux/du/doclient-lite-native.yml, azure-pipelines/build/mac/dosdkcpp.yml, azure-pipelines/build/windows/dosdkcpp.yml

test gsl dependency for narrow usage
  build/scripts/bootstrap.sh
Due: none

fix gsl include for ubuntu 22.04
  build/scripts/bootstrap.sh
  common/lib-dohttp/do_http_parser.cpp
  sdk-cpp/src/internal/rest/util/do_http_client.cpp
Due: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dopapt-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/linux/du/doclient-lite-native.yml, azure-pipelines/build/mac/dosdkcpp.yml, azure-pipelines/build/windows/dosdkcpp.yml

update pip install for ubuntu 22.04
  build/scripts/bootstrap.sh
Due: none

update gsl include for other files
  client-lite/src/ipc/rest_port_advertiser.h
  sdk-cpp/src/internal/rest/util/do_http_client.cpp
Due: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/linux/du/doclient-lite-native.yml, azure-pipelines/build/mac/dosdkcpp.yml, azure-pipelines/build/windows/dosdkcpp.yml

remove unnecessary install line
  build/scripts/bootstrap.sh
Due: none

remove unnecessary sudo
  build/scripts/bootstrap.sh
Due: none

install file utility dep for CPackDeb
  build/scripts/bootstrap.sh
Due: none

add comment for file package info
  build/scripts/bootstrap.sh
Due: none

User/andretoyama msft/support ubuntu2204 (#172)
  azure-pipelines/build/linux/du/docker/doclient-lite-docker.yml
  azure-pipelines/build/linux/du/docker/dopapt-docker.yml
  azure-pipelines/build/linux/du/docker/dosdkcpp-docker.yml
  azure-pipelines/publishing/github-release.yml
  build/docker/ubuntu2204/amd64/Dockerfile
  build/docker/ubuntu2204/arm64/Dockerfile
  build/scripts/bootstrap.sh
  client-lite/src/ipc/rest_port_advertiser.h
  common/lib-dohttp/do_http_parser.cpp
  sdk-cpp/src/internal/rest/util/do_http_client.cpp
Due: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dopapt-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/linux/du/doclient-lite-native.yml, azure-pipelines/build/mac/dosdkcpp.yml, azure-pipelines/build/windows/dosdkcpp.yml

add parallel flag into build optionns
  build/build.py
Due: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dopapt-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/linux/du/doclient-lite-native.yml, azure-pipelines/build/mac/dosdkcpp.yml, azure-pipelines/build/windows/dosdkcpp.yml

Add 'parallel' flag to linux argParser
  build/build.py
Due: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dopapt-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/linux/du/doclient-lite-native.yml, azure-pipelines/build/mac/dosdkcpp.yml, azure-pipelines/build/windows/dosdkcpp.yml

add RPi recognizition in the build
  sdk-cpp/tests/test_data.cpp
  snapcraft-options/connect-snaps.sh
  snapcraft-options/snapcraft-agent.yaml
  snapcraft-options/snapcraft-sdk.yaml
Due: azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/mac/dosdkcpp.yml, azure-pipelines/build/windows/dosdkcpp.yml
