Repository microsoft/do-client: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dopapt-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/linux/du/doclient-lite-native.yml, azure-pipelines/build/linux/du/doclient-pr.yml, azure-pipelines/build/linux/du/native/doclient-lite-ubuntu1804.yml, azure-pipelines/build/linux/du/native/dopapt-ubuntu1804.yml, azure-pipelines/build/linux/du/native/dosdkcpp-ubuntu1804.yml, azure-pipelines/build/mac/dosdkcpp.yml, azure-pipelines/build/windows/dosdkcpp.yml

azure-pipelines/build/doclient-lite-native.yml:
  pool:
    name: 1es_hosted_pool_ubuntu_1804
    vmImage: do-adu-build-2
  jobs:
  - job: Debug
    steps:
    - template: templates/doclient-lite-native-steps.yml
      parameters:
        targetOsArch: ubuntu1804_x64
        config: debug
  - job: Release
    steps:
  ...

azure-pipelines/build/dopapt-native.yml:
  pool:
    name: 1es_hosted_pool_ubuntu_1804
    vmImage: do-adu-build-$(version)
  jobs:
  - job: Debug
    steps:
    - template: templates/dopapt-native-steps.yml
      parameters:
        targetOsArch: ubuntu1804_x64
        config: debug
  - job: Release
    steps:
    - template: templates/dopapt-native-steps.yml
  ...

azure-pipelines/build/dosdkcpp-native.yml:
  pool:
    name: 1es_hosted_pool_ubuntu_1804
    vmImage: do-adu-build-$(imageVersion)
  jobs:
  - job: Debug
    steps:
    - template: templates/dosdkcpp-native-steps.yml
      parameters:
        targetOsArch: ubuntu1804_x64
        config: debug
  - job: Release
    steps:
  ...

azure-pipelines/build/linux/doclient-lite-native.yml:
  pool: dotestlab
  jobs:
  - job: Debug
    steps:
    - template: templates/doclient-lite-native-steps.yml
      parameters:
        targetOsArch: ubuntu1804-x64
        config: debug
  - job: Release
    steps:
    - template: templates/doclient-lite-native-steps.yml
      parameters:
        targetOsArch: ubuntu1804-x64
  ...

azure-pipelines/build/linux/dopapt-native.yml:
  pool: dotestlab
  jobs:
  - job: Debug
    steps:
    - template: templates/dopapt-native-steps.yml
      parameters:
        targetOsArch: ubuntu1804-x64
        config: debug
  - job: Release
    steps:
    - template: templates/dopapt-native-steps.yml
      parameters:
        targetOsArch: ubuntu1804-x64
  ...

azure-pipelines/build/linux/dosdkcpp-native.yml:
  pool: dotestlab
  jobs:
  - job: Debug
    steps:
    - template: templates/dosdkcpp-native-steps.yml
      parameters:
        targetOsArch: ubuntu1804-x64
        config: debug
  - job: Release
    steps:
    - template: templates/dosdkcpp-native-steps.yml
      parameters:
        targetOsArch: ubuntu1804-x64
  ...

azure-pipelines/build/linux/du/doclient-lite-native.yml:
  pool: 1es_hosted_pool_ubuntu_1804
  jobs:
  - job: Debug
    steps:
    - template: templates/doclient-lite-native-steps.yml
      parameters:
        targetOsArch: ubuntu1804_x64
        config: debug
  - job: Release
    steps:
    - template: templates/doclient-lite-native-steps.yml
      parameters:
  ...

azure-pipelines/build/linux/du/doclient-pr.yml:
  pool:
    name: 1es_hosted_pool_ubuntu_1804
    demands: ImageOverride -equals do-adu-build-$(imageVersion)
  jobs:
  - job: set_variables
    displayName: Set variables
    pool:
      name: 1es_hosted_pool_ubuntu_1804
      demands: ImageOverride -equals 1es-img-sdl-windows2022
    steps:
    - task: PowerShell@2
  ...

Simplify release pipeline: Remove usage of release-docker-build-steps.yml (#188)
  azure-pipelines/publishing/github-release.yml
  azure-pipelines/publishing/templates/release-docker-build-steps.yml
Due: azure-pipelines/build/linux/du/doclient-pr.yml

Fix "a sequence was not expected"
  azure-pipelines/build/linux/du/docker/doclient-lite-docker.yml
Due: azure-pipelines/build/linux/du/doclient-pr.yml

Fix nullref error
  azure-pipelines/build/linux/du/docker/doclient-lite-docker.yml
Due: azure-pipelines/build/linux/du/doclient-pr.yml

Do it in the sdk and plugin pipeline also
  azure-pipelines/build/linux/du/docker/doclient-lite-docker.yml
  azure-pipelines/build/linux/du/docker/dopapt-docker.yml
  azure-pipelines/build/linux/du/docker/dosdkcpp-docker.yml
  azure-pipelines/build/linux/du/native/dopapt-ubuntu1804.yml
  azure-pipelines/build/linux/du/native/dosdkcpp-ubuntu1804.yml
Due: azure-pipelines/build/linux/du/doclient-pr.yml

Try PR and CI pipeline in one for agent
  azure-pipelines/build/linux/du/docker/doclient-lite-docker.yml
  azure-pipelines/build/linux/du/native/doclient-lite-ubuntu1804.yml
Due: azure-pipelines/build/linux/du/doclient-pr.yml

Use condition in jobs
  azure-pipelines/build/linux/du/docker/doclient-lite-docker.yml
Due: azure-pipelines/build/linux/du/doclient-pr.yml

Remove the native yamls. Remove docker subdir.
  azure-pipelines/build/linux/du/doclient-lite-docker.yml
  azure-pipelines/build/linux/du/dopapt-docker.yml
  azure-pipelines/build/linux/du/dosdkcpp-docker.yml
  azure-pipelines/build/linux/du/native/doclient-lite-ubuntu1804.yml
  azure-pipelines/build/linux/du/native/dopapt-ubuntu1804.yml
  azure-pipelines/build/linux/du/native/dosdkcpp-ubuntu1804.yml
Due: azure-pipelines/build/linux/du/doclient-pr.yml

Remove duplicate yaml files now that all builds are docker-based (#189)
  azure-pipelines/build/linux/du/docker/doclient-lite-docker.yml
  azure-pipelines/build/linux/du/docker/dosdkcpp-docker.yml
  azure-pipelines/build/linux/du/doclient-lite-docker.yml
  azure-pipelines/build/linux/du/dopapt-docker.yml
  azure-pipelines/build/linux/du/dosdkcpp-docker.yml
  azure-pipelines/build/linux/du/native/doclient-lite-ubuntu1804.yml
  azure-pipelines/build/linux/du/native/dopapt-ubuntu1804.yml
  azure-pipelines/build/linux/du/native/dosdkcpp-ubuntu1804.yml
Due: azure-pipelines/build/linux/du/doclient-pr.yml

Fix template relative path in root yamls
  azure-pipelines/build/linux/du/doclient-lite-docker.yml
  azure-pipelines/build/linux/du/dopapt-docker.yml
  azure-pipelines/build/linux/du/dosdkcpp-docker.yml
Due: azure-pipelines/build/linux/du/doclient-pr.yml

Pipelines: Fix template relative path in root yamls (#191)
  azure-pipelines/build/linux/du/doclient-lite-docker.yml
  azure-pipelines/build/linux/du/dopapt-docker.yml
  azure-pipelines/build/linux/du/dosdkcpp-docker.yml
Due: azure-pipelines/build/linux/du/doclient-pr.yml

Address unused imports flagged by pylance
  build/build.py
Due: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dopapt-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/linux/du/doclient-lite-native.yml, azure-pipelines/build/linux/du/doclient-pr.yml, azure-pipelines/build/linux/du/native/doclient-lite-ubuntu1804.yml, azure-pipelines/build/linux/du/native/dopapt-ubuntu1804.yml, azure-pipelines/build/linux/du/native/dosdkcpp-ubuntu1804.yml, azure-pipelines/build/mac/dosdkcpp.yml, azure-pipelines/build/windows/dosdkcpp.yml

build.py: Address unused imports flagged by pylance (#190)
  build/build.py
Due: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dopapt-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/linux/du/doclient-lite-native.yml, azure-pipelines/build/linux/du/doclient-pr.yml, azure-pipelines/build/linux/du/native/doclient-lite-ubuntu1804.yml, azure-pipelines/build/linux/du/native/dopapt-ubuntu1804.yml, azure-pipelines/build/linux/du/native/dosdkcpp-ubuntu1804.yml, azure-pipelines/build/mac/dosdkcpp.yml, azure-pipelines/build/windows/dosdkcpp.yml

[Edge] Fix libcpp compatibility issues
  sdk-cpp/src/internal/com/do_config_internal.cpp
Due: azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/linux/du/doclient-pr.yml, azure-pipelines/build/linux/du/native/dosdkcpp-ubuntu1804.yml, azure-pipelines/build/mac/dosdkcpp.yml, azure-pipelines/build/windows/dosdkcpp.yml

Use new ACR svc connection
  azure-pipelines/build/linux/du/templates/doclient-lite-docker-steps.yml
  azure-pipelines/build/linux/du/templates/dopapt-docker-steps.yml
  azure-pipelines/build/linux/du/templates/dosdkcpp-docker-steps.yml
Due: azure-pipelines/build/linux/du/doclient-pr.yml

Pipelines: Use new ACR svc connection that employs workload identity federation (#194)
  azure-pipelines/build/linux/du/templates/doclient-lite-docker-steps.yml
  azure-pipelines/build/linux/du/templates/dopapt-docker-steps.yml
  azure-pipelines/build/linux/du/templates/dosdkcpp-docker-steps.yml
Due: azure-pipelines/build/linux/du/doclient-pr.yml

Add build support for Debian 12
  build/scripts/bootstrap.sh
Due: azure-pipelines/build/linux/du/doclient-pr.yml

[Edge] Remove extra qualification
  sdk-cpp/src/internal/download_impl.h
Due: azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/linux/du/doclient-pr.yml, azure-pipelines/build/linux/du/native/dosdkcpp-ubuntu1804.yml, azure-pipelines/build/mac/dosdkcpp.yml, azure-pipelines/build/windows/dosdkcpp.yml

Add (unofficial) build support for Debian 12 (#195)
  build/scripts/bootstrap.sh
Due: azure-pipelines/build/linux/du/doclient-pr.yml

[Edge] Fix libcpp compatibility issues (#196)
  sdk-cpp/src/internal/com/do_config_internal.cpp
Due: azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/linux/du/doclient-pr.yml, azure-pipelines/build/linux/du/native/dosdkcpp-ubuntu1804.yml, azure-pipelines/build/mac/dosdkcpp.yml, azure-pipelines/build/windows/dosdkcpp.yml

[Edge] Remove extra qualification (#197)
  sdk-cpp/src/internal/download_impl.h
Due: azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/linux/du/doclient-pr.yml, azure-pipelines/build/linux/du/native/dosdkcpp-ubuntu1804.yml, azure-pipelines/build/mac/dosdkcpp.yml, azure-pipelines/build/windows/dosdkcpp.yml

Add fix to build in Debian 12
  build/scripts/bootstrap.sh
Due: azure-pipelines/build/linux/du/doclient-pr.yml

Add build support for Debian 12 (#198)
  build/scripts/bootstrap.sh
Due: azure-pipelines/build/linux/du/doclient-pr.yml

Fix unsafe buffer usage in download_impl.cpp
  sdk-cpp/src/internal/com/download_impl.cpp
Due: azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/linux/du/doclient-pr.yml, azure-pipelines/build/linux/du/native/dosdkcpp-ubuntu1804.yml, azure-pipelines/build/mac/dosdkcpp.yml, azure-pipelines/build/windows/dosdkcpp.yml

Agent: Use std::array instead of C-style array in download_impl.cpp (#200)
  sdk-cpp/src/internal/com/download_impl.cpp
Due: azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/linux/du/doclient-pr.yml, azure-pipelines/build/linux/du/native/dosdkcpp-ubuntu1804.yml, azure-pipelines/build/mac/dosdkcpp.yml, azure-pipelines/build/windows/dosdkcpp.yml

Agent tests: Update url in DownloadUrlWithRedirects
  client-lite/test/download_manager_tests.cpp
Due: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/du/doclient-lite-native.yml, azure-pipelines/build/linux/du/doclient-pr.yml, azure-pipelines/build/linux/du/native/doclient-lite-ubuntu1804.yml

README code updates
  README.md
Due: none

Use new svc connection for ACR
  azure-pipelines/build/linux/du/templates/doclient-lite-docker-steps.yml
  azure-pipelines/build/linux/du/templates/dopapt-docker-steps.yml
  azure-pipelines/build/linux/du/templates/dosdkcpp-docker-steps.yml
Due: azure-pipelines/build/linux/du/doclient-pr.yml

Branch refresh: Agent tests, README updates, build svc connection (#203)
  README.md
  azure-pipelines/build/linux/du/templates/doclient-lite-docker-steps.yml
  azure-pipelines/build/linux/du/templates/dopapt-docker-steps.yml
  azure-pipelines/build/linux/du/templates/dosdkcpp-docker-steps.yml
  client-lite/test/download_manager_tests.cpp
Due: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/du/doclient-lite-native.yml, azure-pipelines/build/linux/du/doclient-pr.yml, azure-pipelines/build/linux/du/native/doclient-lite-ubuntu1804.yml

Fix for incorrect retries of range request
  client-lite/src/util/http_agent.cpp
Due: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/du/doclient-lite-native.yml, azure-pipelines/build/linux/du/doclient-pr.yml, azure-pipelines/build/linux/du/native/doclient-lite-ubuntu1804.yml

Support Ubuntu 24.04 - Fix FindLibproxy. - Include cstdint because transitive include is not working in 24.04. - Add dockerfile and update yml files.
  README.md
  azure-pipelines/build/linux/du/doclient-lite-docker.yml
  azure-pipelines/build/linux/du/dopapt-docker.yml
  azure-pipelines/build/linux/du/dosdkcpp-docker.yml
  build/docker/ubuntu2404/amd64/Dockerfile
  build/docker/ubuntu2404/arm64/Dockerfile
  build/scripts/bootstrap.sh
  client-lite/test/test_data.h
  common/cmake/Findlibproxy.cmake
Due: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dopapt-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/linux/du/doclient-lite-native.yml, azure-pipelines/build/linux/du/doclient-pr.yml, azure-pipelines/build/linux/du/native/doclient-lite-ubuntu1804.yml, azure-pipelines/build/linux/du/native/dopapt-ubuntu1804.yml, azure-pipelines/build/linux/du/native/dosdkcpp-ubuntu1804.yml, azure-pipelines/build/mac/dosdkcpp.yml, azure-pipelines/build/windows/dosdkcpp.yml

SDK: Workaround some flaky tests
  sdk-cpp/tests/download_tests_common.cpp
Due: azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/linux/du/doclient-pr.yml, azure-pipelines/build/linux/du/native/dosdkcpp-ubuntu1804.yml, azure-pipelines/build/mac/dosdkcpp.yml, azure-pipelines/build/windows/dosdkcpp.yml

Agent: Fix for incorrect retries of range request (#204)
  client-lite/src/util/http_agent.cpp
Due: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/du/doclient-lite-native.yml, azure-pipelines/build/linux/du/doclient-pr.yml, azure-pipelines/build/linux/du/native/doclient-lite-ubuntu1804.yml

Support Debian12 in pipelines
  azure-pipelines/build/linux/du/doclient-lite-docker.yml
  azure-pipelines/build/linux/du/dopapt-docker.yml
  azure-pipelines/build/linux/du/dosdkcpp-docker.yml
  build/docker/debian12/amd64/Dockerfile
  build/docker/debian12/arm32/Dockerfile
  build/docker/debian12/arm64/Dockerfile
Due: azure-pipelines/build/linux/du/doclient-pr.yml

Fix Debian11 dockerfiles to reference the correct base image
  build/docker/debian11/amd64/Dockerfile
  build/docker/debian11/arm32/Dockerfile
  build/docker/debian11/arm64/Dockerfile
Due: azure-pipelines/build/linux/du/doclient-pr.yml

Add build support for Ubuntu-24.04 and Debian-12. Also fix unstable tests. (#205)
  README.md
  azure-pipelines/build/linux/du/doclient-lite-docker.yml
  azure-pipelines/build/linux/du/dopapt-docker.yml
  azure-pipelines/build/linux/du/dosdkcpp-docker.yml
  build/docker/debian11/arm64/Dockerfile
  build/docker/debian12/amd64/Dockerfile
  build/docker/debian12/arm32/Dockerfile
  build/docker/debian12/arm64/Dockerfile
  build/docker/ubuntu2404/amd64/Dockerfile
  build/docker/ubuntu2404/arm64/Dockerfile
  build/scripts/bootstrap.sh
  client-lite/test/test_data.h
  common/cmake/Findlibproxy.cmake
  sdk-cpp/tests/download_tests_common.cpp
Due: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dopapt-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/linux/du/doclient-lite-native.yml, azure-pipelines/build/linux/du/doclient-pr.yml, azure-pipelines/build/linux/du/native/doclient-lite-ubuntu1804.yml, azure-pipelines/build/linux/du/native/dopapt-ubuntu1804.yml, azure-pipelines/build/linux/du/native/dosdkcpp-ubuntu1804.yml, azure-pipelines/build/mac/dosdkcpp.yml, azure-pipelines/build/windows/dosdkcpp.yml

Include Deb12 and Ubuntu2404 in release pipeline
  azure-pipelines/publishing/github-release.yml
Due: azure-pipelines/build/linux/du/doclient-pr.yml

Fix sdk tests: FileDeletionAfterPause is flaky
  sdk-cpp/tests/download_tests_common.cpp
Due: azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/linux/du/doclient-pr.yml, azure-pipelines/build/linux/du/native/dosdkcpp-ubuntu1804.yml, azure-pipelines/build/mac/dosdkcpp.yml, azure-pipelines/build/windows/dosdkcpp.yml

Update release pipeline and fix FileDeletionAfterPause test (#207)
  azure-pipelines/publishing/github-release.yml
  sdk-cpp/tests/download_tests_common.cpp
Due: azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/linux/du/doclient-pr.yml, azure-pipelines/build/linux/du/native/dosdkcpp-ubuntu1804.yml, azure-pipelines/build/mac/dosdkcpp.yml, azure-pipelines/build/windows/dosdkcpp.yml

Increment Agent, SDK version to 1.1.1
  client-lite/CMakeLists.txt
  sdk-cpp/CMakeLists.txt
Due: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/linux/du/doclient-lite-native.yml, azure-pipelines/build/linux/du/doclient-pr.yml, azure-pipelines/build/linux/du/native/doclient-lite-ubuntu1804.yml, azure-pipelines/build/linux/du/native/dosdkcpp-ubuntu1804.yml, azure-pipelines/build/mac/dosdkcpp.yml, azure-pipelines/build/windows/dosdkcpp.yml

Increment Agent, SDK version to 1.1.1 (#208)
  client-lite/CMakeLists.txt
  sdk-cpp/CMakeLists.txt
Due: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/linux/du/doclient-lite-native.yml, azure-pipelines/build/linux/du/doclient-pr.yml, azure-pipelines/build/linux/du/native/doclient-lite-ubuntu1804.yml, azure-pipelines/build/linux/du/native/dosdkcpp-ubuntu1804.yml, azure-pipelines/build/mac/dosdkcpp.yml, azure-pipelines/build/windows/dosdkcpp.yml

Path conditions:
  azure-pipelines/build/doclient-lite-native.yml: any of: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/templates/doclient-lite-native-steps.yml, client-lite, common, build/build.py, CMakeLists.txt, but not: azure-pipelines
  azure-pipelines/build/dopapt-native.yml: any of: azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/templates/dopapt-native-steps.yml, common, plugins, build/build.py, CMakeLists.txt, but not: azure-pipelines, plugins/linux-apt/scripts/configure-apt-method.sh
  azure-pipelines/build/dosdkcpp-native.yml: any of: azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/templates/dosdkcpp-native-steps.yml, common, sdk-cpp, build/build.py, CMakeLists.txt, but not: azure-pipelines, sdk-cpp/build/cleanup-install.sh
  azure-pipelines/build/linux/doclient-lite-native.yml: any of: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/templates/doclient-lite-native-steps.yml, client-lite, common, build/build.py, CMakeLists.txt, but not: azure-pipelines
  azure-pipelines/build/linux/dopapt-native.yml: any of: azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/templates/dopapt-native-steps.yml, common, plugins, build/build.py, CMakeLists.txt, but not: azure-pipelines, plugins/linux-apt/scripts/configure-apt-method.sh
  azure-pipelines/build/linux/dosdkcpp-native.yml: any of: azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/templates/dosdkcpp-native-steps.yml, common, sdk-cpp, build/build.py, CMakeLists.txt, but not: azure-pipelines, sdk-cpp/build/cleanup-install.sh
  azure-pipelines/build/linux/du/doclient-lite-native.yml: any of: azure-pipelines/build/linux/du/doclient-lite-native.yml, azure-pipelines/build/linux/du/templates/doclient-lite-native-steps.yml, client-lite, common, build/build.py, CMakeLists.txt, but not: azure-pipelines
  azure-pipelines/build/linux/du/doclient-pr.yml: any file but: *.md
  azure-pipelines/build/linux/du/native/doclient-lite-ubuntu1804.yml: any of: azure-pipelines/build/linux/du/native/doclient-lite-ubuntu1804.yml, azure-pipelines/build/linux/du/templates/doclient-lite-docker-steps.yml, client-lite, common, build/build.py, CMakeLists.txt, but not: azure-pipelines
  azure-pipelines/build/linux/du/native/dopapt-ubuntu1804.yml: any of: azure-pipelines/build/linux/du/native/dopapt-ubuntu1804.yml, azure-pipelines/build/linux/du/templates/dopapt-docker-steps.yml, common, plugins, build/build.py, CMakeLists.txt, but not: azure-pipelines, plugins/linux-apt/scripts/configure-apt-method.sh
  azure-pipelines/build/linux/du/native/dosdkcpp-ubuntu1804.yml: any of: azure-pipelines/build/linux/du/native/dosdkcpp-ubuntu1804.yml, azure-pipelines/build/linux/du/templates/dosdkcpp-docker-steps.yml, common, sdk-cpp, build/build.py, CMakeLists.txt, but not: azure-pipelines, sdk-cpp/build/cleanup-install.sh
  azure-pipelines/build/mac/dosdkcpp.yml: any of: azure-pipelines/build/mac, common, sdk-cpp, build/build.py, CMakeLists.txt, but not: azure-pipelines, sdk-cpp/build/cleanup-install.sh
  azure-pipelines/build/windows/dosdkcpp.yml: any of: azure-pipelines/build/windows, common, sdk-cpp, build/build.py, CMakeLists.txt, but not: azure-pipelines, sdk-cpp/build/cleanup-install.sh
