Repository microsoft/do-client: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dopapt-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/linux/du/doclient-lite-native.yml, azure-pipelines/build/mac/dosdkcpp.yml, azure-pipelines/build/windows/dosdkcpp.yml

azure-pipelines/build/doclient-lite-native.yml:
  pool:
    name: 1es_hosted_pool_ubuntu_1804
    vmImage: do-adu-build-2
  jobs:
  - job: Debug
    steps:
    - template: templates/doclient-lite-native-steps.yml
      parameters:
        targetOsArch: ubuntu1804_x64
        config: debug
  - job: Release
    steps:
  ...

azure-pipelines/build/dopapt-native.yml:
  pool:
    name: 1es_hosted_pool_ubuntu_1804
    vmImage: do-adu-build-$(version)
  jobs:
  - job: Debug
    steps:
    - template: templates/dopapt-native-steps.yml
      parameters:
        targetOsArch: ubuntu1804_x64
        config: debug
  - job: Release
    steps:
    - template: templates/dopapt-native-steps.yml
  ...

azure-pipelines/build/dosdkcpp-native.yml:
  pool:
    name: 1es_hosted_pool_ubuntu_1804
    vmImage: do-adu-build-$(imageVersion)
  jobs:
  - job: Debug
    steps:
    - template: templates/dosdkcpp-native-steps.yml
      parameters:
        targetOsArch: ubuntu1804_x64
        config: debug
  - job: Release
    steps:
  ...

azure-pipelines/build/linux/doclient-lite-native.yml:
  pool: dotestlab
  jobs:
  - job: Debug
    steps:
    - template: templates/doclient-lite-native-steps.yml
      parameters:
        targetOsArch: ubuntu1804-x64
        config: debug
  - job: Release
    steps:
    - template: templates/doclient-lite-native-steps.yml
      parameters:
        targetOsArch: ubuntu1804-x64
  ...

azure-pipelines/build/linux/dopapt-native.yml:
  pool: dotestlab
  jobs:
  - job: Debug
    steps:
    - template: templates/dopapt-native-steps.yml
      parameters:
        targetOsArch: ubuntu1804-x64
        config: debug
  - job: Release
    steps:
    - template: templates/dopapt-native-steps.yml
      parameters:
        targetOsArch: ubuntu1804-x64
  ...

azure-pipelines/build/linux/dosdkcpp-native.yml:
  pool: dotestlab
  jobs:
  - job: Debug
    steps:
    - template: templates/dosdkcpp-native-steps.yml
      parameters:
        targetOsArch: ubuntu1804-x64
        config: debug
  - job: Release
    steps:
    - template: templates/dosdkcpp-native-steps.yml
      parameters:
        targetOsArch: ubuntu1804-x64
  ...

azure-pipelines/build/linux/du/doclient-lite-native.yml:
  pool: 1es_hosted_pool_ubuntu_1804
  jobs:
  - job: Debug
    steps:
    - template: templates/doclient-lite-native-steps.yml
      parameters:
        targetOsArch: ubuntu1804_x64
        config: debug
  - job: Release
    steps:
    - template: templates/doclient-lite-native-steps.yml
      parameters:
  ...

azure-pipelines/build/mac/dosdkcpp.yml:
  pool:
    vmImage: macOS-latest
  jobs:
  - job: Debug
    steps:
    - template: templates/dosdkcpp-steps.yml
      parameters:
        targetOs: osx
        config: debug
  - job: Release
    steps:
    - template: templates/dosdkcpp-steps.yml
      parameters:
        targetOs: osx
        config: release
  ...

Support Ubuntu 20.04 on amd64 and arm64 (#96)
  README.md
  azure-pipelines/build/linux/du/docker/doclient-lite-docker.yml
  azure-pipelines/build/linux/du/docker/dopapt-docker.yml
  azure-pipelines/build/linux/du/docker/dosdkcpp-docker.yml
  azure-pipelines/build/linux/du/dosdkcpp-docker.yml
  azure-pipelines/build/linux/du/native/doclient-lite-ubuntu1804.yml
  azure-pipelines/build/linux/du/native/dopapt-ubuntu1804.yml
  azure-pipelines/build/linux/du/native/dosdkcpp-ubuntu1804.yml
  build/docker/debian10/arm32/Dockerfile
  build/docker/ubuntu2004/amd64/Dockerfile
  build/docker/ubuntu2004/arm64/Dockerfile
  build/scripts/bootstrap.sh
Due: none

fix bootstrap script
  build/scripts/bootstrap.sh
Due: none

also release for ubuntu2004
  README.md
  azure-pipelines/publishing/github-release.yml
Due: none

fix bootstrap script (#99)
  build/scripts/bootstrap.sh
Due: none

Update release pipeline for ubuntu2004 packages (#100)
  README.md
  azure-pipelines/publishing/github-release.yml
Due: none

SDK: Fix nothrow interface build errors
  sdk-cpp/CMakeLists.txt
  sdk-cpp/include/do_download.h
  sdk-cpp/src/do_download.cpp
  sdk-cpp/src/do_errors.cpp
  sdk-cpp/src/internal/com/do_download_property_internal.cpp
Due: azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/mac/dosdkcpp.yml, azure-pipelines/build/windows/dosdkcpp.yml

SDK: Fix nothrow interface build errors (#101)
  sdk-cpp/CMakeLists.txt
  sdk-cpp/include/do_download.h
  sdk-cpp/src/do_download.cpp
  sdk-cpp/src/do_errors.cpp
  sdk-cpp/src/internal/com/do_download_property_internal.cpp
Due: azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/mac/dosdkcpp.yml, azure-pipelines/build/windows/dosdkcpp.yml

SDK: Fix clang warning: missing override keyword
  sdk-cpp/src/internal/download_impl.h
Due: azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/mac/dosdkcpp.yml, azure-pipelines/build/windows/dosdkcpp.yml

SDK: Fix clang warning: missing override keyword (#102)
  sdk-cpp/src/internal/download_impl.h
Due: azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/mac/dosdkcpp.yml, azure-pipelines/build/windows/dosdkcpp.yml

Implement Generator parser argument
  build/build.py
Due: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dopapt-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/linux/du/doclient-lite-native.yml, azure-pipelines/build/mac/dosdkcpp.yml, azure-pipelines/build/windows/dosdkcpp.yml

Fix build.py * Ensure user provided generator if used
  build/build.py
Due: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dopapt-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/linux/du/doclient-lite-native.yml, azure-pipelines/build/mac/dosdkcpp.yml, azure-pipelines/build/windows/dosdkcpp.yml

Fix build.py: generator option (#104)
  build/build.py
Due: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dopapt-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/linux/du/doclient-lite-native.yml, azure-pipelines/build/mac/dosdkcpp.yml, azure-pipelines/build/windows/dosdkcpp.yml

Fix sdk yml: Syntax
  azure-pipelines/build/linux/du/native/dosdkcpp-ubuntu1804.yml
Due: none

SDK: Fix yaml syntax (#105)
  azure-pipelines/build/linux/du/native/dosdkcpp-ubuntu1804.yml
Due: none

Fix pipelines trigger in yaml
  azure-pipelines/build/linux/du/docker/doclient-lite-docker.yml
  azure-pipelines/build/linux/du/docker/dopapt-docker.yml
  azure-pipelines/build/linux/du/docker/dosdkcpp-docker.yml
  azure-pipelines/build/linux/du/native/doclient-lite-ubuntu1804.yml
  azure-pipelines/build/linux/du/native/dopapt-ubuntu1804.yml
  azure-pipelines/build/linux/du/native/dosdkcpp-ubuntu1804.yml
  azure-pipelines/build/mac/dosdkcpp.yml
  azure-pipelines/build/windows/dosdkcpp.yml
Due: none

Fix pipelines trigger in yaml (#106)
  azure-pipelines/build/linux/du/docker/doclient-lite-docker.yml
  azure-pipelines/build/linux/du/docker/dopapt-docker.yml
  azure-pipelines/build/linux/du/docker/dosdkcpp-docker.yml
  azure-pipelines/build/linux/du/native/doclient-lite-ubuntu1804.yml
  azure-pipelines/build/linux/du/native/dopapt-ubuntu1804.yml
  azure-pipelines/build/linux/du/native/dosdkcpp-ubuntu1804.yml
  azure-pipelines/build/mac/dosdkcpp.yml
  azure-pipelines/build/windows/dosdkcpp.yml
Due: none

Templatize Github release jobs per platform & Tar the .deb output (#89)
  azure-pipelines/build/linux/du/templates/dopapt-docker-steps.yml
  azure-pipelines/build/linux/du/templates/dopapt-native-steps.yml
  azure-pipelines/publishing/github-release.yml
  azure-pipelines/publishing/templates/release-docker-build-steps.yml
  azure-pipelines/publishing/templates/release-native-build-steps.yml
Due: none

Trigger pipelines for develop instead of main. (#85)
  azure-pipelines/build/linux/du/doclient-lite-native.yml
  azure-pipelines/build/linux/du/dopapt-native.yml
  azure-pipelines/build/linux/du/dosdkcpp-native.yml
  azure-pipelines/build/mac/dosdkcpp.yml
  azure-pipelines/build/windows/dosdkcpp.yml
Due: none

Cleanup comments (#93)
  azure-pipelines/build/linux/du/templates/doclient-lite-native-steps.yml
  azure-pipelines/build/linux/du/templates/dopapt-native-steps.yml
  azure-pipelines/build/linux/du/templates/dosdkcpp-native-steps.yml
Due: none

Support Ubuntu 20.04 on amd64 and arm64 (#96)
  README.md
  azure-pipelines/build/linux/du/docker/doclient-lite-docker.yml
  azure-pipelines/build/linux/du/docker/dopapt-docker.yml
  azure-pipelines/build/linux/du/docker/dosdkcpp-docker.yml
  azure-pipelines/build/linux/du/dosdkcpp-docker.yml
  azure-pipelines/build/linux/du/native/doclient-lite-ubuntu1804.yml
  azure-pipelines/build/linux/du/native/dopapt-ubuntu1804.yml
  azure-pipelines/build/linux/du/native/dosdkcpp-ubuntu1804.yml
  build/docker/debian10/arm32/Dockerfile
  build/docker/ubuntu2004/amd64/Dockerfile
  build/docker/ubuntu2004/arm64/Dockerfile
Due: none

Update gitHubConnection in release pipeline
  azure-pipelines/publishing/github-release.yml
Due: none

[DO]: Statically initialize downloader object for no-exception case
  sdk-cpp/include/do_download.h
  sdk-cpp/src/do_download.cpp
Due: azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/mac/dosdkcpp.yml, azure-pipelines/build/windows/dosdkcpp.yml

SDK: Fix download::make_nothrow API
  sdk-cpp/include/do_download.h
  sdk-cpp/src/do_download.cpp
Due: azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/mac/dosdkcpp.yml, azure-pipelines/build/windows/dosdkcpp.yml

SDK: Add tests for nothrow interface
  sdk-cpp/CMakeLists.txt
  sdk-cpp/tests/com/download_properties_tests.cpp
  sdk-cpp/tests/download_tests_common.cpp
  sdk-cpp/tests/rest/mcc_download_tests.cpp
  sdk-cpp/tests_nothrow/CMakeLists.txt
  sdk-cpp/tests_nothrow/dosdkcpp_testrunner.cpp
  sdk-cpp/tests_nothrow/download_properties_tests.cpp
  sdk-cpp/tests_nothrow/download_tests.cpp
  sdk-cpp/tests_nothrow/test_data.cpp
  sdk-cpp/tests_nothrow/test_data.h
  sdk-cpp/tests_nothrow/test_helpers.cpp
  sdk-cpp/tests_nothrow/test_helpers.h
  sdk-cpp/tests_nothrow/tests_common.h
Due: azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/mac/dosdkcpp.yml, azure-pipelines/build/windows/dosdkcpp.yml

SDK: Add noexcept to OnStatusChange
  sdk-cpp/src/internal/com/download_impl.cpp
Due: azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/mac/dosdkcpp.yml, azure-pipelines/build/windows/dosdkcpp.yml

SDK: Fix test assert
  sdk-cpp/tests/dosdkcpp_testrunner.cpp
  sdk-cpp/tests_nothrow/dosdkcpp_testrunner.cpp
Due: azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/mac/dosdkcpp.yml, azure-pipelines/build/windows/dosdkcpp.yml

SDK: Fix malformed path tests
  sdk-cpp/tests/download_tests_common.cpp
Due: azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/mac/dosdkcpp.yml, azure-pipelines/build/windows/dosdkcpp.yml

SDL task: Add guardian init files
  .gdn/.gdnsettings
  .gdn/.gitignore
Due: none

SDL task: Suppress placeholder connection strings
  .gdn/.gdnsuppress
Due: none

Test sha256sum
  azure-pipelines/publishing/github-release.yml
Due: none

Display hashes, draft release option
  azure-pipelines/publishing/github-release.yml
Due: none

Add build ID
  azure-pipelines/publishing/github-release.yml
Due: none

Specific ver download
  azure-pipelines/publishing/github-release.yml
Due: none

Debug no artifacts
  azure-pipelines/publishing/github-release.yml
Due: none

Finalize changes
  azure-pipelines/publishing/github-release.yml
Due: none

Path conditions:
  azure-pipelines/build/doclient-lite-native.yml: any of: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/templates/doclient-lite-native-steps.yml, client-lite, common, build/build.py, CMakeLists.txt, but not: azure-pipelines
  azure-pipelines/build/dopapt-native.yml: any of: azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/templates/dopapt-native-steps.yml, common, plugins, build/build.py, CMakeLists.txt, but not: azure-pipelines, plugins/linux-apt/scripts/configure-apt-method.sh
  azure-pipelines/build/dosdkcpp-native.yml: any of: azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/templates/dosdkcpp-native-steps.yml, common, sdk-cpp, build/build.py, CMakeLists.txt, but not: azure-pipelines, sdk-cpp/build/cleanup-install.sh
  azure-pipelines/build/linux/doclient-lite-native.yml: any of: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/templates/doclient-lite-native-steps.yml, client-lite, common, build/build.py, CMakeLists.txt, but not: azure-pipelines
  azure-pipelines/build/linux/dopapt-native.yml: any of: azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/templates/dopapt-native-steps.yml, common, plugins, build/build.py, CMakeLists.txt, but not: azure-pipelines, plugins/linux-apt/scripts/configure-apt-method.sh
  azure-pipelines/build/linux/dosdkcpp-native.yml: any of: azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/templates/dosdkcpp-native-steps.yml, common, sdk-cpp, build/build.py, CMakeLists.txt, but not: azure-pipelines, sdk-cpp/build/cleanup-install.sh
  azure-pipelines/build/linux/du/doclient-lite-native.yml: any of: azure-pipelines/build/linux/du/doclient-lite-native.yml, azure-pipelines/build/linux/du/templates/doclient-lite-native-steps.yml, client-lite, common, build/build.py, CMakeLists.txt, but not: azure-pipelines
  azure-pipelines/build/mac/dosdkcpp.yml: any of: azure-pipelines/build/windows, common, sdk-cpp, build/build.py, CMakeLists.txt, but not: azure-pipelines, sdk-cpp/build/cleanup-install.sh
  azure-pipelines/build/windows/dosdkcpp.yml: any of: azure-pipelines/build/windows, common, sdk-cpp, build/build.py, CMakeLists.txt, but not: azure-pipelines, sdk-cpp/build/cleanup-install.sh
