Repository microsoft/do-client: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dopapt-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/linux/du/doclient-lite-native.yml, azure-pipelines/build/mac/dosdkcpp.yml, azure-pipelines/build/windows/dosdkcpp.yml

Path conditions:
  azure-pipelines/build/doclient-lite-native.yml: any of: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/templates/doclient-lite-native-steps.yml, client-lite, common, build/build.py, CMakeLists.txt, but not: azure-pipelines
  azure-pipelines/build/dopapt-native.yml: any of: azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/templates/dopapt-native-steps.yml, common, plugins, build/build.py, CMakeLists.txt, but not: azure-pipelines, plugins/linux-apt/scripts/configure-apt-method.sh
  azure-pipelines/build/dosdkcpp-native.yml: any of: azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/templates/dosdkcpp-native-steps.yml, common, sdk-cpp, build/build.py, CMakeLists.txt, but not: azure-pipelines, sdk-cpp/build/cleanup-install.sh
  azure-pipelines/build/linux/doclient-lite-native.yml: any of: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/templates/doclient-lite-native-steps.yml, client-lite, common, build/build.py, CMakeLists.txt, but not: azure-pipelines
  azure-pipelines/build/linux/dopapt-native.yml: any of: azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/templates/dopapt-native-steps.yml, common, plugins, build/build.py, CMakeLists.txt, but not: azure-pipelines, plugins/linux-apt/scripts/configure-apt-method.sh
  azure-pipelines/build/linux/dosdkcpp-native.yml: any of: azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/templates/dosdkcpp-native-steps.yml, common, sdk-cpp, build/build.py, CMakeLists.txt, but not: azure-pipelines, sdk-cpp/build/cleanup-install.sh
  azure-pipelines/build/linux/du/doclient-lite-native.yml: any of: azure-pipelines/build/linux/du/doclient-lite-native.yml, azure-pipelines/build/linux/du/templates/doclient-lite-native-steps.yml, client-lite, common, build/build.py, CMakeLists.txt, but not: azure-pipelines
  azure-pipelines/build/mac/dosdkcpp.yml: any of: azure-pipelines/build/mac, common, sdk-cpp, build/build.py, CMakeLists.txt, but not: azure-pipelines, sdk-cpp/build/cleanup-install.sh
  azure-pipelines/build/windows/dosdkcpp.yml: any of: azure-pipelines/build/windows, common, sdk-cpp, build/build.py, CMakeLists.txt, but not: azure-pipelines, sdk-cpp/build/cleanup-install.sh

Bootstrap
  build/scripts/bootstrap.sh
Due: none

Remove dockerfile, use var for deb10 container
  azure-pipelines/build/linux/du/docker/dosdkcpp-docker.yml
  build/docker/debian9/arm32/Dockerfile
Due: none

Cleanup Debian9 references (#144)
  azure-pipelines/build/linux/du/docker/dosdkcpp-docker.yml
  build/docker/debian9/arm32/Dockerfile
  build/scripts/bootstrap.sh
Due: none

Workaround 20.04 FindBoost issue
  CMakeLists.txt
Due: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dopapt-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/linux/du/doclient-lite-native.yml, azure-pipelines/build/mac/dosdkcpp.yml, azure-pipelines/build/windows/dosdkcpp.yml

Workaround 20.04 FindBoost issue (#145)
  CMakeLists.txt
Due: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dopapt-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/linux/du/doclient-lite-native.yml, azure-pipelines/build/mac/dosdkcpp.yml, azure-pipelines/build/windows/dosdkcpp.yml

SDK: Fix vcpkg installation
  azure-pipelines/build/windows/templates/dosdkcpp-steps.yml
Due: none

Switch azp badges from main to develop branch
  README.md
Due: none

Fix vcpkg env var
  azure-pipelines/build/windows/templates/dosdkcpp-steps.yml
  build/scripts/install-vcpkg-deps.ps1
Due: none

Revert "Switch azp badges from main to develop branch"
  README.md
Due: none

SDK: Fix windows build due to env var change (#146)
  azure-pipelines/build/windows/templates/dosdkcpp-steps.yml
  build/scripts/install-vcpkg-deps.ps1
Due: none

Switch azp badges from main to develop branch (#147)
  README.md
Due: none

Linux: bootstrap.sh cleans up after itself
  build/scripts/bootstrap.sh
Due: none

Linux: bootstrap.sh cleans up after itself (#148)
  build/scripts/bootstrap.sh
Due: none

Initial stage of DoClient Snap/Agent app and ubuntu core only flag
  build/build.py
  client-lite/CMakeLists.txt
  client-lite/src/exe/docs.cpp
  snap/snapcraft.yaml
Due: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dopapt-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/linux/du/doclient-lite-native.yml, azure-pipelines/build/mac/dosdkcpp.yml, azure-pipelines/build/windows/dosdkcpp.yml

Fix flag for Snap build only
  CMakeLists.txt
  build/build.py
  client-lite/CMakeLists.txt
  client-lite/src/exe/docs.cpp
  client-lite/src/util/proc_launch_helper.h
  snap/snapcraft.yaml
Due: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dopapt-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/linux/du/doclient-lite-native.yml, azure-pipelines/build/mac/dosdkcpp.yml, azure-pipelines/build/windows/dosdkcpp.yml

fix DO_BUILD_FOR_SNAP option status
  CMakeLists.txt
Due: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dopapt-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/linux/du/doclient-lite-native.yml, azure-pipelines/build/mac/dosdkcpp.yml, azure-pipelines/build/windows/dosdkcpp.yml

Initial stage of DoClient Snap/Agent app and ubuntu core only flag (#149)
  CMakeLists.txt
  build/build.py
  client-lite/CMakeLists.txt
  client-lite/src/exe/docs.cpp
  client-lite/src/util/proc_launch_helper.h
  snap/snapcraft.yaml
Due: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dopapt-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/linux/du/doclient-lite-native.yml, azure-pipelines/build/mac/dosdkcpp.yml, azure-pipelines/build/windows/dosdkcpp.yml

Add SDK lib to DO Snap
  snap/snapcraft.yaml
Due: none

allow override install prefix
  CMakeLists.txt
  build/build.py
Due: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dopapt-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/linux/du/doclient-lite-native.yml, azure-pipelines/build/mac/dosdkcpp.yml, azure-pipelines/build/windows/dosdkcpp.yml

change install-prefix to search-prefix
  CMakeLists.txt
  build/build.py
Due: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dopapt-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/linux/du/doclient-lite-native.yml, azure-pipelines/build/mac/dosdkcpp.yml, azure-pipelines/build/windows/dosdkcpp.yml

Allow overriding cmake search path (#152)
  CMakeLists.txt
  build/build.py
Due: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dopapt-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/linux/du/doclient-lite-native.yml, azure-pipelines/build/mac/dosdkcpp.yml, azure-pipelines/build/windows/dosdkcpp.yml

Add get_property support, remove callbacks and vectors from properties
  build/build.py
  sdk-cpp/include/do_download.h
  sdk-cpp/include/do_download_property.h
  sdk-cpp/include/do_download_status.h
  sdk-cpp/src/do_download.cpp
  sdk-cpp/src/do_download_property.cpp
  sdk-cpp/src/internal/com/deliveryoptimization/deliveryoptimization.h
  sdk-cpp/src/internal/com/deliveryoptimization/do.hpp
  sdk-cpp/src/internal/com/do_download_property_internal.cpp
  sdk-cpp/src/internal/com/download_impl.cpp
  sdk-cpp/src/internal/do_download_property_internal.h
  sdk-cpp/src/internal/do_error_helpers.h
  sdk-cpp/src/internal/download_impl.h
  sdk-cpp/src/internal/download_interface.h
  sdk-cpp/src/internal/rest/do_download_property_internal.cpp
  sdk-cpp/src/internal/rest/download_impl.cpp
  sdk-cpp/tests/download_properties_tests.cpp
  sdk-cpp/tests/test_helpers.h
Due: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dopapt-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/linux/du/doclient-lite-native.yml, azure-pipelines/build/mac/dosdkcpp.yml, azure-pipelines/build/windows/dosdkcpp.yml

Fix SetProperty calls in CDownloadImpl::Init
  sdk-cpp/src/do_download_property.cpp
  sdk-cpp/src/internal/com/download_impl.cpp
Due: azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/mac/dosdkcpp.yml, azure-pipelines/build/windows/dosdkcpp.yml

Remove unnecessary constructors and declare A/W throughout
  sdk-cpp/include/do_download_property.h
  sdk-cpp/src/do_download_property.cpp
  sdk-cpp/src/internal/com/do_download_property_internal.cpp
  sdk-cpp/src/internal/do_download_property_internal.h
  sdk-cpp/src/internal/rest/do_download_property_internal.cpp
Due: azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/mac/dosdkcpp.yml, azure-pipelines/build/windows/dosdkcpp.yml

move pipeline to Windows 2022
  azure-pipelines/build/windows/dosdkcpp.yml
Due: none

Fix small typo in examples in README.md
  README.md
Due: none

Fix small typo in examples in README.md (#155)
  README.md
Due: none

Remove flags enum
  sdk-cpp/include/do_download.h
  sdk-cpp/include/do_download_property.h
Due: azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/mac/dosdkcpp.yml, azure-pipelines/build/windows/dosdkcpp.yml

SDK: Add get_property support, remove callbacks and vectors from properties (#153)
  azure-pipelines/build/windows/dosdkcpp.yml
  build/build.py
  sdk-cpp/include/do_download.h
  sdk-cpp/include/do_download_property.h
  sdk-cpp/include/do_download_status.h
  sdk-cpp/src/do_download.cpp
  sdk-cpp/src/do_download_property.cpp
  sdk-cpp/src/internal/com/deliveryoptimization/deliveryoptimization.h
  sdk-cpp/src/internal/com/deliveryoptimization/do.hpp
  sdk-cpp/src/internal/com/do_download_property_internal.cpp
  sdk-cpp/src/internal/com/download_impl.cpp
  sdk-cpp/src/internal/do_download_property_internal.h
  sdk-cpp/src/internal/do_error_helpers.h
  sdk-cpp/src/internal/download_impl.h
  sdk-cpp/src/internal/download_interface.h
  sdk-cpp/src/internal/rest/do_download_property_internal.cpp
  sdk-cpp/src/internal/rest/download_impl.cpp
  sdk-cpp/tests/download_properties_tests.cpp
  sdk-cpp/tests/test_helpers.h
Due: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dopapt-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/linux/du/doclient-lite-native.yml, azure-pipelines/build/mac/dosdkcpp.yml, azure-pipelines/build/windows/dosdkcpp.yml

Add support for streamed output
  sdk-cpp/include/do_download.h
  sdk-cpp/include/do_download_property.h
  sdk-cpp/include/do_download_status.h
  sdk-cpp/include/do_errors.h
  sdk-cpp/src/do_download.cpp
  sdk-cpp/src/internal/com/download_impl.cpp
  sdk-cpp/src/internal/do_download_property_internal.h
  sdk-cpp/src/internal/do_error_helpers.h
  sdk-cpp/src/internal/download_impl.h
  sdk-cpp/src/internal/download_interface.h
  sdk-cpp/src/internal/rest/download_impl.cpp
  sdk-cpp/tests/download_properties_tests.cpp
  sdk-cpp/tests/test_helpers.h
Due: azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/mac/dosdkcpp.yml, azure-pipelines/build/windows/dosdkcpp.yml

Support QueryInterface for ISequentialStream
  sdk-cpp/src/do_download.cpp
  sdk-cpp/src/internal/com/download_impl.cpp
Due: azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/mac/dosdkcpp.yml, azure-pipelines/build/windows/dosdkcpp.yml

Use WaitForState(transferred) in test
  sdk-cpp/tests/download_properties_tests.cpp
Due: azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/mac/dosdkcpp.yml, azure-pipelines/build/windows/dosdkcpp.yml

Add support for streamed output (#156)
  sdk-cpp/include/do_download.h
  sdk-cpp/include/do_download_property.h
  sdk-cpp/include/do_download_status.h
  sdk-cpp/include/do_errors.h
  sdk-cpp/src/do_download.cpp
  sdk-cpp/src/internal/com/download_impl.cpp
  sdk-cpp/src/internal/do_download_property_internal.h
  sdk-cpp/src/internal/do_error_helpers.h
  sdk-cpp/src/internal/download_impl.h
  sdk-cpp/src/internal/download_interface.h
  sdk-cpp/src/internal/rest/download_impl.cpp
  sdk-cpp/tests/download_properties_tests.cpp
  sdk-cpp/tests/test_helpers.h
Due: azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/mac/dosdkcpp.yml, azure-pipelines/build/windows/dosdkcpp.yml

Add support for partial downloads (ranges)
  sdk-cpp/include/do_download.h
  sdk-cpp/include/do_download_status.h
  sdk-cpp/src/do_download.cpp
  sdk-cpp/src/internal/com/do_download_property_internal.cpp
  sdk-cpp/src/internal/com/download_impl.cpp
  sdk-cpp/src/internal/download_impl.h
  sdk-cpp/src/internal/download_interface.h
  sdk-cpp/src/internal/rest/do_download_property_internal.cpp
  sdk-cpp/src/internal/rest/download_impl.cpp
  sdk-cpp/tests/download_properties_tests.cpp
  sdk-cpp/tests/test_helpers.h
Due: azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/mac/dosdkcpp.yml, azure-pipelines/build/windows/dosdkcpp.yml

Rename range to download_range
  sdk-cpp/include/do_download.h
  sdk-cpp/include/do_download_status.h
  sdk-cpp/src/do_download.cpp
  sdk-cpp/src/internal/com/download_impl.cpp
  sdk-cpp/src/internal/download_impl.h
  sdk-cpp/src/internal/download_interface.h
  sdk-cpp/src/internal/rest/download_impl.cpp
  sdk-cpp/tests/download_properties_tests.cpp
  sdk-cpp/tests/test_helpers.h
Due: azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/mac/dosdkcpp.yml, azure-pipelines/build/windows/dosdkcpp.yml

Disallow range count == 0
  sdk-cpp/src/do_download.cpp
  sdk-cpp/src/internal/com/download_impl.cpp
Due: azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/mac/dosdkcpp.yml, azure-pipelines/build/windows/dosdkcpp.yml

Add support for partial downloads (ranges) (#157)
  sdk-cpp/include/do_download.h
  sdk-cpp/include/do_download_status.h
  sdk-cpp/src/do_download.cpp
  sdk-cpp/src/internal/com/do_download_property_internal.cpp
  sdk-cpp/src/internal/com/download_impl.cpp
  sdk-cpp/src/internal/download_impl.h
  sdk-cpp/src/internal/download_interface.h
  sdk-cpp/src/internal/rest/do_download_property_internal.cpp
  sdk-cpp/src/internal/rest/download_impl.cpp
  sdk-cpp/tests/download_properties_tests.cpp
  sdk-cpp/tests/test_helpers.h
Due: azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/mac/dosdkcpp.yml, azure-pipelines/build/windows/dosdkcpp.yml

Add implementation for EnumDownloads
  sdk-cpp/include/do_download.h
  sdk-cpp/include/do_errors.h
  sdk-cpp/src/do_download.cpp
  sdk-cpp/src/internal/com/do_download_property_internal.cpp
  sdk-cpp/src/internal/com/download_impl.cpp
  sdk-cpp/src/internal/do_download_property_internal.h
  sdk-cpp/src/internal/do_error_helpers.h
  sdk-cpp/src/internal/download_impl.h
  sdk-cpp/src/internal/rest/download_impl.cpp
  sdk-cpp/src/internal/rest/util/do_http_client.cpp
  sdk-cpp/src/internal/rest/util/do_port_finder.cpp
  sdk-cpp/tests/download_properties_tests.cpp
  sdk-cpp/tests/download_tests_common.cpp
Due: azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/mac/dosdkcpp.yml, azure-pipelines/build/windows/dosdkcpp.yml
