Repository microsoft/do-client: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dopapt-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/linux/du/docker/dosdkcpp-docker.yml, azure-pipelines/build/linux/du/doclient-lite-native.yml, azure-pipelines/build/linux/du/doclient-pr.yml, azure-pipelines/build/linux/du/native/doclient-lite-ubuntu1804.yml, azure-pipelines/build/linux/du/native/dopapt-ubuntu1804.yml, azure-pipelines/build/mac/dosdkcpp.yml, azure-pipelines/build/windows/dosdkcpp.yml

azure-pipelines/build/doclient-lite-native.yml:
  pool:
    name: 1es_hosted_pool_ubuntu_1804
    vmImage: do-adu-build-2
  jobs:
  - job: Debug
    steps:
    - template: templates/doclient-lite-native-steps.yml
      parameters:
        targetOsArch: ubuntu1804_x64
        config: debug
  - job: Release
    steps:
  ...

azure-pipelines/build/dopapt-native.yml:
  pool:
    name: 1es_hosted_pool_ubuntu_1804
    vmImage: do-adu-build-$(version)
  jobs:
  - job: Debug
    steps:
    - template: templates/dopapt-native-steps.yml
      parameters:
        targetOsArch: ubuntu1804_x64
        config: debug
  - job: Release
    steps:
    - template: templates/dopapt-native-steps.yml
  ...

azure-pipelines/build/dosdkcpp-native.yml:
  pool:
    name: 1es_hosted_pool_ubuntu_1804
    vmImage: do-adu-build-$(imageVersion)
  jobs:
  - job: Debug
    steps:
    - template: templates/dosdkcpp-native-steps.yml
      parameters:
        targetOsArch: ubuntu1804_x64
        config: debug
  - job: Release
    steps:
  ...

azure-pipelines/build/linux/doclient-lite-native.yml:
  pool: dotestlab
  jobs:
  - job: Debug
    steps:
    - template: templates/doclient-lite-native-steps.yml
      parameters:
        targetOsArch: ubuntu1804-x64
        config: debug
  - job: Release
    steps:
    - template: templates/doclient-lite-native-steps.yml
      parameters:
        targetOsArch: ubuntu1804-x64
  ...

azure-pipelines/build/linux/dopapt-native.yml:
  pool: dotestlab
  jobs:
  - job: Debug
    steps:
    - template: templates/dopapt-native-steps.yml
      parameters:
        targetOsArch: ubuntu1804-x64
        config: debug
  - job: Release
    steps:
    - template: templates/dopapt-native-steps.yml
      parameters:
        targetOsArch: ubuntu1804-x64
  ...

azure-pipelines/build/linux/dosdkcpp-native.yml:
  pool: dotestlab
  jobs:
  - job: Debug
    steps:
    - template: templates/dosdkcpp-native-steps.yml
      parameters:
        targetOsArch: ubuntu1804-x64
        config: debug
  - job: Release
    steps:
    - template: templates/dosdkcpp-native-steps.yml
      parameters:
        targetOsArch: ubuntu1804-x64
  ...

azure-pipelines/build/linux/du/docker/dosdkcpp-docker.yml:
  pool:
    name: 1es_hosted_pool_ubuntu_1804
    demands: ImageOverride -equals do-adu-build-$(imageVersion)
  jobs:
  - ${{ each target in parameters.buildTargets }}:
    - ${{ if or(ne(variables['Build.Reason'], 'PullRequest'), endswith(target, '_x64')) }}:
  ...

azure-pipelines/build/linux/du/doclient-lite-native.yml:
  pool: 1es_hosted_pool_ubuntu_1804
  jobs:
  - job: Debug
    steps:
    - template: templates/doclient-lite-native-steps.yml
      parameters:
        targetOsArch: ubuntu1804_x64
        config: debug
  - job: Release
    steps:
    - template: templates/doclient-lite-native-steps.yml
      parameters:
  ...

Use DownloadPipelineArtifact and mark as releaseJob
  azure-pipelines/publishing/github-release.yml
Due: azure-pipelines/build/linux/du/doclient-pr.yml

Use patterns
  azure-pipelines/publishing/github-release.yml
Due: azure-pipelines/build/linux/du/doclient-pr.yml

Revert everything
  azure-pipelines/publishing/github-release.yml
Due: azure-pipelines/build/linux/du/doclient-pr.yml

Remove gh release
  azure-pipelines/publishing/github-release.yml
Due: azure-pipelines/build/linux/du/doclient-pr.yml

Update comment
  azure-pipelines/publishing/github-release.yml
Due: azure-pipelines/build/linux/du/doclient-pr.yml

Release pipeline: Remove GithubRelease task usage temporarily (#209)
  azure-pipelines/publishing/github-release.yml
Due: azure-pipelines/build/linux/du/doclient-pr.yml

Merge branch develop into main [2026_02_18] (#210)
  azure-pipelines/publishing/github-release.yml
Due: azure-pipelines/build/linux/du/doclient-pr.yml

Added boost compatibility for newer versions.
  build/scripts/bootstrap.sh
  client-lite/src/exe/docs.cpp
  client-lite/src/ipc/rest_http_controller.cpp
  client-lite/src/ipc/rest_http_controller.h
  client-lite/src/ipc/rest_http_listener.cpp
  client-lite/src/ipc/rest_http_listener.h
  client-lite/src/ipc/rest_http_listener_conn.cpp
  client-lite/src/ipc/rest_http_listener_conn.h
  client-lite/test/mcc_manager.tests.cpp
  client-lite/test/rest_http_listener_tests.cpp
  common/lib-dotestutil/do_test_helpers.cpp
  common/lib-dotestutil/do_test_helpers.h
  sdk-cpp/src/internal/rest/util/do_http_client.cpp
  sdk-cpp/tests/rest/rest_interface_tests.cpp
Due: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dopapt-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/linux/du/docker/dosdkcpp-docker.yml, azure-pipelines/build/linux/du/doclient-lite-native.yml, azure-pipelines/build/linux/du/doclient-pr.yml, azure-pipelines/build/linux/du/native/doclient-lite-ubuntu1804.yml, azure-pipelines/build/linux/du/native/dopapt-ubuntu1804.yml, azure-pipelines/build/mac/dosdkcpp.yml, azure-pipelines/build/windows/dosdkcpp.yml

[Edge] Add string include to do_error_helpers.h
  sdk-cpp/src/internal/do_error_helpers.h
Due: azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/linux/du/docker/dosdkcpp-docker.yml, azure-pipelines/build/linux/du/doclient-pr.yml, azure-pipelines/build/mac/dosdkcpp.yml, azure-pipelines/build/windows/dosdkcpp.yml

[Edge] [SDK] Add string include to do_error_helpers.h (#212)
  sdk-cpp/src/internal/do_error_helpers.h
Due: azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/linux/du/docker/dosdkcpp-docker.yml, azure-pipelines/build/linux/du/doclient-pr.yml, azure-pipelines/build/mac/dosdkcpp.yml, azure-pipelines/build/windows/dosdkcpp.yml

Path conditions:
  azure-pipelines/build/doclient-lite-native.yml: any of: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/templates/doclient-lite-native-steps.yml, client-lite, common, build/build.py, CMakeLists.txt, but not: azure-pipelines
  azure-pipelines/build/dopapt-native.yml: any of: azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/templates/dopapt-native-steps.yml, common, plugins, build/build.py, CMakeLists.txt, but not: azure-pipelines, plugins/linux-apt/scripts/configure-apt-method.sh
  azure-pipelines/build/dosdkcpp-native.yml: any of: azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/templates/dosdkcpp-native-steps.yml, common, sdk-cpp, build/build.py, CMakeLists.txt, but not: azure-pipelines, sdk-cpp/build/cleanup-install.sh
  azure-pipelines/build/linux/doclient-lite-native.yml: any of: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/templates/doclient-lite-native-steps.yml, client-lite, common, build/build.py, CMakeLists.txt, but not: azure-pipelines
  azure-pipelines/build/linux/dopapt-native.yml: any of: azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/templates/dopapt-native-steps.yml, common, plugins, build/build.py, CMakeLists.txt, but not: azure-pipelines, plugins/linux-apt/scripts/configure-apt-method.sh
  azure-pipelines/build/linux/dosdkcpp-native.yml: any of: azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/templates/dosdkcpp-native-steps.yml, common, sdk-cpp, build/build.py, CMakeLists.txt, but not: azure-pipelines, sdk-cpp/build/cleanup-install.sh
  azure-pipelines/build/linux/du/docker/dosdkcpp-docker.yml: any of: azure-pipelines/build/linux/du/docker/dosdkcpp-docker.yml, azure-pipelines/build/linux/du/templates/dosdkcpp-docker-steps.yml, common, sdk-cpp, build/build.py, CMakeLists.txt, but not: azure-pipelines, sdk-cpp/build/cleanup-install.sh
  azure-pipelines/build/linux/du/doclient-lite-native.yml: any of: azure-pipelines/build/linux/du/doclient-lite-native.yml, azure-pipelines/build/linux/du/templates/doclient-lite-native-steps.yml, client-lite, common, build/build.py, CMakeLists.txt, but not: azure-pipelines
  azure-pipelines/build/linux/du/doclient-pr.yml: any file but: *.md
  azure-pipelines/build/linux/du/native/doclient-lite-ubuntu1804.yml: any of: azure-pipelines/build/linux/du/native/doclient-lite-ubuntu1804.yml, azure-pipelines/build/linux/du/templates/doclient-lite-docker-steps.yml, client-lite, common, build/build.py, CMakeLists.txt, but not: azure-pipelines
  azure-pipelines/build/linux/du/native/dopapt-ubuntu1804.yml: any of: azure-pipelines/build/linux/du/native/dopapt-ubuntu1804.yml, azure-pipelines/build/linux/du/templates/dopapt-docker-steps.yml, common, plugins, build/build.py, CMakeLists.txt, but not: azure-pipelines, plugins/linux-apt/scripts/configure-apt-method.sh
  azure-pipelines/build/mac/dosdkcpp.yml: any of: azure-pipelines/build/mac, common, sdk-cpp, build/build.py, CMakeLists.txt, but not: azure-pipelines, sdk-cpp/build/cleanup-install.sh
  azure-pipelines/build/windows/dosdkcpp.yml: any of: azure-pipelines/build/windows, common, sdk-cpp, build/build.py, CMakeLists.txt, but not: azure-pipelines, sdk-cpp/build/cleanup-install.sh
