Repository microsoft/do-client: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dopapt-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/linux/du/doclient-lite-native.yml, azure-pipelines/build/mac/dosdkcpp.yml, azure-pipelines/build/windows/dosdkcpp.yml

azure-pipelines/build/doclient-lite-native.yml:
  pool:
    name: 1es_hosted_pool_ubuntu_1804
    vmImage: do-adu-build-2
  jobs:
  - job: Debug
    steps:
    - template: templates/doclient-lite-native-steps.yml
      parameters:
        targetOsArch: ubuntu1804_x64
        config: debug
  - job: Release
    steps:
  ...

azure-pipelines/build/dopapt-native.yml:
  pool:
    name: 1es_hosted_pool_ubuntu_1804
    vmImage: do-adu-build-$(version)
  jobs:
  - job: Debug
    steps:
    - template: templates/dopapt-native-steps.yml
      parameters:
        targetOsArch: ubuntu1804_x64
        config: debug
  - job: Release
    steps:
    - template: templates/dopapt-native-steps.yml
  ...

azure-pipelines/build/dosdkcpp-native.yml:
  pool:
    name: 1es_hosted_pool_ubuntu_1804
    vmImage: do-adu-build-$(imageVersion)
  jobs:
  - job: Debug
    steps:
    - template: templates/dosdkcpp-native-steps.yml
      parameters:
        targetOsArch: ubuntu1804_x64
        config: debug
  - job: Release
    steps:
  ...

azure-pipelines/build/linux/doclient-lite-native.yml:
  pool: dotestlab
  jobs:
  - job: Debug
    steps:
    - template: templates/doclient-lite-native-steps.yml
      parameters:
        targetOsArch: ubuntu1804-x64
        config: debug
  - job: Release
    steps:
    - template: templates/doclient-lite-native-steps.yml
      parameters:
        targetOsArch: ubuntu1804-x64
  ...

azure-pipelines/build/linux/dopapt-native.yml:
  pool: dotestlab
  jobs:
  - job: Debug
    steps:
    - template: templates/dopapt-native-steps.yml
      parameters:
        targetOsArch: ubuntu1804-x64
        config: debug
  - job: Release
    steps:
    - template: templates/dopapt-native-steps.yml
      parameters:
        targetOsArch: ubuntu1804-x64
  ...

azure-pipelines/build/linux/dosdkcpp-native.yml:
  pool: dotestlab
  jobs:
  - job: Debug
    steps:
    - template: templates/dosdkcpp-native-steps.yml
      parameters:
        targetOsArch: ubuntu1804-x64
        config: debug
  - job: Release
    steps:
    - template: templates/dosdkcpp-native-steps.yml
      parameters:
        targetOsArch: ubuntu1804-x64
  ...

azure-pipelines/build/linux/du/doclient-lite-native.yml:
  pool: 1es_hosted_pool_ubuntu_1804
  jobs:
  - job: Debug
    steps:
    - template: templates/doclient-lite-native-steps.yml
      parameters:
        targetOsArch: ubuntu1804_x64
        config: debug
  - job: Release
    steps:
    - template: templates/doclient-lite-native-steps.yml
      parameters:
  ...

azure-pipelines/build/mac/dosdkcpp.yml:
  pool:
    vmImage: macOS-latest
  jobs:
  - job: Debug
    steps:
    - template: templates/dosdkcpp-steps.yml
      parameters:
        targetOs: osx
        config: debug
  - job: Release
    steps:
    - template: templates/dosdkcpp-steps.yml
      parameters:
        targetOs: osx
        config: release
  ...

SDK: Fix deb9 build (boost::error_code) (#132)
  sdk-cpp/src/internal/rest/util/do_http_client.cpp
Due: azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/mac/dosdkcpp.yml, azure-pipelines/build/windows/dosdkcpp.yml

Add `$schema` to `cgmanifest.json`
  licenses/cgmanifest.json
Due: none

Add `$schema` to `cgmanifest.json` (#134)
  licenses/cgmanifest.json
Due: none

fix/allow admin to override mcc config with empty string
  client-lite/src/config/config_manager.cpp
  client-lite/src/config/config_manager.h
  client-lite/src/config/mcc_manager.cpp
Due: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/du/doclient-lite-native.yml

fix else condition
  client-lite/src/config/mcc_manager.cpp
Due: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/du/doclient-lite-native.yml

improve code readability
  client-lite/src/config/mcc_manager.cpp
Due: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/du/doclient-lite-native.yml

Add test FileDeletionAfterPause
  sdk-cpp/tests/download_tests_common.cpp
Due: azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/mac/dosdkcpp.yml, azure-pipelines/build/windows/dosdkcpp.yml

Handle errors from IHttpAgentEvents callbacks
  client-lite/src/download/download.cpp
  client-lite/src/download/download.h
  client-lite/src/util/http_agent.cpp
  client-lite/src/util/http_agent.h
  client-lite/src/util/http_agent_interface.h
Due: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/du/doclient-lite-native.yml

Fix pipeline build
  client-lite/test/CMakeLists.txt
  client-lite/test/rest_http_listener_tests.cpp
  common/lib-dotestutil/do_test_helpers.cpp
  common/lib-dotestutil/do_test_helpers.h
  sdk-cpp/tests/download_tests_common.cpp
  sdk-cpp/tests/rest/rest_interface_tests.cpp
Due: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dopapt-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/linux/du/doclient-lite-native.yml, azure-pipelines/build/mac/dosdkcpp.yml, azure-pipelines/build/windows/dosdkcpp.yml

Fix windows test
  common/CMakeLists.txt
  common/lib-dotestutil/CMakeLists.txt
  common/lib-dotestutil/do_test_helpers.cpp
  sdk-cpp/tests/CMakeLists.txt
  sdk-cpp/tests/download_tests_common.cpp
  sdk-cpp/tests/test_helpers.h
Due: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dopapt-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/linux/du/doclient-lite-native.yml, azure-pipelines/build/mac/dosdkcpp.yml, azure-pipelines/build/windows/dosdkcpp.yml

Use hrCallback in headers processing
  client-lite/src/util/http_agent.cpp
Due: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/du/doclient-lite-native.yml

Agent: Handle failures from callbacks during download (#136)
  client-lite/src/download/download.cpp
  client-lite/src/download/download.h
  client-lite/src/util/http_agent.cpp
  client-lite/src/util/http_agent.h
  client-lite/src/util/http_agent_interface.h
  client-lite/test/CMakeLists.txt
  client-lite/test/rest_http_listener_tests.cpp
  common/CMakeLists.txt
  common/lib-dotestutil/CMakeLists.txt
  common/lib-dotestutil/do_test_helpers.cpp
  common/lib-dotestutil/do_test_helpers.h
  sdk-cpp/tests/CMakeLists.txt
  sdk-cpp/tests/download_tests_common.cpp
  sdk-cpp/tests/rest/rest_interface_tests.cpp
  sdk-cpp/tests/test_helpers.h
Due: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dopapt-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/linux/du/doclient-lite-native.yml, azure-pipelines/build/mac/dosdkcpp.yml, azure-pipelines/build/windows/dosdkcpp.yml

SDK: Fix returning address of stack variable
  CMakeLists.txt
  sdk-cpp/src/internal/do_error_helpers.h
Due: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dopapt-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/linux/du/doclient-lite-native.yml, azure-pipelines/build/mac/dosdkcpp.yml, azure-pipelines/build/windows/dosdkcpp.yml

Fix extra semi colons
  sdk-cpp/src/do_download_property.cpp
  sdk-cpp/src/internal/rest/do_download_property_internal.cpp
Due: azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/mac/dosdkcpp.yml, azure-pipelines/build/windows/dosdkcpp.yml

Print env vars on startup
  client-lite/src/exe/docs.cpp
Due: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/du/doclient-lite-native.yml

Enabling building with clang via Visual Studio
  .gitignore
  CMakeLists.txt
  CMakeSettings.json
Due: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dopapt-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/linux/du/doclient-lite-native.yml, azure-pipelines/build/mac/dosdkcpp.yml, azure-pipelines/build/windows/dosdkcpp.yml

Fix 'no exceptions' build and some warnings
  CMakeLists.txt
  CMakeSettings.json
  sdk-cpp/CMakeLists.txt
  sdk-cpp/src/do_download.cpp
  sdk-cpp/src/internal/com/do_config_internal.cpp
  sdk-cpp/src/internal/com/do_download_property_internal.cpp
  sdk-cpp/src/internal/com/download_impl.cpp
  sdk-cpp/src/internal/do_error_helpers.h
  sdk-cpp/tests/CMakeLists.txt
  sdk-cpp/tests/download_properties_tests.cpp
  sdk-cpp/tests/download_tests_common.cpp
  sdk-cpp/tests/test_helpers.h
Due: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dopapt-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/linux/du/doclient-lite-native.yml, azure-pipelines/build/mac/dosdkcpp.yml, azure-pipelines/build/windows/dosdkcpp.yml

Fix test code for MacOS build
  sdk-cpp/tests/download_tests_common.cpp
Due: azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/mac/dosdkcpp.yml, azure-pipelines/build/windows/dosdkcpp.yml

Fix windows build pipeline: vcpkg
  azure-pipelines/build/windows/templates/dosdkcpp-steps.yml
  build/scripts/install-vcpkg-deps.ps1
Due: none

SDK: Fix issues seen in MSEdge build (#137)
  .gitignore
  CMakeLists.txt
  CMakeSettings.json
  azure-pipelines/build/windows/templates/dosdkcpp-steps.yml
  build/scripts/install-vcpkg-deps.ps1
  sdk-cpp/CMakeLists.txt
  sdk-cpp/src/do_download.cpp
  sdk-cpp/src/do_download_property.cpp
  sdk-cpp/src/internal/com/do_config_internal.cpp
  sdk-cpp/src/internal/com/do_download_property_internal.cpp
  sdk-cpp/src/internal/com/download_impl.cpp
  sdk-cpp/src/internal/do_error_helpers.h
  sdk-cpp/src/internal/rest/do_download_property_internal.cpp
  sdk-cpp/tests/CMakeLists.txt
  sdk-cpp/tests/download_properties_tests.cpp
  sdk-cpp/tests/download_tests_common.cpp
  sdk-cpp/tests/test_helpers.h
Due: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dopapt-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/linux/du/doclient-lite-native.yml, azure-pipelines/build/mac/dosdkcpp.yml, azure-pipelines/build/windows/dosdkcpp.yml

Agent: Use flags not names of network interfaces
  client-lite/src/config/network_monitor.cpp
Due: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/du/doclient-lite-native.yml

Rename
  client-lite/src/config/network_monitor.cpp
  client-lite/src/config/network_monitor.h
  client-lite/src/download/download.cpp
  client-lite/test/network_monitor_tests.cpp
Due: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/du/doclient-lite-native.yml

Agent: Use flags not names of network interfaces (#138)
  client-lite/src/config/network_monitor.cpp
  client-lite/src/config/network_monitor.h
  client-lite/src/download/download.cpp
  client-lite/test/network_monitor_tests.cpp
Due: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/du/doclient-lite-native.yml

Plugin: No need to build lib-dohttp
  common/CMakeLists.txt
Due: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dopapt-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/linux/du/doclient-lite-native.yml, azure-pipelines/build/mac/dosdkcpp.yml, azure-pipelines/build/windows/dosdkcpp.yml

Plugin: No need to build lib-dohttp (#139)
  common/CMakeLists.txt
Due: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dopapt-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/linux/du/doclient-lite-native.yml, azure-pipelines/build/mac/dosdkcpp.yml, azure-pipelines/build/windows/dosdkcpp.yml

add unit test for admin config empty string
  client-lite/test/mcc_manager.tests.cpp
Due: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/du/doclient-lite-native.yml

Update mcc_manager.tests.cpp
  client-lite/test/mcc_manager.tests.cpp
Due: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/du/doclient-lite-native.yml

fix/allow admin to override mcc config with empty string (#135)
  client-lite/src/config/config_manager.cpp
  client-lite/src/config/config_manager.h
  client-lite/src/config/mcc_manager.cpp
  client-lite/test/mcc_manager.tests.cpp
Due: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/du/doclient-lite-native.yml

Agent: Fix debian package upgrade issue
  client-lite/build/postinst.in.sh
  client-lite/build/postrm.in.sh
Due: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/du/doclient-lite-native.yml

Fix reset-failed location
  client-lite/build/postinst.in.sh
  client-lite/build/postrm.in.sh
Due: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/du/doclient-lite-native.yml

PR and shellcheck feedback
  client-lite/build/postinst.in.sh
  client-lite/build/postrm.in.sh
  client-lite/build/prerm.in.sh
Due: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/du/doclient-lite-native.yml

Agent: Fix debian package upgrade issue (#140)
  client-lite/build/postinst.in.sh
  client-lite/build/postrm.in.sh
  client-lite/build/prerm.in.sh
Due: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/du/doclient-lite-native.yml

Increment versions for early access * v0.7.1: Agent, SDK * v0.5.1: Plugin-Apt
  client-lite/CMakeLists.txt
  plugins/linux-apt/CMakeLists.txt
  sdk-cpp/CMakeLists.txt
Due: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dopapt-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/linux/du/doclient-lite-native.yml, azure-pipelines/build/mac/dosdkcpp.yml, azure-pipelines/build/windows/dosdkcpp.yml

Increment versions for early access (#141)
  client-lite/CMakeLists.txt
  plugins/linux-apt/CMakeLists.txt
  sdk-cpp/CMakeLists.txt
Due: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dopapt-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/linux/du/doclient-lite-native.yml, azure-pipelines/build/mac/dosdkcpp.yml, azure-pipelines/build/windows/dosdkcpp.yml

Update README * Indicate plugin is for MCC usage and is in preview state. * Remove Debian9 from pipeline status badges (not supported anymore).
  README.md
Due: none

Remove Debian9 from build pipelines * OS version no longer supported
  azure-pipelines/build/linux/du/docker/doclient-lite-docker.yml
  azure-pipelines/build/linux/du/docker/dopapt-docker.yml
  azure-pipelines/build/linux/du/docker/dosdkcpp-docker.yml
  azure-pipelines/build/linux/du/templates/do-docker-jobs.yml
  azure-pipelines/build/linux/du/templates/doclient-lite-docker-steps.yml
  azure-pipelines/build/linux/du/templates/dopapt-docker-steps.yml
  azure-pipelines/build/linux/du/templates/dosdkcpp-docker-steps.yml
  azure-pipelines/publishing/github-release.yml
  azure-pipelines/publishing/templates/release-docker-build-steps.yml
  azure-pipelines/publishing/templates/release-native-build-steps.yml
Due: none

Increment versions for GA * Agent, SDK: v1.0.0
  client-lite/CMakeLists.txt
  sdk-cpp/CMakeLists.txt
Due: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/linux/du/doclient-lite-native.yml, azure-pipelines/build/mac/dosdkcpp.yml, azure-pipelines/build/windows/dosdkcpp.yml

Path conditions:
  azure-pipelines/build/doclient-lite-native.yml: any of: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/templates/doclient-lite-native-steps.yml, client-lite, common, build/build.py, CMakeLists.txt, but not: azure-pipelines
  azure-pipelines/build/dopapt-native.yml: any of: azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/templates/dopapt-native-steps.yml, common, plugins, build/build.py, CMakeLists.txt, but not: azure-pipelines, plugins/linux-apt/scripts/configure-apt-method.sh
  azure-pipelines/build/dosdkcpp-native.yml: any of: azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/templates/dosdkcpp-native-steps.yml, common, sdk-cpp, build/build.py, CMakeLists.txt, but not: azure-pipelines, sdk-cpp/build/cleanup-install.sh
  azure-pipelines/build/linux/doclient-lite-native.yml: any of: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/templates/doclient-lite-native-steps.yml, client-lite, common, build/build.py, CMakeLists.txt, but not: azure-pipelines
  azure-pipelines/build/linux/dopapt-native.yml: any of: azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/templates/dopapt-native-steps.yml, common, plugins, build/build.py, CMakeLists.txt, but not: azure-pipelines, plugins/linux-apt/scripts/configure-apt-method.sh
  azure-pipelines/build/linux/dosdkcpp-native.yml: any of: azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/templates/dosdkcpp-native-steps.yml, common, sdk-cpp, build/build.py, CMakeLists.txt, but not: azure-pipelines, sdk-cpp/build/cleanup-install.sh
  azure-pipelines/build/linux/du/doclient-lite-native.yml: any of: azure-pipelines/build/linux/du/doclient-lite-native.yml, azure-pipelines/build/linux/du/templates/doclient-lite-native-steps.yml, client-lite, common, build/build.py, CMakeLists.txt, but not: azure-pipelines
  azure-pipelines/build/mac/dosdkcpp.yml: any of: azure-pipelines/build/mac, common, sdk-cpp, build/build.py, CMakeLists.txt, but not: azure-pipelines, sdk-cpp/build/cleanup-install.sh
  azure-pipelines/build/windows/dosdkcpp.yml: any of: azure-pipelines/build/windows, common, sdk-cpp, build/build.py, CMakeLists.txt, but not: azure-pipelines, sdk-cpp/build/cleanup-install.sh
