Repository microsoft/do-client: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dopapt-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/linux/du/doclient-lite-native.yml, azure-pipelines/build/windows/dosdkcpp.yml

azure-pipelines/build/doclient-lite-native.yml:
  pool:
    name: 1es_hosted_pool_ubuntu_1804
    vmImage: do-adu-build-2
  jobs:
  - job: Debug
    steps:
    - template: templates/doclient-lite-native-steps.yml
      parameters:
        targetOsArch: ubuntu1804_x64
        config: debug
  - job: Release
    steps:
  ...

azure-pipelines/build/dopapt-native.yml:
  pool:
    name: 1es_hosted_pool_ubuntu_1804
    vmImage: do-adu-build-$(version)
  jobs:
  - job: Debug
    steps:
    - template: templates/dopapt-native-steps.yml
      parameters:
        targetOsArch: ubuntu1804_x64
        config: debug
  - job: Release
    steps:
    - template: templates/dopapt-native-steps.yml
  ...

azure-pipelines/build/dosdkcpp-native.yml:
  pool:
    name: 1es_hosted_pool_ubuntu_1804
    vmImage: do-adu-build-$(imageVersion)
  jobs:
  - job: Debug
    steps:
    - template: templates/dosdkcpp-native-steps.yml
      parameters:
        targetOsArch: ubuntu1804_x64
        config: debug
  - job: Release
    steps:
  ...

azure-pipelines/build/linux/doclient-lite-native.yml:
  pool: dotestlab
  jobs:
  - job: Debug
    steps:
    - template: templates/doclient-lite-native-steps.yml
      parameters:
        targetOsArch: ubuntu1804-x64
        config: debug
  - job: Release
    steps:
    - template: templates/doclient-lite-native-steps.yml
      parameters:
        targetOsArch: ubuntu1804-x64
  ...

azure-pipelines/build/linux/dopapt-native.yml:
  pool: dotestlab
  jobs:
  - job: Debug
    steps:
    - template: templates/dopapt-native-steps.yml
      parameters:
        targetOsArch: ubuntu1804-x64
        config: debug
  - job: Release
    steps:
    - template: templates/dopapt-native-steps.yml
      parameters:
        targetOsArch: ubuntu1804-x64
  ...

azure-pipelines/build/linux/dosdkcpp-native.yml:
  pool: dotestlab
  jobs:
  - job: Debug
    steps:
    - template: templates/dosdkcpp-native-steps.yml
      parameters:
        targetOsArch: ubuntu1804-x64
        config: debug
  - job: Release
    steps:
    - template: templates/dosdkcpp-native-steps.yml
      parameters:
        targetOsArch: ubuntu1804-x64
  ...

azure-pipelines/build/linux/du/doclient-lite-native.yml:
  pool: 1es_hosted_pool_ubuntu_1804
  jobs:
  - job: Debug
    steps:
    - template: templates/doclient-lite-native-steps.yml
      parameters:
        targetOsArch: ubuntu1804_x64
        config: debug
  - job: Release
    steps:
    - template: templates/doclient-lite-native-steps.yml
      parameters:
  ...

azure-pipelines/build/windows/dosdkcpp.yml:
  pool:
    vmImage: windows-latest
  jobs:
  - job: Debug
    steps:
    - checkout: self
      submodules: true
    - template: templates/dosdkcpp-steps.yml
      parameters:
        targetOsArch: windows10-x64
        config: debug
  - job: Release
    steps:
    - checkout: self
      submodules: true
  ...

make headers platform agnostic
  sdk-cpp/include/do_config.h
  sdk-cpp/include/do_download.h
  sdk-cpp/include/do_download_property.h
  sdk-cpp/include/do_download_status.h
  sdk-cpp/include/do_exceptions.h
  sdk-cpp/src/do_download.cpp
  sdk-cpp/src/do_download_property.cpp
  sdk-cpp/src/internal/com/do_download_property_internal.cpp
  sdk-cpp/src/internal/com/download_impl.cpp
  sdk-cpp/src/internal/do_download_property_internal.h
  sdk-cpp/src/internal/do_variant_native_type.h
  sdk-cpp/src/internal/download_impl.h
  sdk-cpp/src/internal/download_interface.h
  sdk-cpp/src/internal/rest/do_download_property_internal.cpp
  sdk-cpp/src/internal/rest/download_impl.cpp
Due: azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/windows/dosdkcpp.yml

remove duplicated files from a previous merge
  build/bootstrap.sh
  build/check_binary_size.sh
Due: none

remove unused header file, fix variant assert for callback property
  sdk-cpp/include/do_download_property.h
  sdk-cpp/src/internal/com/do_download_property_internal.cpp
  sdk-cpp/src/internal/do_variant_native_type.h
Due: azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/windows/dosdkcpp.yml

resolve pr feedback
  sdk-cpp/include/do_config.h
  sdk-cpp/include/do_download_property.h
Due: azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/windows/dosdkcpp.yml

slightly revise comment
  sdk-cpp/include/do_config.h
Due: azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/windows/dosdkcpp.yml

Make headers platform agnostic (#83)
  sdk-cpp/include/do_config.h
  sdk-cpp/include/do_download.h
  sdk-cpp/include/do_download_property.h
  sdk-cpp/include/do_download_status.h
  sdk-cpp/include/do_exceptions.h
  sdk-cpp/src/do_download.cpp
  sdk-cpp/src/do_download_property.cpp
  sdk-cpp/src/internal/com/do_download_property_internal.cpp
  sdk-cpp/src/internal/com/download_impl.cpp
  sdk-cpp/src/internal/do_download_property_internal.h
  sdk-cpp/src/internal/download_impl.h
  sdk-cpp/src/internal/download_interface.h
  sdk-cpp/src/internal/rest/do_download_property_internal.cpp
  sdk-cpp/src/internal/rest/download_impl.cpp
Due: azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/windows/dosdkcpp.yml

Update yml for VM pool changes
  azure-pipelines/publishing/github-release.yml
Due: none

Fix paths in release pipeline yaml
  azure-pipelines/publishing/github-release.yml
Due: none

Increment versions for release v0.8.0 * agent, sdk: 0.6.0 * plugin-apt: 0.4.0
  client-lite/CMakeLists.txt
  plugins/linux-apt/CMakeLists.txt
  sdk-cpp/CMakeLists.txt
Due: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dopapt-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/linux/du/doclient-lite-native.yml, azure-pipelines/build/windows/dosdkcpp.yml

Trigger pipelines for develop instead of main. * With creation of develop, main will not see frequent changes. * main can be covered by the release pipeline alone.
  azure-pipelines/build/linux/du/doclient-lite-native.yml
  azure-pipelines/build/linux/du/dopapt-native.yml
  azure-pipelines/build/linux/du/dosdkcpp-native.yml
  azure-pipelines/build/mac/dosdkcpp.yml
  azure-pipelines/build/windows/dosdkcpp.yml
Due: none

Trigger pipelines for develop instead of main. (#85)
  azure-pipelines/build/linux/du/doclient-lite-native.yml
  azure-pipelines/build/linux/du/dopapt-native.yml
  azure-pipelines/build/linux/du/dosdkcpp-native.yml
  azure-pipelines/build/mac/dosdkcpp.yml
  azure-pipelines/build/windows/dosdkcpp.yml
Due: none

Post-v0.8.0 versions increment for develop
  client-lite/CMakeLists.txt
  plugins/linux-apt/CMakeLists.txt
  sdk-cpp/CMakeLists.txt
Due: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dopapt-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/linux/du/doclient-lite-native.yml, azure-pipelines/build/windows/dosdkcpp.yml

remove exceptions, retain for rest
  CMakeLists.txt
  azure-pipelines/build/linux/du/doclient-lite-native.yml
  azure-pipelines/build/linux/du/dopapt-native.yml
  azure-pipelines/build/linux/du/dosdkcpp-native.yml
  azure-pipelines/build/mac/dosdkcpp.yml
  azure-pipelines/build/windows/dosdkcpp.yml
  build/build.py
  sdk-cpp/CMakeLists.txt
  sdk-cpp/include/do_download.h
  sdk-cpp/include/do_download_property.h
  sdk-cpp/include/do_download_status.h
  sdk-cpp/include/do_error_macros.h
  sdk-cpp/include/do_exceptions.h
  sdk-cpp/src/do_config.cpp
  sdk-cpp/src/do_download.cpp
  sdk-cpp/src/do_download_property.cpp
  sdk-cpp/src/do_download_status.cpp
  sdk-cpp/src/do_exceptions.cpp
  sdk-cpp/src/internal/com/do_config_internal.cpp
  sdk-cpp/src/internal/com/do_download_property_internal.cpp
  sdk-cpp/src/internal/com/download_impl.cpp
  sdk-cpp/src/internal/do_config_internal.h
  sdk-cpp/src/internal/do_download_property_internal.h
  sdk-cpp/src/internal/do_exceptions_internal.cpp
  sdk-cpp/src/internal/do_exceptions_internal.h
  sdk-cpp/src/internal/download_impl.h
  sdk-cpp/src/internal/download_interface.h
  sdk-cpp/src/internal/rest/do_config_internal.cpp
  sdk-cpp/src/internal/rest/do_download_property_internal.cpp
  sdk-cpp/src/internal/rest/download_impl.cpp
  sdk-cpp/src/internal/rest/util/do_http_client.cpp
  sdk-cpp/src/internal/rest/util/do_http_client.h
  sdk-cpp/src/internal/rest/util/do_port_finder.cpp
  sdk-cpp/src/internal/rest/util/do_port_finder.h
  sdk-cpp/tests/CMakeLists.txt
  sdk-cpp/tests/com/download_properties_tests.cpp
  sdk-cpp/tests/dosdkcpp_testrunner.cpp
  sdk-cpp/tests/download_tests_common.cpp
  sdk-cpp/tests/rest/network_connectivity_tests.cpp
  sdk-cpp/tests/rest/port_discovery_tests.cpp
Due: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dopapt-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/linux/du/doclient-lite-native.yml, azure-pipelines/build/windows/dosdkcpp.yml

Post-v0.8.0 versions increment for develop (#86)
  client-lite/CMakeLists.txt
  plugins/linux-apt/CMakeLists.txt
  sdk-cpp/CMakeLists.txt
Due: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dopapt-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/linux/du/doclient-lite-native.yml, azure-pipelines/build/windows/dosdkcpp.yml

Return error codes internally and provide error code returning interface
  CMakeLists.txt
  azure-pipelines/publishing/github-release.yml
  build/build.py
  client-lite/CMakeLists.txt
  plugins/linux-apt/CMakeLists.txt
  sdk-cpp/CMakeLists.txt
  sdk-cpp/include/do_config.h
  sdk-cpp/include/do_download.h
  sdk-cpp/include/do_download_property.h
  sdk-cpp/include/do_download_status.h
  sdk-cpp/include/do_error_macros.h
  sdk-cpp/include/do_exceptions.h
  sdk-cpp/src/do_config.cpp
  sdk-cpp/src/do_download.cpp
  sdk-cpp/src/do_download_property.cpp
  sdk-cpp/src/do_download_status.cpp
  sdk-cpp/src/do_exceptions.cpp
  sdk-cpp/src/internal/com/do_config_internal.cpp
  sdk-cpp/src/internal/com/download_impl.cpp
  sdk-cpp/src/internal/com/download_property_internal.cpp
  sdk-cpp/src/internal/do_config_internal.h
  sdk-cpp/src/internal/do_download_property_internal.h
  sdk-cpp/src/internal/do_exceptions_internal.cpp
  sdk-cpp/src/internal/do_exceptions_internal.h
  sdk-cpp/src/internal/do_noncopyable.h
  sdk-cpp/src/internal/download_impl.h
  sdk-cpp/src/internal/download_interface.h
  sdk-cpp/src/internal/rest/do_config_internal.cpp
  sdk-cpp/src/internal/rest/do_download_property_internal.cpp
  sdk-cpp/src/internal/rest/download_impl.cpp
  sdk-cpp/src/internal/rest/util/do_http_client.cpp
  sdk-cpp/src/internal/rest/util/do_http_client.h
  sdk-cpp/src/internal/rest/util/do_port_finder.cpp
  sdk-cpp/src/internal/rest/util/do_port_finder.h
  sdk-cpp/tests/CMakeLists.txt
  sdk-cpp/tests/com/download_properties_tests.cpp
  sdk-cpp/tests/dosdkcpp_testrunner.cpp
  sdk-cpp/tests/download_tests_common.cpp
  sdk-cpp/tests/rest/network_connectivity_tests.cpp
  sdk-cpp/tests/rest/port_discovery_tests.cpp
Due: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dopapt-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/linux/du/doclient-lite-native.yml, azure-pipelines/build/windows/dosdkcpp.yml

fix merge issue
  sdk-cpp/src/internal/com/do_download_property_internal.cpp
  sdk-cpp/src/internal/com/download_property_internal.cpp
Due: azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/windows/dosdkcpp.yml

add flag to build scripts
  azure-pipelines/build/linux/du/templates/dopapt-native-steps.yml
  azure-pipelines/build/linux/du/templates/dosdkcpp-native-steps.yml
  azure-pipelines/build/mac/templates/dosdkcpp-steps.yml
  azure-pipelines/build/windows/templates/dosdkcpp-steps.yml
  build/docker/docker-build-plugin.sh
Due: none

templatize github release jobs and zip the outputs
  azure-pipelines/build/linux/du/templates/dopapt-docker-steps.yml
  azure-pipelines/build/linux/du/templates/dopapt-native-steps.yml
  azure-pipelines/publishing/github-release.yml
  azure-pipelines/publishing/templates/release-docker-build-steps.yml
  azure-pipelines/publishing/templates/release-native-build-steps.yml
Due: none

resolve pr feedback
  azure-pipelines/publishing/templates/release-docker-build-steps.yml
  azure-pipelines/publishing/templates/release-native-build-steps.yml
Due: none

fixing spacing
  azure-pipelines/publishing/templates/release-docker-build-steps.yml
  azure-pipelines/publishing/templates/release-native-build-steps.yml
Due: none

resolve pr comments, change name of exception file
  CMakeLists.txt
  azure-pipelines/build/mac/templates/dosdkcpp-steps.yml
  azure-pipelines/build/windows/templates/dosdkcpp-steps.yml
  build/build.py
  plugins/linux-apt/main.cpp
  sdk-cpp/CMakeLists.txt
  sdk-cpp/include/do_download_status.h
  sdk-cpp/include/do_error_macros.h
  sdk-cpp/include/do_errors.h
  sdk-cpp/src/do_download.cpp
  sdk-cpp/src/do_download_property.cpp
  sdk-cpp/src/do_errors.cpp
  sdk-cpp/src/internal/com/do_config_internal.cpp
  sdk-cpp/src/internal/com/do_download_property_internal.cpp
  sdk-cpp/src/internal/com/download_impl.cpp
  sdk-cpp/src/internal/do_exceptions_internal.cpp
  sdk-cpp/src/internal/do_exceptions_internal.h
  sdk-cpp/src/internal/do_noncopyable.h
  sdk-cpp/src/internal/rest/do_download_property_internal.cpp
  sdk-cpp/src/internal/rest/download_impl.cpp
  sdk-cpp/src/internal/rest/util/do_http_client.cpp
  sdk-cpp/src/internal/rest/util/do_port_finder.cpp
  sdk-cpp/tests/com/download_properties_tests.cpp
  sdk-cpp/tests/com/download_tests.cpp
  sdk-cpp/tests/download_status_tests.cpp
  sdk-cpp/tests/download_tests_common.cpp
  sdk-cpp/tests/rest/mcc_download_tests.cpp
  sdk-cpp/tests/rest/network_connectivity_tests.cpp
Due: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dopapt-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/linux/du/doclient-lite-native.yml, azure-pipelines/build/windows/dosdkcpp.yml

Templatize Github release jobs per platform & Tar the .deb output (#89)
  azure-pipelines/build/linux/du/templates/dopapt-docker-steps.yml
  azure-pipelines/build/linux/du/templates/dopapt-native-steps.yml
  azure-pipelines/publishing/github-release.yml
  azure-pipelines/publishing/templates/release-docker-build-steps.yml
  azure-pipelines/publishing/templates/release-native-build-steps.yml
Due: none

make methods use return value rather than out param
  sdk-cpp/include/do_download.h
  sdk-cpp/include/do_download_property.h
  sdk-cpp/src/do_download.cpp
  sdk-cpp/src/do_download_property.cpp
  sdk-cpp/tests/com/download_properties_tests.cpp
Due: azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/windows/dosdkcpp.yml

resolve most pr feedback
  sdk-cpp/include/do_download_property.h
  sdk-cpp/src/do_download.cpp
  sdk-cpp/src/do_download_property.cpp
  sdk-cpp/src/do_errors.cpp
  sdk-cpp/src/internal/com/do_download_property_internal.cpp
  sdk-cpp/src/internal/com/download_impl.cpp
  sdk-cpp/src/internal/do_config_internal.h
  sdk-cpp/src/internal/do_download_property_internal.h
  sdk-cpp/src/internal/do_exceptions_internal.cpp
  sdk-cpp/src/internal/do_exceptions_internal.h
  sdk-cpp/src/internal/rest/do_download_property_internal.cpp
Due: azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/windows/dosdkcpp.yml

Templatize Github release jobs per platform & Tar the .deb output (#90)
  azure-pipelines/build/linux/du/templates/dopapt-docker-steps.yml
  azure-pipelines/build/linux/du/templates/dopapt-native-steps.yml
  azure-pipelines/publishing/github-release.yml
  azure-pipelines/publishing/templates/release-docker-build-steps.yml
  azure-pipelines/publishing/templates/release-native-build-steps.yml
Due: none

fix build.py
  build/build.py
Due: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dopapt-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/linux/du/doclient-lite-native.yml, azure-pipelines/build/windows/dosdkcpp.yml

cleanup cmakelists
  CMakeLists.txt
  sdk-cpp/CMakeLists.txt
Due: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dopapt-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/linux/du/doclient-lite-native.yml, azure-pipelines/build/windows/dosdkcpp.yml

adjust pipeline yamls
  azure-pipelines/build/linux/du/templates/dopapt-native-steps.yml
  azure-pipelines/build/linux/du/templates/dosdkcpp-native-steps.yml
Due: none

fix plugin biuld
  plugins/linux-apt/CMakeLists.txt
Due: azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/linux/dopapt-native.yml

Adjust binary size
  azure-pipelines/build/linux/du/templates/dosdkcpp-native-steps.yml
Due: none

modify git ignore, use custom do.hpp header
  .gitignore
  sdk-cpp/src/internal/com/deliveryoptimization/do.hpp
  sdk-cpp/src/internal/com/download_impl.cpp
  sdk-cpp/src/internal/download_impl.h
Due: azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/windows/dosdkcpp.yml

remove header include from cpp file
  sdk-cpp/src/internal/com/download_impl.cpp
  sdk-cpp/src/internal/download_impl.h
Due: azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/windows/dosdkcpp.yml

Use custom do.hpp header (#91)
  .gitignore
  sdk-cpp/src/internal/com/deliveryoptimization/do.hpp
  sdk-cpp/src/internal/com/download_impl.cpp
  sdk-cpp/src/internal/download_impl.h
Due: azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/windows/dosdkcpp.yml

fix pipelines for windows/mac
  azure-pipelines/build/mac/templates/dosdkcpp-steps.yml
  azure-pipelines/build/windows/templates/dosdkcpp-steps.yml
Due: none

Path conditions:
  azure-pipelines/build/doclient-lite-native.yml: any of: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/templates/doclient-lite-native-steps.yml, client-lite, common, build/build.py, CMakeLists.txt, but not: azure-pipelines
  azure-pipelines/build/dopapt-native.yml: any of: azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/templates/dopapt-native-steps.yml, common, plugins, build/build.py, CMakeLists.txt, but not: azure-pipelines, plugins/linux-apt/scripts/configure-apt-method.sh
  azure-pipelines/build/dosdkcpp-native.yml: any of: azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/templates/dosdkcpp-native-steps.yml, common, sdk-cpp, build/build.py, CMakeLists.txt, but not: azure-pipelines, sdk-cpp/build/cleanup-install.sh
  azure-pipelines/build/linux/doclient-lite-native.yml: any of: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/templates/doclient-lite-native-steps.yml, client-lite, common, build/build.py, CMakeLists.txt, but not: azure-pipelines
  azure-pipelines/build/linux/dopapt-native.yml: any of: azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/templates/dopapt-native-steps.yml, common, plugins, build/build.py, CMakeLists.txt, but not: azure-pipelines, plugins/linux-apt/scripts/configure-apt-method.sh
  azure-pipelines/build/linux/dosdkcpp-native.yml: any of: azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/templates/dosdkcpp-native-steps.yml, common, sdk-cpp, build/build.py, CMakeLists.txt, but not: azure-pipelines, sdk-cpp/build/cleanup-install.sh
  azure-pipelines/build/linux/du/doclient-lite-native.yml: any of: azure-pipelines/build/linux/du/doclient-lite-native.yml, azure-pipelines/build/linux/du/templates/doclient-lite-native-steps.yml, client-lite, common, build/build.py, CMakeLists.txt, but not: azure-pipelines
  azure-pipelines/build/windows/dosdkcpp.yml: any of: azure-pipelines/build/windows, common, sdk-cpp, build/build.py, CMakeLists.txt, but not: azure-pipelines, sdk-cpp/build/cleanup-install.sh
