Repository microsoft/do-client: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dopapt-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/linux/du/doclient-lite-native.yml, azure-pipelines/build/mac/dosdkcpp.yml, azure-pipelines/build/windows/dosdkcpp.yml

Path conditions:
  azure-pipelines/build/doclient-lite-native.yml: any of: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/templates/doclient-lite-native-steps.yml, client-lite, common, build/build.py, CMakeLists.txt, but not: azure-pipelines
  azure-pipelines/build/dopapt-native.yml: any of: azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/templates/dopapt-native-steps.yml, common, plugins, build/build.py, CMakeLists.txt, but not: azure-pipelines, plugins/linux-apt/scripts/configure-apt-method.sh
  azure-pipelines/build/dosdkcpp-native.yml: any of: azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/templates/dosdkcpp-native-steps.yml, common, sdk-cpp, build/build.py, CMakeLists.txt, but not: azure-pipelines, sdk-cpp/build/cleanup-install.sh
  azure-pipelines/build/linux/doclient-lite-native.yml: any of: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/templates/doclient-lite-native-steps.yml, client-lite, common, build/build.py, CMakeLists.txt, but not: azure-pipelines
  azure-pipelines/build/linux/dopapt-native.yml: any of: azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/templates/dopapt-native-steps.yml, common, plugins, build/build.py, CMakeLists.txt, but not: azure-pipelines, plugins/linux-apt/scripts/configure-apt-method.sh
  azure-pipelines/build/linux/dosdkcpp-native.yml: any of: azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/templates/dosdkcpp-native-steps.yml, common, sdk-cpp, build/build.py, CMakeLists.txt, but not: azure-pipelines, sdk-cpp/build/cleanup-install.sh
  azure-pipelines/build/linux/du/doclient-lite-native.yml: any of: azure-pipelines/build/linux/du/doclient-lite-native.yml, azure-pipelines/build/linux/du/templates/doclient-lite-native-steps.yml, client-lite, common, build/build.py, CMakeLists.txt, but not: azure-pipelines
  azure-pipelines/build/mac/dosdkcpp.yml: any of: azure-pipelines/build/mac, common, sdk-cpp, build/build.py, CMakeLists.txt, but not: azure-pipelines, sdk-cpp/build/cleanup-install.sh
  azure-pipelines/build/windows/dosdkcpp.yml: any of: azure-pipelines/build/windows, common, sdk-cpp, build/build.py, CMakeLists.txt, but not: azure-pipelines, sdk-cpp/build/cleanup-install.sh

Replace tab chars
  sdk-cpp/include/do_errors.h
Due: azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/mac/dosdkcpp.yml, azure-pipelines/build/windows/dosdkcpp.yml

Remove error code prefixes
  sdk-cpp/include/do_config.h
  sdk-cpp/include/do_download.h
  sdk-cpp/include/do_errors.h
  sdk-cpp/src/do_download.cpp
  sdk-cpp/src/internal/com/do_config_internal.cpp
  sdk-cpp/src/internal/com/download_impl.cpp
  sdk-cpp/src/internal/do_error_helpers.h
  sdk-cpp/src/internal/rest/do_config_internal.cpp
  sdk-cpp/src/internal/rest/do_download_property_internal.cpp
  sdk-cpp/src/internal/rest/download_impl.cpp
  sdk-cpp/src/internal/rest/util/do_http_client.cpp
  sdk-cpp/src/internal/rest/util/do_port_finder.cpp
  sdk-cpp/tests/download_properties_tests.cpp
  sdk-cpp/tests/download_tests_common.cpp
Due: azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/mac/dosdkcpp.yml, azure-pipelines/build/windows/dosdkcpp.yml

Reword comments
  sdk-cpp/include/do_download.h
Due: azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/mac/dosdkcpp.yml, azure-pipelines/build/windows/dosdkcpp.yml

Add implementation for EnumDownloads (#158)
  sdk-cpp/include/do_config.h
  sdk-cpp/include/do_download.h
  sdk-cpp/include/do_errors.h
  sdk-cpp/src/do_download.cpp
  sdk-cpp/src/internal/com/do_config_internal.cpp
  sdk-cpp/src/internal/com/do_download_property_internal.cpp
  sdk-cpp/src/internal/com/download_impl.cpp
  sdk-cpp/src/internal/do_download_property_internal.h
  sdk-cpp/src/internal/do_error_helpers.h
  sdk-cpp/src/internal/download_impl.h
  sdk-cpp/src/internal/rest/do_config_internal.cpp
  sdk-cpp/src/internal/rest/do_download_property_internal.cpp
  sdk-cpp/src/internal/rest/download_impl.cpp
  sdk-cpp/tests/download_properties_tests.cpp
  sdk-cpp/tests/download_tests_common.cpp
Due: azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/mac/dosdkcpp.yml, azure-pipelines/build/windows/dosdkcpp.yml

fix symlink on sdk-test snap
  build/build-snaps.sh
  sdk-cpp/tests/CMakeLists.txt
  sdk-cpp/tests/test_data.cpp
  snapcraft-options/snapcraft-sdk.yaml
Due: azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/mac/dosdkcpp.yml, azure-pipelines/build/windows/dosdkcpp.yml

add sdk-tests snap option
  build/build-snaps.sh
  sdk-cpp/tests/test_data.cpp
  snapcraft-options/snapcraft-agent.yaml
  snapcraft-options/snapcraft-sdk.yaml
Due: azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/mac/dosdkcpp.yml, azure-pipelines/build/windows/dosdkcpp.yml

PR feedback
  .gitignore
  build/build-snaps.sh
  sdk-cpp/tests/CMakeLists.txt
  snapcraft-options/snapcraft-agent.yaml
  snapcraft-options/snapcraft-sdk.yaml
Due: azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/mac/dosdkcpp.yml, azure-pipelines/build/windows/dosdkcpp.yml

Ubuntu snap: Create sdk-tests snap to test integration with the agent snap (#159)
  .gitignore
  build/build-snaps.sh
  sdk-cpp/tests/CMakeLists.txt
  sdk-cpp/tests/test_data.cpp
  snapcraft-options/snapcraft-agent.yaml
  snapcraft-options/snapcraft-sdk.yaml
Due: azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/mac/dosdkcpp.yml, azure-pipelines/build/windows/dosdkcpp.yml

Agent: Fix paths in snap build
  client-lite/CMakeLists.txt
  client-lite/src/exe/docs.cpp
  client-lite/src/util/do_persistence.cpp
  client-lite/src/util/proc_launch_helper.h
  snapcraft-options/snapcraft-agent.yaml
Due: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/du/doclient-lite-native.yml

SDK tests: Fix slot name, use snap svc control
  build/connect-snaps.sh
  sdk-cpp/tests/download_tests_common.cpp
  sdk-cpp/tests/rest/test_helpers.cpp
  sdk-cpp/tests/test_data.cpp
  sdk-cpp/tests/test_data.h
  snapcraft-options/snapcraft-sdk.yaml
Due: azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/mac/dosdkcpp.yml, azure-pipelines/build/windows/dosdkcpp.yml

Documentation
  snapcraft-options/connect-snaps.sh
  snapcraft-options/ubuntu-snap.md
Due: none

SDK also must use SNAP_DATA env var
  sdk-cpp/CMakeLists.txt
  sdk-cpp/src/internal/rest/util/do_persistence.cpp
  sdk-cpp/tests/download_tests_common.cpp
  sdk-cpp/tests/rest/port_discovery_tests.cpp
  snapcraft-options/snapcraft-agent.yaml
  snapcraft-options/snapcraft-sdk.yaml
Due: azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/mac/dosdkcpp.yml, azure-pipelines/build/windows/dosdkcpp.yml

Ubuntu snap: Use SNAP_DATA env var. Add documentation. (#160)
  client-lite/CMakeLists.txt
  client-lite/src/exe/docs.cpp
  client-lite/src/util/do_persistence.cpp
  client-lite/src/util/proc_launch_helper.h
  sdk-cpp/CMakeLists.txt
  sdk-cpp/src/internal/rest/util/do_persistence.cpp
  sdk-cpp/tests/download_tests_common.cpp
  sdk-cpp/tests/rest/port_discovery_tests.cpp
  sdk-cpp/tests/rest/test_helpers.cpp
  sdk-cpp/tests/test_data.cpp
  sdk-cpp/tests/test_data.h
  snapcraft-options/connect-snaps.sh
  snapcraft-options/snapcraft-agent.yaml
  snapcraft-options/snapcraft-sdk.yaml
  snapcraft-options/ubuntu-snap.md
Due: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/linux/du/doclient-lite-native.yml, azure-pipelines/build/mac/dosdkcpp.yml, azure-pipelines/build/windows/dosdkcpp.yml

SDK: Remove unused test helpers
  sdk-cpp/tests/rest/test_helpers.cpp
  sdk-cpp/tests/test_helpers.h
Due: azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/mac/dosdkcpp.yml, azure-pipelines/build/windows/dosdkcpp.yml

SDK: Remove unused test helpers (#161)
  sdk-cpp/tests/rest/test_helpers.cpp
  sdk-cpp/tests/test_helpers.h
Due: azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/mac/dosdkcpp.yml, azure-pipelines/build/windows/dosdkcpp.yml

Fix boolean check
  build/scripts/bootstrap.sh
Due: none

Apply shellcheck suggestions
  build/scripts/bootstrap.sh
Due: none

Remove platform arg from bootstrap.sh
  build/scripts/bootstrap.sh
Due: none

Remove platform arg from snapcraft
  snapcraft-options/snapcraft-agent.yaml
  snapcraft-options/snapcraft-sdk.yaml
Due: none

PR feedback - ARCH, DISTRO
  build/scripts/bootstrap.sh
Due: none

Enable bootstrap.sh to determine OS and version on its own (#162)
  build/docker/debian10/amd64/Dockerfile
  build/docker/debian10/arm32/Dockerfile
  build/docker/debian10/arm64/Dockerfile
  build/docker/ubuntu1804/arm64/Dockerfile
  build/docker/ubuntu2004/amd64/Dockerfile
  build/docker/ubuntu2004/arm64/Dockerfile
  build/scripts/bootstrap.sh
  snapcraft-options/snapcraft-agent.yaml
  snapcraft-options/snapcraft-sdk.yaml
Due: none

Change confinement level to strict
  snapcraft-options/snapcraft-agent.yaml
  snapcraft-options/snapcraft-sdk.yaml
Due: none

Add support for setting client certificate
  sdk-cpp/include/do_download.h
  sdk-cpp/src/do_download.cpp
  sdk-cpp/src/internal/com/download_impl.cpp
  sdk-cpp/src/internal/download_impl.h
  sdk-cpp/src/internal/download_interface.h
  sdk-cpp/src/internal/rest/download_impl.cpp
Due: azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/mac/dosdkcpp.yml, azure-pipelines/build/windows/dosdkcpp.yml

Add test case for invalid client cert
  sdk-cpp/tests/download_properties_tests.cpp
Due: azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/mac/dosdkcpp.yml, azure-pipelines/build/windows/dosdkcpp.yml

Add support for setting client certificate (#164)
  sdk-cpp/include/do_download.h
  sdk-cpp/src/do_download.cpp
  sdk-cpp/src/internal/com/download_impl.cpp
  sdk-cpp/src/internal/download_impl.h
  sdk-cpp/src/internal/download_interface.h
  sdk-cpp/src/internal/rest/download_impl.cpp
  sdk-cpp/tests/download_properties_tests.cpp
Due: azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/mac/dosdkcpp.yml, azure-pipelines/build/windows/dosdkcpp.yml

Change confinement level to strict (#163)
  snapcraft-options/snapcraft-agent.yaml
  snapcraft-options/snapcraft-sdk.yaml
Due: none

Update ubuntu-snap.md
  snapcraft-options/ubuntu-snap.md
Due: none

Use c++17 filesystem instead of boost and std::experimental
  CMakeLists.txt
  client-lite/CMakeLists.txt
  client-lite/src/ipc/rest_port_advertiser.h
  client-lite/src/util/do_json_parser.cpp
  client-lite/src/util/proc_launch_helper.h
  client-lite/test/CMakeLists.txt
  client-lite/test/do_log_tests.cpp
  client-lite/test/docs_tests.cpp
  client-lite/test/download_manager_tests.cpp
  client-lite/test/json_parser_tests.cpp
  client-lite/test/mcc_manager.tests.cpp
  client-lite/test/test_common.h
  client-lite/test/test_verifiers.h
  sdk-cpp/CMakeLists.txt
  sdk-cpp/src/internal/rest/do_config_internal.cpp
  sdk-cpp/src/internal/rest/util/do_port_finder.cpp
  sdk-cpp/tests/CMakeLists.txt
  sdk-cpp/tests/download_properties_tests.cpp
  sdk-cpp/tests/download_tests_common.cpp
  sdk-cpp/tests/rest/config_tests.cpp
  sdk-cpp/tests/rest/mcc_download_tests.cpp
  sdk-cpp/tests/rest/network_connectivity_tests.cpp
  sdk-cpp/tests/rest/port_discovery_tests.cpp
  sdk-cpp/tests/rest/rest_interface_tests.cpp
  sdk-cpp/tests/rest/test_helpers.cpp
  sdk-cpp/tests/test_data.cpp
  sdk-cpp/tests/test_helpers.h
  sdk-cpp/tests/tests_common.h
Due: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dopapt-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/linux/du/doclient-lite-native.yml, azure-pipelines/build/mac/dosdkcpp.yml, azure-pipelines/build/windows/dosdkcpp.yml

Update ubuntu-snap.md (#165)
  snapcraft-options/ubuntu-snap.md
Due: none

Update check_binary_size
  build/scripts/check_binary_size.sh
Due: none

Update sdk size check
  azure-pipelines/build/linux/du/templates/dosdkcpp-native-steps.yml
Due: none

Update agent size check
  azure-pipelines/build/linux/du/templates/doclient-lite-native-steps.yml
Due: none

Fix minsizerel binary size checks (#168)
  azure-pipelines/build/linux/du/templates/doclient-lite-native-steps.yml
  azure-pipelines/build/linux/du/templates/dosdkcpp-native-steps.yml
  build/scripts/check_binary_size.sh
Due: none

Remove boost filesystem from bootstrap, snapcraft, and cmake config
  build/scripts/bootstrap.sh
  build/scripts/install-vcpkg-deps.ps1
  build/scripts/install-vcpkg-deps.sh
  sdk-cpp/build/cmake/deliveryoptimization_sdk-config.cmake
  snapcraft-options/snapcraft-agent.yaml
  snapcraft-options/snapcraft-sdk.yaml
Due: azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/mac/dosdkcpp.yml, azure-pipelines/build/windows/dosdkcpp.yml

Fix fs linking for sdk
  sdk-cpp/CMakeLists.txt
  sdk-cpp/src/internal/do_filesystem.h
  sdk-cpp/src/internal/rest/do_config_internal.cpp
  sdk-cpp/src/internal/rest/util/do_port_finder.cpp
  sdk-cpp/tests/CMakeLists.txt
  sdk-cpp/tests/download_properties_tests.cpp
  sdk-cpp/tests/download_tests_common.cpp
  sdk-cpp/tests/rest/config_tests.cpp
  sdk-cpp/tests/rest/mcc_download_tests.cpp
  sdk-cpp/tests/rest/network_connectivity_tests.cpp
  sdk-cpp/tests/rest/port_discovery_tests.cpp
  sdk-cpp/tests/rest/rest_interface_tests.cpp
  sdk-cpp/tests/rest/test_helpers.cpp
  sdk-cpp/tests/test_data.cpp
  sdk-cpp/tests/test_helpers.h
  sdk-cpp/tests/tests_common.h
Due: azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/mac/dosdkcpp.yml, azure-pipelines/build/windows/dosdkcpp.yml
