Repository microsoft/do-client: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dopapt-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/linux/du/doclient-lite-native.yml

Path conditions:
  azure-pipelines/build/doclient-lite-native.yml: any of: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/templates/doclient-lite-native-steps.yml, client-lite, common, build/build.py, CMakeLists.txt, but not: azure-pipelines
  azure-pipelines/build/dopapt-native.yml: any of: azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/templates/dopapt-native-steps.yml, common, plugins, build/build.py, CMakeLists.txt, but not: azure-pipelines, plugins/linux-apt/scripts/configure-apt-method.sh
  azure-pipelines/build/dosdkcpp-native.yml: any of: azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/templates/dosdkcpp-native-steps.yml, common, sdk-cpp, build/build.py, CMakeLists.txt, but not: azure-pipelines, sdk-cpp/build/cleanup-install.sh
  azure-pipelines/build/linux/doclient-lite-native.yml: any of: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/templates/doclient-lite-native-steps.yml, client-lite, common, build/build.py, CMakeLists.txt, but not: azure-pipelines
  azure-pipelines/build/linux/dopapt-native.yml: any of: azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/templates/dopapt-native-steps.yml, common, plugins, build/build.py, CMakeLists.txt, but not: azure-pipelines, plugins/linux-apt/scripts/configure-apt-method.sh
  azure-pipelines/build/linux/dosdkcpp-native.yml: any of: azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/templates/dosdkcpp-native-steps.yml, common, sdk-cpp, build/build.py, CMakeLists.txt, but not: azure-pipelines, sdk-cpp/build/cleanup-install.sh
  azure-pipelines/build/linux/du/doclient-lite-native.yml: any of: azure-pipelines/build/linux/du/doclient-lite-native.yml, azure-pipelines/build/linux/du/templates/doclient-lite-native-steps.yml, client-lite, common, build/build.py, CMakeLists.txt, but not: azure-pipelines

Agent: Replace entire cpprest usage with libcurl (#66)
  NOTICE.md
  build/bootstrap.sh
  client-lite/CMakeLists.txt
  client-lite/src/download/download.cpp
  client-lite/src/download/download.h
  client-lite/src/download/download_manager.cpp
  client-lite/src/download/download_manager.h
  client-lite/src/exe/docs.cpp
  client-lite/src/util/do_curl_multi_operation.cpp
  client-lite/src/util/do_curl_multi_operation.h
  client-lite/src/util/error_macros.cpp
  client-lite/src/util/http_agent.cpp
  client-lite/src/util/http_agent.h
  client-lite/src/util/http_agent_interface.h
  client-lite/test/CMakeLists.txt
  client-lite/test/download_manager_tests.cpp
  client-lite/test/mcc_manager.tests.cpp
  client-lite/test/test_common.h
  common/lib-dohttp/do_http_defines.h
  licenses/cgmanifest.json
  plugins/linux-apt/main.cpp
  sdk-cpp/tests/tests_common.h
Due: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dopapt-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/linux/du/doclient-lite-native.yml

Fix Deb9 build: Check libcurl version
  client-lite/src/util/http_agent.cpp
Due: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/du/doclient-lite-native.yml

Add libcurl entry to NOTICE and cgmanifest files
  NOTICE.md
  licenses/cgmanifest.json
Due: none

Enable versioning for build images (#68)
  azure-pipelines/build/linux/du/doclient-lite-docker.yml
  azure-pipelines/build/linux/du/doclient-lite-native.yml
  azure-pipelines/build/linux/du/dopapt-docker.yml
  azure-pipelines/build/linux/du/dopapt-native.yml
  azure-pipelines/build/linux/du/dosdkcpp-docker.yml
  azure-pipelines/build/linux/du/dosdkcpp-native.yml
  azure-pipelines/build/linux/du/templates/do-docker-jobs.yml
  azure-pipelines/build/linux/du/templates/doclient-lite-docker-steps.yml
  azure-pipelines/build/linux/du/templates/dopapt-docker-steps.yml
  azure-pipelines/build/linux/du/templates/dosdkcpp-docker-steps.yml
  build/bootstrap.sh
Due: none

Fix Deb9 build: bad_cast is undefined
  common/lib-dohttp/do_cpprest_uri.cpp
  common/lib-dohttp/do_cpprest_utils.h
Due: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dopapt-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/linux/du/doclient-lite-native.yml

Agent: Cleanup after consuming libcurl (#67)
  client-lite/src/download/download.cpp
  client-lite/src/download/download.h
  client-lite/src/download/download_manager.h
  client-lite/src/exe/docs.cpp
  client-lite/src/util/do_curl_wrappers.cpp
  client-lite/src/util/do_curl_wrappers.h
  client-lite/src/util/http_agent.cpp
  client-lite/src/util/http_agent.h
  client-lite/src/util/http_agent_interface.h
  common/lib-dohttp/do_cpprest_base_uri.h
  common/lib-dohttp/do_cpprest_uri.cpp
  common/lib-dohttp/do_cpprest_uri_builder.h
  common/lib-dohttp/do_cpprest_utils.h
Due: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dopapt-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/linux/du/doclient-lite-native.yml

Pipeline build fix: Specify image via demands (#71)
  azure-pipelines/build/linux/du/doclient-lite-docker.yml
  azure-pipelines/build/linux/du/doclient-lite-native.yml
  azure-pipelines/build/linux/du/dopapt-docker.yml
  azure-pipelines/build/linux/du/dopapt-native.yml
  azure-pipelines/build/linux/du/dosdkcpp-docker.yml
  azure-pipelines/build/linux/du/dosdkcpp-native.yml
Due: none

Agent: Add comment about threads lib
  client-lite/CMakeLists.txt
Due: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/du/doclient-lite-native.yml

SDK: Stabilize DiscoverPortTest
  sdk-cpp/tests/rest/port_discovery_tests.cpp
Due: azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml

Remove cpprest dependency in REST API parsing (#64)
  azure-pipelines/build/linux/du/templates/dosdkcpp-native-steps.yml
  client-lite/CMakeLists.txt
  client-lite/src/ipc/rest_api_parser.cpp
  client-lite/src/ipc/rest_api_parser.h
  client-lite/src/ipc/rest_api_request.cpp
  client-lite/src/ipc/rest_api_request.h
  client-lite/src/ipc/rest_http_controller.cpp
  common/lib-dohttp/CMakeLists.txt
  common/lib-dohttp/do_cpprest_base_uri.h
  common/lib-dohttp/do_cpprest_uri.cpp
  common/lib-dohttp/do_cpprest_uri.h
  common/lib-dohttp/do_cpprest_uri_builder.cpp
  common/lib-dohttp/do_cpprest_uri_builder.h
  common/lib-dohttp/do_cpprest_utils.cpp
  common/lib-dohttp/do_cpprest_utils.h
  common/lib-dohttp/do_http_defines.cpp
  common/lib-dohttp/do_http_defines.h
  common/lib-dohttp/do_http_packet.h
  common/lib-dohttp/do_http_parser.h
  sdk-cpp/src/internal/rest/download_impl.cpp
  sdk-cpp/src/internal/rest/util/do_http_message.cpp
  sdk-cpp/src/internal/rest/util/do_url_encode.h
Due: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dopapt-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/linux/du/doclient-lite-native.yml

Remove cpprest dependency in REST listener (#65)
  client-lite/CMakeLists.txt
  client-lite/src/config/mcc_manager.cpp
  client-lite/src/download/download.cpp
  client-lite/src/exe/docs.cpp
  client-lite/src/ipc/rest_http_controller.cpp
  client-lite/src/ipc/rest_http_controller.h
  client-lite/src/ipc/rest_http_listener.cpp
  client-lite/src/ipc/rest_http_listener.h
  client-lite/src/ipc/rest_http_listener_conn.cpp
  client-lite/src/ipc/rest_http_listener_conn.h
  client-lite/test/rest_http_listener_tests.cpp
  common/lib-dohttp/do_http_parser.cpp
  sdk-cpp/src/internal/rest/util/do_http_message.cpp
  sdk-cpp/tests/rest/rest_interface_tests.cpp
Due: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dopapt-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/linux/du/doclient-lite-native.yml

LogError to cerr and debug log
  plugins/linux-apt/do_log.cpp
  plugins/linux-apt/do_log.h
  plugins/linux-apt/do_string_util.h
  plugins/linux-apt/main.cpp
Due: azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/linux/dopapt-native.yml

Remove plugin-apt log in postrm script
  plugins/linux-apt/scripts/postrm.in.sh
Due: azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/linux/dopapt-native.yml

Plugin-Apt: LogDebug in DEBUG mode only. * Change log file name.
  CMakeLists.txt
  client-lite/CMakeLists.txt
  plugins/linux-apt/CMakeLists.txt
  plugins/linux-apt/do_log.cpp
  plugins/linux-apt/do_log.h
  plugins/linux-apt/main.cpp
Due: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dopapt-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/linux/du/doclient-lite-native.yml

Plugin: Log to std::cerr. File log only in debug mode. (#76)
  CMakeLists.txt
  client-lite/CMakeLists.txt
  plugins/linux-apt/CMakeLists.txt
  plugins/linux-apt/do_log.cpp
  plugins/linux-apt/do_log.h
  plugins/linux-apt/do_string_util.h
  plugins/linux-apt/main.cpp
  plugins/linux-apt/scripts/postrm.in.sh
Due: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dopapt-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/linux/du/doclient-lite-native.yml

fix win break
  sdk-cpp/src/do_download_property.cpp
Due: azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml

fix win break (#77)
  sdk-cpp/src/do_download_property.cpp
Due: azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml

Fix deb9 plugin build: cmake find_dependency macro differs in functionality prior to 3.10 (#78)
  sdk-cpp/build/cmake/deliveryoptimization_sdk-config.cmake
Due: azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml

ARM pipelines: Fix version parameter name (#78)
  azure-pipelines/build/linux/du/doclient-lite-docker.yml
  azure-pipelines/build/linux/du/dopapt-docker.yml
  azure-pipelines/build/linux/du/dosdkcpp-docker.yml
  azure-pipelines/build/linux/du/templates/do-docker-jobs.yml
Due: none

win10 build fixes
  .gitignore
  build/docker/ubuntu18.04/arm64/Dockerfile
  build/scripts/install-vcpkg-deps.ps1
  sdk-cpp/CMakeLists.txt
  sdk-cpp/src/do_download_property.cpp
Due: azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml

fix comment
  sdk-cpp/src/do_download_property.cpp
Due: azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml

win10 build fixes (#79)
  .gitignore
  build/docker/ubuntu18.04/arm64/Dockerfile
  build/scripts/install-vcpkg-deps.ps1
  sdk-cpp/CMakeLists.txt
  sdk-cpp/src/do_download_property.cpp
Due: azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml

remove internal exceptions
  build/build.py
  sdk-cpp/CMakeLists.txt
  sdk-cpp/include/do_download.h
  sdk-cpp/include/do_download_property.h
  sdk-cpp/include/do_exceptions.h
  sdk-cpp/src/do_config.cpp
  sdk-cpp/src/do_download.cpp
  sdk-cpp/src/do_download_property.cpp
  sdk-cpp/src/do_exceptions.cpp
  sdk-cpp/src/internal/com/download_impl.cpp
  sdk-cpp/src/internal/do_exceptions_internal.cpp
  sdk-cpp/src/internal/do_exceptions_internal.h
  sdk-cpp/src/internal/download_impl.h
  sdk-cpp/src/internal/download_interface.h
  sdk-cpp/src/internal/rest/download_impl.cpp
  sdk-cpp/tests/download_tests_common.cpp
  sdk-cpp/tests/rest/network_connectivity_tests.cpp
Due: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dopapt-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/linux/du/doclient-lite-native.yml

remove platform specific code in public headers, and remove all internal exceptions
  CMakeLists.txt
  build/build.py
  sdk-cpp/CMakeLists.txt
  sdk-cpp/include/do_config.h
  sdk-cpp/include/do_download.h
  sdk-cpp/include/do_download_property.h
  sdk-cpp/include/do_download_status.h
  sdk-cpp/include/do_exceptions.h
  sdk-cpp/src/do_config.cpp
  sdk-cpp/src/do_download.cpp
  sdk-cpp/src/do_download_property.cpp
  sdk-cpp/src/do_download_status.cpp
  sdk-cpp/src/do_exceptions.cpp
  sdk-cpp/src/internal/com/do_config_internal.cpp
  sdk-cpp/src/internal/com/do_download_property_internal.cpp
  sdk-cpp/src/internal/com/download_impl.cpp
  sdk-cpp/src/internal/do_config_internal.h
  sdk-cpp/src/internal/do_download_property_internal.h
  sdk-cpp/src/internal/do_exceptions_internal.cpp
  sdk-cpp/src/internal/do_exceptions_internal.h
  sdk-cpp/src/internal/download_impl.h
  sdk-cpp/src/internal/download_interface.h
  sdk-cpp/src/internal/rest/do_config_internal.cpp
  sdk-cpp/src/internal/rest/do_download_property_internal.cpp
  sdk-cpp/src/internal/rest/download_impl.cpp
  sdk-cpp/src/internal/rest/util/do_http_client.cpp
  sdk-cpp/src/internal/rest/util/do_http_client.h
  sdk-cpp/src/internal/rest/util/do_port_finder.cpp
  sdk-cpp/src/internal/rest/util/do_port_finder.h
  sdk-cpp/tests/download_tests_common.cpp
  sdk-cpp/tests/rest/network_connectivity_tests.cpp
  sdk-cpp/tests/rest/port_discovery_tests.cpp
  sdk-cpp/tests/rest/rest_interface_tests.cpp
Due: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dopapt-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/linux/du/doclient-lite-native.yml

missed a header
  sdk-cpp/src/internal/rest/download_impl.cpp
Due: azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml

Update all licenses
  CMakeLists.txt
  build/bootstrap.sh
  build/build.py
  build/check_binary_size.sh
  build/docker/docker-build-plugin.sh
  build/scripts/bootstrap-windows.ps1
  build/scripts/bootstrap.sh
  build/scripts/check_binary_size.sh
  build/scripts/install-vcpkg-deps.ps1
  build/scripts/install-vcpkg-deps.sh
  client-lite/CMakeLists.txt
  client-lite/build/postinst.in.sh
  client-lite/build/postrm.in.sh
  client-lite/build/prerm.in.sh
  client-lite/test/CMakeLists.txt
  common/CMakeLists.txt
  common/cmake/FindUUID.cmake
  common/cmake/Findlibproxy.cmake
  common/cmake/do-build-helpers.cmake
  common/cmake/do-packaging-helpers.cmake
  common/lib-dohttp/CMakeLists.txt
  common/lib-dotestutil/CMakeLists.txt
  common/lib-doversion/CMakeLists.txt
  plugins/CMakeLists.txt
  plugins/linux-apt/CMakeLists.txt
  plugins/linux-apt/scripts/configure-apt-method.sh
  plugins/linux-apt/scripts/postinst.in.sh
  plugins/linux-apt/scripts/postrm.in.sh
  plugins/linux-apt/scripts/prerm.in.sh
  sdk-cpp/CMakeLists.txt
  sdk-cpp/build/cleanup-install.sh
  sdk-cpp/build/cmake/deliveryoptimization_sdk-config.cmake
  sdk-cpp/tests/CMakeLists.txt
Due: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dopapt-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml, azure-pipelines/build/linux/du/doclient-lite-native.yml
