Repository microsoft/do-client: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dopapt-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml

azure-pipelines/build/dopapt-native.yml:
  pool: dotestlab
  jobs:
  - job: Debug
    steps:
    - template: templates/dopapt-native-steps.yml
      parameters:
        targetOsArch: ubuntu1804-x64
        config: debug
  - job: Release
    steps:
    - template: templates/dopapt-native-steps.yml
      parameters:
        targetOsArch: ubuntu1804-x64
  ...

azure-pipelines/build/dosdkcpp-native.yml:
  pool: 1es_hosted_pool_ubuntu_1804
  jobs:
  - job: Debug
    steps:
    - template: templates/dosdkcpp-native-steps.yml
      parameters:
        targetOS: ubuntu1804
        targetOsArch: ubuntu1804-x64
        config: debug
  - job: Release
    steps:
    - template: templates/dosdkcpp-native-steps.yml
      parameters:
  ...

azure-pipelines/build/linux/doclient-lite-native.yml:
  pool: dotestlab
  jobs:
  - job: Debug
    steps:
    - template: templates/doclient-lite-native-steps.yml
      parameters:
        targetOsArch: ubuntu1804-x64
        config: debug
  - job: Release
    steps:
    - template: templates/doclient-lite-native-steps.yml
      parameters:
        targetOsArch: ubuntu1804-x64
  ...

azure-pipelines/build/linux/dopapt-native.yml:
  pool: dotestlab
  jobs:
  - job: Debug
    steps:
    - template: templates/dopapt-native-steps.yml
      parameters:
        targetOsArch: ubuntu1804-x64
        config: debug
  - job: Release
    steps:
    - template: templates/dopapt-native-steps.yml
      parameters:
        targetOsArch: ubuntu1804-x64
  ...

azure-pipelines/build/linux/dosdkcpp-native.yml:
  pool: dotestlab
  jobs:
  - job: Debug
    steps:
    - template: templates/dosdkcpp-native-steps.yml
      parameters:
        targetOsArch: ubuntu1804-x64
        config: debug
  - job: Release
    steps:
    - template: templates/dosdkcpp-native-steps.yml
      parameters:
        targetOsArch: ubuntu1804-x64
  ...

Fix assets path
  azure-pipelines/publishing/github-release.yml
Due: none

Fix github_release.yml (#52)
  azure-pipelines/publishing/github-release.yml
Due: none

fix
  azure-pipelines/build/doclient-lite-docker.yml
  azure-pipelines/build/templates/do-docker-jobs.yml
Due: none

change to undescore
  azure-pipelines/publishing/github-release.yml
Due: none

fix underscore in comments
  azure-pipelines/build/templates/do-docker-jobs.yml
  azure-pipelines/build/templates/doclient-lite-docker-steps.yml
  azure-pipelines/build/templates/doclient-lite-native-steps.yml
  azure-pipelines/build/templates/dopapt-docker-steps.yml
  azure-pipelines/build/templates/dopapt-native-steps.yml
  azure-pipelines/build/templates/dosdkcpp-docker-steps.yml
  azure-pipelines/build/templates/dosdkcpp-native-steps.yml
Due: none

Migrate azdo resources to 1ES managed pool (#51)
  azure-pipelines/build/doclient-lite-docker.yml
  azure-pipelines/build/doclient-lite-native.yml
  azure-pipelines/build/dopapt-docker.yml
  azure-pipelines/build/dopapt-native.yml
  azure-pipelines/build/dosdkcpp-docker.yml
  azure-pipelines/build/dosdkcpp-native.yml
  azure-pipelines/build/templates/do-docker-jobs.yml
  azure-pipelines/build/templates/doclient-lite-docker-steps.yml
  azure-pipelines/build/templates/doclient-lite-native-steps.yml
  azure-pipelines/build/templates/dopapt-docker-steps.yml
  azure-pipelines/build/templates/dopapt-native-steps.yml
  azure-pipelines/build/templates/dosdkcpp-docker-steps.yml
  azure-pipelines/build/templates/dosdkcpp-native-steps.yml
  azure-pipelines/publishing/github-release.yml
  build/bootstrap.sh
  build/bootstrap/bootstrap-debian-10.sh
  build/bootstrap/bootstrap-debian-9.sh
  build/bootstrap/bootstrap-ubuntu-18.04.sh
  build/bootstrap/bootstrap-ubuntu-20.04.sh
  build/docker/debian10/arm32/Dockerfile
  build/docker/debian9/arm32/Dockerfile
  build/docker/ubuntu1804/arm64/Dockerfile
  build/docker/ubuntu2004/arm64/Dockerfile
Due: none

use ninja
  azure-pipelines/build/templates/doclient-lite-docker-steps.yml
  azure-pipelines/build/templates/dosdkcpp-docker-steps.yml
  build/docker/docker-build-plugin.sh
Due: none

use ninja (#53)
  azure-pipelines/build/templates/doclient-lite-docker-steps.yml
  azure-pipelines/build/templates/dosdkcpp-docker-steps.yml
  build/docker/docker-build-plugin.sh
Due: none

Initial do_log impl
  client-lite/src/exe/docs.cpp
  client-lite/src/include/do_assert.h
  client-lite/src/include/do_common.h
  client-lite/src/trace/do_log.cpp
  client-lite/src/trace/do_log.h
  client-lite/src/trace/trace_src.cpp
  client-lite/src/util/error_macros.h
  client-lite/src/util/string_ops.h
  client-lite/test/docs_tests.cpp
Due: azure-pipelines/build/linux/doclient-lite-native.yml

Introduce LogBuffer
  client-lite/src/trace/do_log.cpp
Due: azure-pipelines/build/linux/doclient-lite-native.yml

Complete impl
  client-lite/CMakeLists.txt
  client-lite/src/config/config_defaults.h
  client-lite/src/exe/docs.cpp
  client-lite/src/include/do_common.h
  client-lite/src/trace/do_log.cpp
  client-lite/src/trace/trace_sink.cpp
  client-lite/src/trace/trace_sink.h
  client-lite/src/util/do_date_time.h
  client-lite/test/do_log_tests.cpp
Due: azure-pipelines/build/linux/doclient-lite-native.yml

Fix log file create attempts
  client-lite/src/trace/do_log.cpp
Due: azure-pipelines/build/linux/doclient-lite-native.yml

Fix empty string printing in StringPrintf et al
  client-lite/src/util/string_ops.h
Due: azure-pipelines/build/linux/doclient-lite-native.yml

Remove useless empty log in rest_api_request
  client-lite/src/ipc/rest_api_request.cpp
Due: azure-pipelines/build/linux/doclient-lite-native.yml

Add stats to logger. constexpr buf size.
  client-lite/src/trace/do_log.cpp
Due: azure-pipelines/build/linux/doclient-lite-native.yml

Use uint32_t
  client-lite/src/trace/do_log.cpp
Due: azure-pipelines/build/linux/doclient-lite-native.yml

Fix logger test to expect the stats line
  client-lite/test/do_log_tests.cpp
Due: azure-pipelines/build/linux/doclient-lite-native.yml

Update comments
  client-lite/src/trace/do_log.cpp
Due: azure-pipelines/build/linux/doclient-lite-native.yml

Test fix
  client-lite/test/do_log_tests.cpp
Due: azure-pipelines/build/linux/doclient-lite-native.yml

level not lvl
  client-lite/src/trace/do_log.h
Due: azure-pipelines/build/linux/doclient-lite-native.yml

Remove boost-log from bootstrap
  build/bootstrap.sh
Due: none

Agent: Replace boost.log usage with custom logger (#54)
  build/bootstrap.sh
  client-lite/CMakeLists.txt
  client-lite/src/config/config_defaults.h
  client-lite/src/exe/docs.cpp
  client-lite/src/include/do_assert.h
  client-lite/src/include/do_common.h
  client-lite/src/ipc/rest_api_request.cpp
  client-lite/src/trace/do_log.cpp
  client-lite/src/trace/do_log.h
  client-lite/src/trace/trace_sink.cpp
  client-lite/src/trace/trace_sink.h
  client-lite/src/trace/trace_src.cpp
  client-lite/src/util/do_date_time.h
  client-lite/src/util/error_macros.h
  client-lite/src/util/string_ops.h
  client-lite/test/do_log_tests.cpp
  client-lite/test/docs_tests.cpp
Due: azure-pipelines/build/linux/doclient-lite-native.yml

Agent: Remove boost.log requirement from test
  client-lite/test/CMakeLists.txt
Due: azure-pipelines/build/linux/doclient-lite-native.yml

Agent: Remove boost.log requirement from test (#55)
  client-lite/test/CMakeLists.txt
Due: azure-pipelines/build/linux/doclient-lite-native.yml

remove inline namespaces in favor of nested namespaces
  common/lib-doversion/do_version.cpp
  common/lib-doversion/do_version.h
  sdk-cpp/include/do_download.h
  sdk-cpp/include/do_download_status.h
  sdk-cpp/include/do_exceptions.h
  sdk-cpp/src/do_download.cpp
  sdk-cpp/src/do_download_status.cpp
  sdk-cpp/src/do_exceptions.cpp
  sdk-cpp/src/internal/download_interface.h
  sdk-cpp/src/internal/rest/download_rest.cpp
  sdk-cpp/src/internal/rest/download_rest.h
  sdk-cpp/src/internal/util/do_exceptions_internal.cpp
  sdk-cpp/src/internal/util/do_exceptions_internal.h
  sdk-cpp/src/internal/util/do_http_client.cpp
  sdk-cpp/src/internal/util/do_http_client.h
  sdk-cpp/src/internal/util/do_http_message.cpp
  sdk-cpp/src/internal/util/do_http_message.h
  sdk-cpp/src/internal/util/do_http_parser.cpp
  sdk-cpp/src/internal/util/do_http_parser.h
  sdk-cpp/src/internal/util/do_persistence.cpp
  sdk-cpp/src/internal/util/do_persistence.h
  sdk-cpp/src/internal/util/do_port_finder.cpp
  sdk-cpp/src/internal/util/do_port_finder.h
  sdk-cpp/src/internal/util/do_url_encode.h
Due: azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dopapt-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml

fix namespace comments for linting
  common/lib-doversion/do_version.cpp
  common/lib-doversion/do_version.h
  sdk-cpp/src/do_download.cpp
  sdk-cpp/src/do_download_status.cpp
  sdk-cpp/src/do_exceptions.cpp
  sdk-cpp/src/internal/download_interface.h
  sdk-cpp/src/internal/rest/download_rest.cpp
  sdk-cpp/src/internal/rest/download_rest.h
  sdk-cpp/src/internal/util/do_exceptions_internal.cpp
  sdk-cpp/src/internal/util/do_exceptions_internal.h
  sdk-cpp/src/internal/util/do_http_client.cpp
  sdk-cpp/src/internal/util/do_http_client.h
  sdk-cpp/src/internal/util/do_http_message.cpp
  sdk-cpp/src/internal/util/do_http_message.h
  sdk-cpp/src/internal/util/do_http_parser.cpp
  sdk-cpp/src/internal/util/do_http_parser.h
  sdk-cpp/src/internal/util/do_persistence.cpp
  sdk-cpp/src/internal/util/do_persistence.h
  sdk-cpp/src/internal/util/do_port_finder.cpp
  sdk-cpp/src/internal/util/do_port_finder.h
  sdk-cpp/src/internal/util/do_url_encode.h
Due: azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dopapt-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml

SDK: Remove inline spaces in favor of nested namespaces (#57)
  common/lib-doversion/do_version.cpp
  common/lib-doversion/do_version.h
  sdk-cpp/include/do_download.h
  sdk-cpp/include/do_download_status.h
  sdk-cpp/include/do_exceptions.h
  sdk-cpp/src/do_download.cpp
  sdk-cpp/src/do_download_status.cpp
  sdk-cpp/src/do_exceptions.cpp
  sdk-cpp/src/internal/download_interface.h
  sdk-cpp/src/internal/rest/download_rest.cpp
  sdk-cpp/src/internal/rest/download_rest.h
  sdk-cpp/src/internal/util/do_exceptions_internal.cpp
  sdk-cpp/src/internal/util/do_exceptions_internal.h
  sdk-cpp/src/internal/util/do_http_client.cpp
  sdk-cpp/src/internal/util/do_http_client.h
  sdk-cpp/src/internal/util/do_http_message.cpp
  sdk-cpp/src/internal/util/do_http_message.h
  sdk-cpp/src/internal/util/do_http_parser.cpp
  sdk-cpp/src/internal/util/do_http_parser.h
  sdk-cpp/src/internal/util/do_persistence.cpp
  sdk-cpp/src/internal/util/do_persistence.h
  sdk-cpp/src/internal/util/do_port_finder.cpp
  sdk-cpp/src/internal/util/do_port_finder.h
  sdk-cpp/src/internal/util/do_url_encode.h
Due: azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dopapt-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml

Agent: Remove Boost_LOG_LIBRARIES
  client-lite/CMakeLists.txt
Due: azure-pipelines/build/linux/doclient-lite-native.yml

Fix #59: Explicitly include cassert header
  client-lite/src/include/do_assert.h
Due: azure-pipelines/build/linux/doclient-lite-native.yml

Extract parsed data into HttpPacket
  common/lib-dohttp/do_http_packet.h
  common/lib-dohttp/do_http_parser.cpp
  common/lib-dohttp/do_http_parser.h
Due: azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dopapt-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml

Extract http parser into common lib. Consume it in SDK.
  common/CMakeLists.txt
  common/lib-dohttp/CMakeLists.txt
  common/lib-dohttp/do_http_parser.cpp
  common/lib-dohttp/do_http_parser.h
  sdk-cpp/CMakeLists.txt
  sdk-cpp/src/internal/util/do_http_message.cpp
  sdk-cpp/src/internal/util/do_http_message.h
  sdk-cpp/src/internal/util/do_http_parser.cpp
  sdk-cpp/src/internal/util/do_http_parser.h
Due: azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dopapt-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml

Pre-cpprest-removal: Extract http parser into common code (#61)
  common/CMakeLists.txt
  common/lib-dohttp/CMakeLists.txt
  common/lib-dohttp/do_http_packet.h
  common/lib-dohttp/do_http_parser.cpp
  common/lib-dohttp/do_http_parser.h
  sdk-cpp/CMakeLists.txt
  sdk-cpp/src/internal/util/do_http_message.cpp
  sdk-cpp/src/internal/util/do_http_message.h
  sdk-cpp/src/internal/util/do_http_parser.cpp
Due: azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dopapt-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml

Agent: Remove unused code in REST API handling
  client-lite/src/ipc/rest_api_parser.cpp
  client-lite/src/ipc/rest_api_parser.h
  client-lite/src/ipc/rest_api_request.cpp
Due: azure-pipelines/build/linux/doclient-lite-native.yml

Agent: Enable easy debugging via new devdebug mode
  build/build.py
  client-lite/CMakeLists.txt
  client-lite/src/exe/docs.cpp
  client-lite/src/trace/do_log.cpp
  client-lite/src/util/proc_launch_helper.h
  sdk-cpp/CMakeLists.txt
  sdk-cpp/src/internal/util/do_persistence.cpp
Due: azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dopapt-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml

Agent: Remove cpprest dependency in rest api request parsing
  client-lite/CMakeLists.txt
  client-lite/src/ipc/rest_api_parser.cpp
  client-lite/src/ipc/rest_api_parser.h
  client-lite/src/ipc/rest_api_request.cpp
  client-lite/src/ipc/rest_api_request.h
  client-lite/src/ipc/rest_http_controller.cpp
  common/lib-dohttp/CMakeLists.txt
  common/lib-dohttp/do_http_defines.cpp
  common/lib-dohttp/do_http_defines.h
  common/lib-dohttp/do_http_packet.h
  common/lib-dohttp/do_http_parser.h
Due: azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dopapt-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml

First iteration: Add code from cpprestsdk
  common/lib-dohttp/CMakeLists.txt
  common/lib-dohttp/do_cpprest_base_uri.h
  common/lib-dohttp/do_cpprest_uri.cpp
  common/lib-dohttp/do_cpprest_uri.h
  common/lib-dohttp/do_cpprest_uri_builder.cpp
  common/lib-dohttp/do_cpprest_uri_builder.h
  common/lib-dohttp/do_cpprest_utils.cpp
  common/lib-dohttp/do_cpprest_utils.h
Due: azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dopapt-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml

Get the borrowed cpprest code to build
  common/lib-dohttp/do_cpprest_base_uri.h
  common/lib-dohttp/do_cpprest_uri.cpp
  common/lib-dohttp/do_cpprest_uri_builder.cpp
  common/lib-dohttp/do_cpprest_uri_builder.h
  common/lib-dohttp/do_cpprest_utils.cpp
  common/lib-dohttp/do_cpprest_utils.h
Due: azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dopapt-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml

Use borrowed cpprest uri code
  client-lite/src/ipc/rest_api_parser.cpp
  common/lib-dohttp/do_cpprest_utils.h
  common/lib-dohttp/do_http_packet.h
  common/lib-dohttp/do_http_parser.h
Due: azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dopapt-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml

Add code credit comment
  common/lib-dohttp/do_cpprest_base_uri.h
  common/lib-dohttp/do_cpprest_uri_builder.h
  common/lib-dohttp/do_cpprest_utils.h
Due: azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dopapt-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml

SDK: Update expected binary size by 8%. * Expected due to cpprest borrowed code. * Final set of borrowed code TBD.
  azure-pipelines/build/templates/dosdkcpp-native-steps.yml
Due: none

Path conditions:
  azure-pipelines/build/dopapt-native.yml: any of: azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/templates/dopapt-native-steps.yml, common, plugins, build/build.py, CMakeLists.txt, but not: azure-pipelines, plugins/linux-apt/scripts/configure-apt-method.sh
  azure-pipelines/build/dosdkcpp-native.yml: any of: azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/templates/dosdkcpp-native-steps.yml, common, sdk-cpp, build/build.py, CMakeLists.txt, but not: azure-pipelines, sdk-cpp/build/cleanup-install.sh
  azure-pipelines/build/linux/doclient-lite-native.yml: any of: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/templates/doclient-lite-native-steps.yml, client-lite, common, build/build.py, CMakeLists.txt, but not: azure-pipelines
  azure-pipelines/build/linux/dopapt-native.yml: any of: azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/templates/dopapt-native-steps.yml, common, plugins, build/build.py, CMakeLists.txt, but not: azure-pipelines, plugins/linux-apt/scripts/configure-apt-method.sh
  azure-pipelines/build/linux/dosdkcpp-native.yml: any of: azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/templates/dosdkcpp-native-steps.yml, common, sdk-cpp, build/build.py, CMakeLists.txt, but not: azure-pipelines, sdk-cpp/build/cleanup-install.sh
