Repository microsoft/do-client: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dopapt-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml

Path conditions:
  azure-pipelines/build/dopapt-native.yml: any of: azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/templates/dopapt-native-steps.yml, common, plugins, build/build.py, CMakeLists.txt, but not: azure-pipelines, plugins/linux-apt/scripts/configure-apt-method.sh
  azure-pipelines/build/linux/doclient-lite-native.yml: any of: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/templates/doclient-lite-native-steps.yml, client-lite, common, build/build.py, CMakeLists.txt, but not: azure-pipelines
  azure-pipelines/build/linux/dopapt-native.yml: any of: azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/templates/dopapt-native-steps.yml, common, plugins, build/build.py, CMakeLists.txt, but not: azure-pipelines, plugins/linux-apt/scripts/configure-apt-method.sh
  azure-pipelines/build/linux/dosdkcpp-native.yml: any of: azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/templates/dosdkcpp-native-steps.yml, common, sdk-cpp, build/build.py, CMakeLists.txt, but not: azure-pipelines, sdk-cpp/build/cleanup-install.sh

fix comment
  build/bootstrap/bootstrap-debian-10.sh
Due: none

Fix dockerfile for Deb10 (#29)
  build/bootstrap/bootstrap-debian-10.sh
  build/docker/arm64/Ubuntu18.04/Dockerfile
Due: none

Support Ubuntu 20.04
  build/bootstrap/bootstrap-ubuntu-20.04.sh
  build/docker/arm64/Ubuntu20.04/Dockerfile
  client-lite/CMakeLists.txt
Due: azure-pipelines/build/linux/doclient-lite-native.yml

add comment explaining why boost log needs to have an explicit flag set
  client-lite/CMakeLists.txt
Due: azure-pipelines/build/linux/doclient-lite-native.yml

modify comment, fix was including boost log explicitly in target_link_libraries
  client-lite/CMakeLists.txt
Due: azure-pipelines/build/linux/doclient-lite-native.yml

fix comment
  build/bootstrap/bootstrap-ubuntu-20.04.sh
Due: none

Support Ubuntu 20.04 arm64 builds and fix boost log linker issue (#31)
  build/bootstrap/bootstrap-ubuntu-20.04.sh
  build/docker/arm64/Ubuntu20.04/Dockerfile
  client-lite/CMakeLists.txt
Due: azure-pipelines/build/linux/doclient-lite-native.yml

update readme with section detailing installing
  README.md
Due: none

update
  README.md
Due: none

resolve pr feedback
  README.md
Due: none

Update readme with section detailing install (#33)
  README.md
Due: none

deliveryoptimization_set_iot_connection_string returns specific error codes
  sdk-cpp/src/do_config.cpp
Due: azure-pipelines/build/linux/dosdkcpp-native.yml

Fix WIL link
  client-lite/src/util/error_macros.h
Due: azure-pipelines/build/linux/doclient-lite-native.yml

Provide better errors for dest file path. Use POSIX APIs.
  client-lite/src/download/download.cpp
  client-lite/src/download/download.h
  client-lite/src/include/hresult_helpers.h
  client-lite/src/util/do_file.cpp
  client-lite/src/util/do_file.h
  client-lite/src/util/do_noncopyable.h
  client-lite/test/download_manager_tests.cpp
Due: azure-pipelines/build/linux/doclient-lite-native.yml

Add sdk test DownloadToNotExistentPath
  sdk-cpp/tests/download_tests.cpp
Due: azure-pipelines/build/linux/dosdkcpp-native.yml

Fix tests
  sdk-cpp/tests/download_tests.cpp
Due: azure-pipelines/build/linux/dosdkcpp-native.yml

Return specific errors from creating and accessing the destination file path (#35)
  client-lite/src/download/download.cpp
  client-lite/src/download/download.h
  client-lite/src/include/hresult_helpers.h
  client-lite/src/util/do_file.cpp
  client-lite/src/util/do_file.h
  client-lite/src/util/do_noncopyable.h
  client-lite/test/download_manager_tests.cpp
  sdk-cpp/tests/download_tests.cpp
Due: azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml

SDK: Ensure download is cleaned up in all cases
  sdk-cpp/src/do_download.cpp
  sdk-cpp/tests/download_tests.cpp
Due: azure-pipelines/build/linux/dosdkcpp-native.yml

Agent: Avoid overwriting existing destination file
  client-lite/src/download/download.cpp
  client-lite/src/download/download.h
  client-lite/src/util/do_file.cpp
  client-lite/src/util/do_file.h
  client-lite/test/download_manager_tests.cpp
  client-lite/test/mcc_manager.tests.cpp
  client-lite/test/test_common.h
  sdk-cpp/tests/download_tests.cpp
Due: azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml

Agent: Fix file path logging in cancel event
  client-lite/src/trace/telemetry_logger.cpp
Due: azure-pipelines/build/linux/doclient-lite-native.yml

Extend test case
  sdk-cpp/tests/download_tests.cpp
Due: azure-pipelines/build/linux/dosdkcpp-native.yml

Cleanup download in all cases, avoid overwriting existing files (#36)
  client-lite/src/download/download.cpp
  client-lite/src/download/download.h
  client-lite/src/trace/telemetry_logger.cpp
  client-lite/src/util/do_file.cpp
  client-lite/src/util/do_file.h
  client-lite/test/download_manager_tests.cpp
  client-lite/test/mcc_manager.tests.cpp
  client-lite/test/test_common.h
  sdk-cpp/src/do_download.cpp
  sdk-cpp/tests/download_tests.cpp
Due: azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml

Prepare to use boost.beast: CPortFinder provides port only
  sdk-cpp/src/internal/util/do_http_client.cpp
  sdk-cpp/src/internal/util/do_port_finder.cpp
  sdk-cpp/src/internal/util/do_port_finder.h
  sdk-cpp/tests/port_discovery_tests.cpp
  sdk-cpp/tests/rest_interface_tests.cpp
Due: azure-pipelines/build/linux/dosdkcpp-native.yml

Remove unused CHttpClient SendRequest method that supported request body
  sdk-cpp/src/internal/util/do_http_client.cpp
  sdk-cpp/src/internal/util/do_http_client.h
Due: azure-pipelines/build/linux/dosdkcpp-native.yml

Simplify SendRequest. Use boost ptree.
  sdk-cpp/src/internal/rest/download_rest.cpp
  sdk-cpp/src/internal/util/do_http_client.cpp
  sdk-cpp/src/internal/util/do_http_client.h
Due: azure-pipelines/build/linux/dosdkcpp-native.yml

SDK: Use boost.beast instead of cpprestsdk
  build/bootstrap/bootstrap-ubuntu-18.04.sh
  client-lite/test/string_ops_tests.cpp
  client-lite/test/test_helpers.h
  common/lib-dotestutil/do_test_helpers.h
  sdk-cpp/CMakeLists.txt
  sdk-cpp/src/do_download.cpp
  sdk-cpp/src/internal/rest/download_rest.cpp
  sdk-cpp/src/internal/util/do_http_client.cpp
  sdk-cpp/src/internal/util/do_http_client.h
  sdk-cpp/src/internal/util/do_port_finder.cpp
  sdk-cpp/src/internal/util/do_url_encode.h
  sdk-cpp/tests/download_tests.cpp
  sdk-cpp/tests/port_discovery_tests.cpp
  sdk-cpp/tests/test_helpers.cpp
  sdk-cpp/tests/test_helpers.h
Due: azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dopapt-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml

Add size check to agent native pipeline
  azure-pipelines/build/templates/doclient-lite-native-steps.yml
  build/check_binary_size.sh
Due: none

Add size check to sdk and plugin
  azure-pipelines/build/templates/dopapt-native-steps.yml
  azure-pipelines/build/templates/dosdkcpp-native-steps.yml
Due: none

Switch to GE 5 pct check
  build/check_binary_size.sh
Due: none

Check binary size growth in azure pipelines (#38)
  azure-pipelines/build/templates/doclient-lite-native-steps.yml
  azure-pipelines/build/templates/dopapt-native-steps.yml
  azure-pipelines/build/templates/dosdkcpp-native-steps.yml
  build/check_binary_size.sh
Due: none

Rename test
  sdk-cpp/tests/port_discovery_tests.cpp
Due: azure-pipelines/build/linux/dosdkcpp-native.yml

SDK: Prepare to remove cpprestsdk dependency (#39)
  sdk-cpp/src/internal/rest/download_rest.cpp
  sdk-cpp/src/internal/util/do_http_client.cpp
  sdk-cpp/src/internal/util/do_http_client.h
  sdk-cpp/src/internal/util/do_port_finder.cpp
  sdk-cpp/src/internal/util/do_port_finder.h
  sdk-cpp/tests/port_discovery_tests.cpp
  sdk-cpp/tests/rest_interface_tests.cpp
Due: azure-pipelines/build/linux/dosdkcpp-native.yml

Refactor: Move parser to its own file
  sdk-cpp/src/internal/util/do_http_message.cpp
  sdk-cpp/src/internal/util/do_http_message.h
  sdk-cpp/src/internal/util/do_http_parser.cpp
  sdk-cpp/src/internal/util/do_http_parser.h
Due: azure-pipelines/build/linux/dosdkcpp-native.yml

Refactor: new file do_http_message
  sdk-cpp/src/internal/rest/download_rest.cpp
  sdk-cpp/src/internal/util/do_http_client.cpp
  sdk-cpp/src/internal/util/do_http_client.h
  sdk-cpp/src/internal/util/do_http_message.cpp
  sdk-cpp/src/internal/util/do_http_message.h
Due: azure-pipelines/build/linux/dosdkcpp-native.yml

Replace boost.beast with custom implementation
  sdk-cpp/CMakeLists.txt
  sdk-cpp/src/internal/util/do_http_client.cpp
  sdk-cpp/tests/download_tests.cpp
Due: azure-pipelines/build/linux/dosdkcpp-native.yml
