Repository microsoft/do-client: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dopapt-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml

Path conditions:
  azure-pipelines/build/dopapt-native.yml: any of: azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/templates/dopapt-native-steps.yml, common, plugins, build/build.py, CMakeLists.txt, but not: azure-pipelines, plugins/linux-apt/scripts/configure-apt-method.sh
  azure-pipelines/build/dosdkcpp-native.yml: any of: azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/templates/dosdkcpp-native-steps.yml, common, sdk-cpp, build/build.py, CMakeLists.txt, but not: azure-pipelines, sdk-cpp/build/cleanup-install.sh
  azure-pipelines/build/linux/doclient-lite-native.yml: any of: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/templates/doclient-lite-native-steps.yml, client-lite, common, build/build.py, CMakeLists.txt, but not: azure-pipelines
  azure-pipelines/build/linux/dopapt-native.yml: any of: azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/templates/dopapt-native-steps.yml, common, plugins, build/build.py, CMakeLists.txt, but not: azure-pipelines, plugins/linux-apt/scripts/configure-apt-method.sh
  azure-pipelines/build/linux/dosdkcpp-native.yml: any of: azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/templates/dosdkcpp-native-steps.yml, common, sdk-cpp, build/build.py, CMakeLists.txt, but not: azure-pipelines, sdk-cpp/build/cleanup-install.sh

fix
  azure-pipelines/build/doclient-lite-docker.yml
  azure-pipelines/build/dopapt-docker.yml
  azure-pipelines/build/dosdkcpp-docker.yml
Due: none

fix
  azure-pipelines/build/doclient-lite-docker.yml
Due: none

update
  azure-pipelines/build/doclient-lite-docker.yml
  azure-pipelines/build/doclient-lite-native.yml
  azure-pipelines/build/dopapt-docker.yml
  azure-pipelines/build/dopapt-native.yml
  azure-pipelines/build/dosdkcpp-docker.yml
  azure-pipelines/build/dosdkcpp-native.yml
Due: none

fix issue in bootstrap.sh
  build/bootstrap.sh
Due: none

replace underscore with hyphen
  azure-pipelines/build/doclient-lite-docker.yml
  azure-pipelines/build/doclient-lite-native.yml
  azure-pipelines/build/dopapt-docker.yml
  azure-pipelines/build/dopapt-native.yml
  azure-pipelines/build/dosdkcpp-docker.yml
  azure-pipelines/build/dosdkcpp-native.yml
Due: none

underscore has to be used
  azure-pipelines/build/doclient-lite-docker.yml
  azure-pipelines/build/doclient-lite-native.yml
  azure-pipelines/build/dopapt-docker.yml
  azure-pipelines/build/dopapt-native.yml
  azure-pipelines/build/dosdkcpp-docker.yml
  azure-pipelines/build/dosdkcpp-native.yml
  azure-pipelines/build/templates/doclient-lite-docker-steps.yml
  azure-pipelines/build/templates/dopapt-docker-steps.yml
  azure-pipelines/build/templates/dosdkcpp-docker-steps.yml
Due: none

fix
  azure-pipelines/build/templates/doclient-lite-docker-steps.yml
  azure-pipelines/build/templates/dopapt-docker-steps.yml
  azure-pipelines/build/templates/dosdkcpp-docker-steps.yml
Due: none

fix
  azure-pipelines/build/doclient-lite-docker.yml
  azure-pipelines/build/doclient-lite-native.yml
  azure-pipelines/build/dopapt-docker.yml
  azure-pipelines/build/dopapt-native.yml
  azure-pipelines/build/dosdkcpp-docker.yml
  azure-pipelines/build/dosdkcpp-native.yml
Due: none

fix
  azure-pipelines/build/templates/dopapt-docker-steps.yml
Due: none

fix
  azure-pipelines/build/templates/dosdkcpp-docker-steps.yml
Due: none

update image version
  azure-pipelines/build/doclient-lite-docker.yml
  azure-pipelines/build/doclient-lite-native.yml
  azure-pipelines/build/dopapt-docker.yml
  azure-pipelines/build/dopapt-native.yml
  azure-pipelines/build/dosdkcpp-docker.yml
  azure-pipelines/build/dosdkcpp-native.yml
  azure-pipelines/build/templates/do-docker-jobs.yml
  azure-pipelines/build/templates/doclient-lite-docker-steps.yml
  azure-pipelines/build/templates/dopapt-docker-steps.yml
  azure-pipelines/build/templates/dosdkcpp-docker-steps.yml
Due: none

use the new imageVersion for specifying pool agent
  azure-pipelines/build/doclient-lite-docker.yml
  azure-pipelines/build/doclient-lite-native.yml
  azure-pipelines/build/dopapt-docker.yml
  azure-pipelines/build/dopapt-native.yml
  azure-pipelines/build/dosdkcpp-docker.yml
  azure-pipelines/build/dosdkcpp-native.yml
Due: none

fix image version
  azure-pipelines/build/doclient-lite-docker.yml
Due: none

forgot to save changes on last commit
  azure-pipelines/build/doclient-lite-native.yml
  azure-pipelines/build/dopapt-docker.yml
  azure-pipelines/build/dopapt-native.yml
  azure-pipelines/build/dosdkcpp-docker.yml
  azure-pipelines/build/dosdkcpp-native.yml
  azure-pipelines/build/templates/do-docker-jobs.yml
  azure-pipelines/build/templates/doclient-lite-docker-steps.yml
  azure-pipelines/build/templates/dopapt-docker-steps.yml
  azure-pipelines/build/templates/dosdkcpp-docker-steps.yml
Due: none

see if libcurl isnt installed
  azure-pipelines/build/templates/doclient-lite-native-steps.yml
Due: none

remove libcurl4 installation
  azure-pipelines/build/templates/doclient-lite-native-steps.yml
Due: none

Add libcurl to NOTICE and cgmanifest
  NOTICE.md
  licenses/cgmanifest.json
Due: none

Fix Deb9 build: bad_cast is undefined
  common/lib-dohttp/do_cpprest_uri.cpp
  common/lib-dohttp/do_cpprest_utils.h
Due: azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dopapt-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml

Fix Deb9 build: Check libcurl version
  client-lite/src/util/http_agent.cpp
Due: azure-pipelines/build/linux/doclient-lite-native.yml

Enable versioning for build images (#68)
  azure-pipelines/build/doclient-lite-docker.yml
  azure-pipelines/build/doclient-lite-native.yml
  azure-pipelines/build/dopapt-docker.yml
  azure-pipelines/build/dopapt-native.yml
  azure-pipelines/build/dosdkcpp-docker.yml
  azure-pipelines/build/dosdkcpp-native.yml
  azure-pipelines/build/templates/do-docker-jobs.yml
  azure-pipelines/build/templates/doclient-lite-docker-steps.yml
  azure-pipelines/build/templates/dopapt-docker-steps.yml
  azure-pipelines/build/templates/dosdkcpp-docker-steps.yml
  build/bootstrap.sh
Due: none

Pipeline build fix: Specify image via demands
  azure-pipelines/build/doclient-lite-docker.yml
  azure-pipelines/build/doclient-lite-native.yml
  azure-pipelines/build/dopapt-docker.yml
  azure-pipelines/build/dopapt-native.yml
  azure-pipelines/build/dosdkcpp-docker.yml
  azure-pipelines/build/dosdkcpp-native.yml
Due: none

Fix agent build: Move platform ID up one level
  CMakeLists.txt
  client-lite/CMakeLists.txt
  sdk-cpp/CMakeLists.txt
  sdk-cpp/include/do_config.h
  sdk-cpp/include/do_download_property.h
Due: azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dopapt-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml

Use platform ID for binary names
  CMakeLists.txt
Due: azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dopapt-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml

Fix agent name in sdk tests
  sdk-cpp/tests/test_data.cpp
Due: azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml

Rework platform, interface and client compile defs
  CMakeLists.txt
  client-lite/CMakeLists.txt
  common/CMakeLists.txt
  common/cmake/do-build-helpers.cmake
  plugins/linux-apt/CMakeLists.txt
  sdk-cpp/CMakeLists.txt
  sdk-cpp/include/do_config.h
  sdk-cpp/include/do_download.h
  sdk-cpp/include/do_download_property.h
  sdk-cpp/include/do_exceptions.h
  sdk-cpp/src/do_config.cpp
  sdk-cpp/src/do_download.cpp
  sdk-cpp/src/do_download_property.cpp
  sdk-cpp/src/internal/download_impl.h
  sdk-cpp/src/internal/download_interface.h
  sdk-cpp/tests/CMakeLists.txt
  sdk-cpp/tests/dosdkcpp_testrunner.cpp
  sdk-cpp/tests/download_tests_common.cpp
  sdk-cpp/tests/test_data.cpp
  sdk-cpp/tests/test_data.h
  sdk-cpp/tests/test_helpers.h
Due: azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dopapt-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml

Build.py: Use .format instead for interpolation * To satisfy older python version in Deb9
  build/build.py
Due: azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dopapt-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml

Fix sdk build for windows
  sdk-cpp/CMakeLists.txt
  sdk-cpp/tests/CMakeLists.txt
Due: azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml

Remove commented code in build.py
  build/build.py
Due: azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dopapt-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml

Build fixes post Windows/Mac SDK support (#74)
  CMakeLists.txt
  build/build.py
  client-lite/CMakeLists.txt
  common/CMakeLists.txt
  common/cmake/do-build-helpers.cmake
  plugins/linux-apt/CMakeLists.txt
  sdk-cpp/CMakeLists.txt
  sdk-cpp/include/do_config.h
  sdk-cpp/include/do_download.h
  sdk-cpp/include/do_download_property.h
  sdk-cpp/include/do_exceptions.h
  sdk-cpp/src/do_config.cpp
  sdk-cpp/src/do_download.cpp
  sdk-cpp/src/do_download_property.cpp
  sdk-cpp/src/internal/download_impl.h
  sdk-cpp/src/internal/download_interface.h
  sdk-cpp/tests/CMakeLists.txt
  sdk-cpp/tests/dosdkcpp_testrunner.cpp
  sdk-cpp/tests/download_tests_common.cpp
  sdk-cpp/tests/test_data.cpp
  sdk-cpp/tests/test_data.h
  sdk-cpp/tests/test_helpers.h
Due: azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dopapt-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml

Remove cpprest dependency in REST API parsing (#64)
  azure-pipelines/build/linux/du/templates/dosdkcpp-native-steps.yml
  client-lite/CMakeLists.txt
  client-lite/src/ipc/rest_api_parser.cpp
  client-lite/src/ipc/rest_api_parser.h
  client-lite/src/ipc/rest_api_request.cpp
  client-lite/src/ipc/rest_api_request.h
  client-lite/src/ipc/rest_http_controller.cpp
  common/lib-dohttp/CMakeLists.txt
  common/lib-dohttp/do_cpprest_base_uri.h
  common/lib-dohttp/do_cpprest_uri.cpp
  common/lib-dohttp/do_cpprest_uri.h
  common/lib-dohttp/do_cpprest_uri_builder.cpp
  common/lib-dohttp/do_cpprest_uri_builder.h
  common/lib-dohttp/do_cpprest_utils.cpp
  common/lib-dohttp/do_cpprest_utils.h
  common/lib-dohttp/do_http_defines.cpp
  common/lib-dohttp/do_http_defines.h
  common/lib-dohttp/do_http_packet.h
  common/lib-dohttp/do_http_parser.h
  sdk-cpp/src/internal/rest/download_impl.cpp
  sdk-cpp/src/internal/rest/util/do_http_message.cpp
  sdk-cpp/src/internal/rest/util/do_url_encode.h
Due: azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dopapt-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml

Remove cpprest dependency in REST listener (#65)
  client-lite/CMakeLists.txt
  client-lite/src/config/mcc_manager.cpp
  client-lite/src/download/download.cpp
  client-lite/src/exe/docs.cpp
  client-lite/src/ipc/rest_http_controller.cpp
  client-lite/src/ipc/rest_http_controller.h
  client-lite/src/ipc/rest_http_listener.cpp
  client-lite/src/ipc/rest_http_listener.h
  client-lite/src/ipc/rest_http_listener_conn.cpp
  client-lite/src/ipc/rest_http_listener_conn.h
  client-lite/test/rest_http_listener_tests.cpp
  common/lib-dohttp/do_http_parser.cpp
  sdk-cpp/src/internal/rest/util/do_http_message.cpp
  sdk-cpp/tests/rest/rest_interface_tests.cpp
Due: azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dopapt-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml

SDK: Stabilize DiscoverPortTest
  sdk-cpp/tests/rest/port_discovery_tests.cpp
Due: azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml
