Repository microsoft/do-client: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dopapt-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml

azure-pipelines/build/dopapt-native.yml:
  pool: dotestlab
  jobs:
  - job: Debug
    steps:
    - template: templates/dopapt-native-steps.yml
      parameters:
        targetOsArch: ubuntu1804-x64
        config: debug
  - job: Release
    steps:
    - template: templates/dopapt-native-steps.yml
      parameters:
        targetOsArch: ubuntu1804-x64
  ...

azure-pipelines/build/linux/doclient-lite-native.yml:
  pool: dotestlab
  jobs:
  - job: Debug
    steps:
    - template: templates/doclient-lite-native-steps.yml
      parameters:
        targetOsArch: ubuntu1804-x64
        config: debug
  - job: Release
    steps:
    - template: templates/doclient-lite-native-steps.yml
      parameters:
        targetOsArch: ubuntu1804-x64
  ...

azure-pipelines/build/linux/dopapt-native.yml:
  pool: dotestlab
  jobs:
  - job: Debug
    steps:
    - template: templates/dopapt-native-steps.yml
      parameters:
        targetOsArch: ubuntu1804-x64
        config: debug
  - job: Release
    steps:
    - template: templates/dopapt-native-steps.yml
      parameters:
        targetOsArch: ubuntu1804-x64
  ...

azure-pipelines/build/linux/dosdkcpp-native.yml:
  pool: dotestlab
  jobs:
  - job: Debug
    steps:
    - template: templates/dosdkcpp-native-steps.yml
      parameters:
        targetOsArch: ubuntu1804-x64
        config: debug
  - job: Release
    steps:
    - template: templates/dosdkcpp-native-steps.yml
      parameters:
        targetOsArch: ubuntu1804-x64
  ...

SDK: Use boost.beast instead of cpprestsdk
  build/bootstrap/bootstrap-ubuntu-18.04.sh
  client-lite/test/string_ops_tests.cpp
  client-lite/test/test_helpers.h
  common/lib-dotestutil/do_test_helpers.h
  sdk-cpp/CMakeLists.txt
  sdk-cpp/src/do_download.cpp
  sdk-cpp/src/internal/rest/download_rest.cpp
  sdk-cpp/src/internal/util/do_http_client.cpp
  sdk-cpp/src/internal/util/do_http_client.h
  sdk-cpp/src/internal/util/do_port_finder.cpp
  sdk-cpp/src/internal/util/do_url_encode.h
  sdk-cpp/tests/download_tests.cpp
  sdk-cpp/tests/port_discovery_tests.cpp
  sdk-cpp/tests/test_helpers.cpp
  sdk-cpp/tests/test_helpers.h
Due: azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dopapt-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml

Refactor: Parser need not check Done()
  sdk-cpp/src/internal/util/do_http_parser.cpp
Due: azure-pipelines/build/linux/dosdkcpp-native.yml

Comment out debug std::out, remove bootstrap changes
  build/bootstrap/bootstrap-ubuntu-18.04.sh
  sdk-cpp/src/internal/util/do_http_message.cpp
  sdk-cpp/src/internal/util/do_http_parser.cpp
Due: azure-pipelines/build/linux/dosdkcpp-native.yml

Credit comments
  sdk-cpp/src/internal/rest/download_rest.cpp
  sdk-cpp/src/internal/util/do_http_message.h
  sdk-cpp/src/internal/util/do_http_parser.cpp
  sdk-cpp/src/internal/util/do_http_parser.h
Due: azure-pipelines/build/linux/dosdkcpp-native.yml

SDK: Remove cpprestsdk, use custom code with boost.asio (#40)
  client-lite/test/string_ops_tests.cpp
  client-lite/test/test_helpers.h
  common/lib-dotestutil/do_test_helpers.h
  sdk-cpp/CMakeLists.txt
  sdk-cpp/src/do_download.cpp
  sdk-cpp/src/internal/rest/download_rest.cpp
  sdk-cpp/src/internal/util/do_http_client.cpp
  sdk-cpp/src/internal/util/do_http_client.h
  sdk-cpp/src/internal/util/do_http_message.cpp
  sdk-cpp/src/internal/util/do_http_message.h
  sdk-cpp/src/internal/util/do_http_parser.cpp
  sdk-cpp/src/internal/util/do_http_parser.h
  sdk-cpp/src/internal/util/do_port_finder.cpp
  sdk-cpp/src/internal/util/do_url_encode.h
  sdk-cpp/tests/download_tests.cpp
  sdk-cpp/tests/port_discovery_tests.cpp
  sdk-cpp/tests/test_helpers.cpp
  sdk-cpp/tests/test_helpers.h
Due: azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dopapt-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml

Bootstrap only required boost libs
  build/bootstrap/bootstrap-ubuntu-18.04.sh
Due: none

Strip unneeded symbols from minsizerel binaries
  azure-pipelines/build/templates/doclient-lite-docker-steps.yml
  azure-pipelines/build/templates/doclient-lite-native-steps.yml
  azure-pipelines/build/templates/dopapt-docker-steps.yml
  azure-pipelines/build/templates/dopapt-native-steps.yml
  azure-pipelines/build/templates/dosdkcpp-docker-steps.yml
  azure-pipelines/build/templates/dosdkcpp-native-steps.yml
  client-lite/CMakeLists.txt
  common/cmake/do-build-helpers.cmake
  plugins/linux-apt/CMakeLists.txt
  sdk-cpp/CMakeLists.txt
Due: azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dopapt-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml

Install only required boost libs in other bootstrap scripts also
  build/bootstrap/bootstrap-debian-10.sh
  build/bootstrap/bootstrap-debian-9.sh
  build/bootstrap/bootstrap-ubuntu-18.04.sh
  build/bootstrap/bootstrap-ubuntu-20.04.sh
Due: none

Fix deb10 build. boost::asio::io_service backcompat.
  sdk-cpp/src/internal/util/do_http_client.cpp
Due: azure-pipelines/build/linux/dosdkcpp-native.yml

Strip unneeded symbols from minsizerel binaries (#41)
  azure-pipelines/build/templates/doclient-lite-docker-steps.yml
  azure-pipelines/build/templates/doclient-lite-native-steps.yml
  azure-pipelines/build/templates/dopapt-docker-steps.yml
  azure-pipelines/build/templates/dopapt-native-steps.yml
  azure-pipelines/build/templates/dosdkcpp-docker-steps.yml
  azure-pipelines/build/templates/dosdkcpp-native-steps.yml
  build/bootstrap/bootstrap-debian-10.sh
  build/bootstrap/bootstrap-debian-9.sh
  build/bootstrap/bootstrap-ubuntu-18.04.sh
  build/bootstrap/bootstrap-ubuntu-20.04.sh
  client-lite/CMakeLists.txt
  common/cmake/do-build-helpers.cmake
  plugins/linux-apt/CMakeLists.txt
  sdk-cpp/CMakeLists.txt
  sdk-cpp/src/internal/util/do_http_client.cpp
Due: azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dopapt-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml

Update limits for binary size check
  azure-pipelines/build/templates/doclient-lite-native-steps.yml
  azure-pipelines/build/templates/dopapt-native-steps.yml
  azure-pipelines/build/templates/dosdkcpp-native-steps.yml
  build/check_binary_size.sh
Due: none

Move agent logs to /var/log
  client-lite/CMakeLists.txt
  client-lite/build/postinst.in.sh
  client-lite/build/postrm.in.sh
  client-lite/src/trace/trace_sink.cpp
  client-lite/src/util/do_persistence.cpp
  client-lite/src/util/do_persistence.h
  client-lite/src/util/proc_launch_helper.h
Due: azure-pipelines/build/linux/doclient-lite-native.yml

Remove usage of /var/cache
  client-lite/CMakeLists.txt
  client-lite/build/postinst.in.sh
  client-lite/build/postrm.in.sh
  client-lite/src/util/do_persistence.cpp
  client-lite/src/util/do_persistence.h
  client-lite/src/util/proc_launch_helper.h
  sdk-cpp/src/internal/util/do_persistence.cpp
  sdk-cpp/src/internal/util/do_persistence.h
  sdk-cpp/tests/download_tests.cpp
  sdk-cpp/tests/test_helpers.cpp
  sdk-cpp/tests/test_helpers.h
Due: azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml

group write perms needed only for the config path
  client-lite/build/postinst.in.sh
Due: azure-pipelines/build/linux/doclient-lite-native.yml

Remove extra sleep in test
  sdk-cpp/tests/download_tests.cpp
Due: azure-pipelines/build/linux/dosdkcpp-native.yml

Agent: Move log location to /var/log (#43)
  client-lite/CMakeLists.txt
  client-lite/build/postinst.in.sh
  client-lite/build/postrm.in.sh
  client-lite/src/trace/trace_sink.cpp
  client-lite/src/util/do_persistence.cpp
  client-lite/src/util/do_persistence.h
  client-lite/src/util/proc_launch_helper.h
  sdk-cpp/src/internal/util/do_persistence.cpp
  sdk-cpp/src/internal/util/do_persistence.h
  sdk-cpp/tests/download_tests.cpp
  sdk-cpp/tests/test_helpers.cpp
  sdk-cpp/tests/test_helpers.h
Due: azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml

Make strip_symbols optional
  common/cmake/do-build-helpers.cmake
Due: azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dopapt-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml

Make strip_symbols optional (#44)
  common/cmake/do-build-helpers.cmake
Due: azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dopapt-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml

change to hosted pool
  azure-pipelines/build/doclient-lite-docker.yml
  azure-pipelines/build/doclient-lite-native.yml
  azure-pipelines/build/dopapt-docker.yml
  azure-pipelines/build/dopapt-native.yml
  azure-pipelines/build/dosdkcpp-docker.yml
  azure-pipelines/build/dosdkcpp-native.yml
  azure-pipelines/publishing/github-release.yml
  build/bootstrap/bootstrap-ubuntu-18.04.sh
  build/bootstrap/get-docker.sh
Due: none

typo
  azure-pipelines/build/dosdkcpp-native.yml
Due: none

typo
  azure-pipelines/build/doclient-lite-docker.yml
  azure-pipelines/build/doclient-lite-native.yml
  azure-pipelines/build/dopapt-docker.yml
  azure-pipelines/build/dopapt-native.yml
  azure-pipelines/build/dosdkcpp-docker.yml
  azure-pipelines/publishing/github-release.yml
Due: none

add step for installing dependencies for now
  azure-pipelines/build/templates/doclient-lite-native-steps.yml
Due: none

fix
  azure-pipelines/build/templates/doclient-lite-native-steps.yml
Due: none

test
  azure-pipelines/build/templates/doclient-lite-native-steps.yml
Due: none

remove sudo
  azure-pipelines/build/templates/doclient-lite-native-steps.yml
Due: none

use python version
  azure-pipelines/build/templates/doclient-lite-native-steps.yml
Due: none

remove unused steps
  azure-pipelines/build/templates/doclient-lite-native-steps.yml
Due: none

log into ACR
  azure-pipelines/build/templates/doclient-lite-docker-steps.yml
  azure-pipelines/build/templates/doclient-lite-native-steps.yml
Due: none

use migrated container registry resource
  azure-pipelines/build/doclient-lite-docker.yml
  azure-pipelines/build/templates/doclient-lite-docker-steps.yml
Due: none

comment out some
  azure-pipelines/build/doclient-lite-docker.yml
Due: none

fix
  azure-pipelines/build/templates/doclient-lite-docker-steps.yml
Due: none

cut down time on runs
  azure-pipelines/build/templates/doclient-lite-docker-steps.yml
  build/bootstrap/bootstrap.sh
Due: none

test pull
  azure-pipelines/build/templates/doclient-lite-docker-steps.yml
Due: none

Initial commit: custom fallback logic * Ban on fatal errors only. * 4xx errors are fatal for MCC also.
  client-lite/src/config/config_defaults.h
  client-lite/src/config/config_manager.cpp
  client-lite/src/config/config_manager.h
  client-lite/src/config/mcc_manager.cpp
  client-lite/src/config/mcc_manager.h
  client-lite/src/download/download.cpp
  client-lite/src/download/download.h
  client-lite/src/util/ban_list.cpp
  client-lite/src/util/ban_list.h
  client-lite/test/mcc_manager.tests.cpp
Due: azure-pipelines/build/linux/doclient-lite-native.yml

fix
  build/bootstrap/bootstrap.sh
Due: none

Path conditions:
  azure-pipelines/build/dopapt-native.yml: any of: azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/templates/dopapt-native-steps.yml, common, plugins, build/build.py, CMakeLists.txt, but not: azure-pipelines, plugins/linux-apt/scripts/configure-apt-method.sh
  azure-pipelines/build/linux/doclient-lite-native.yml: any of: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/templates/doclient-lite-native-steps.yml, client-lite, common, build/build.py, CMakeLists.txt, but not: azure-pipelines
  azure-pipelines/build/linux/dopapt-native.yml: any of: azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/templates/dopapt-native-steps.yml, common, plugins, build/build.py, CMakeLists.txt, but not: azure-pipelines, plugins/linux-apt/scripts/configure-apt-method.sh
  azure-pipelines/build/linux/dosdkcpp-native.yml: any of: azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/templates/dosdkcpp-native-steps.yml, common, sdk-cpp, build/build.py, CMakeLists.txt, but not: azure-pipelines, sdk-cpp/build/cleanup-install.sh
