Repository microsoft/do-client: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dopapt-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml

Path conditions:
  azure-pipelines/build/dopapt-native.yml: any of: azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/templates/dopapt-native-steps.yml, common, plugins, build/build.py, CMakeLists.txt, but not: azure-pipelines, plugins/linux-apt/scripts/configure-apt-method.sh
  azure-pipelines/build/dosdkcpp-native.yml: any of: azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/templates/dosdkcpp-native-steps.yml, common, sdk-cpp, build/build.py, CMakeLists.txt, but not: azure-pipelines, sdk-cpp/build/cleanup-install.sh
  azure-pipelines/build/linux/doclient-lite-native.yml: any of: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/templates/doclient-lite-native-steps.yml, client-lite, common, build/build.py, CMakeLists.txt, but not: azure-pipelines
  azure-pipelines/build/linux/dopapt-native.yml: any of: azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/templates/dopapt-native-steps.yml, common, plugins, build/build.py, CMakeLists.txt, but not: azure-pipelines, plugins/linux-apt/scripts/configure-apt-method.sh
  azure-pipelines/build/linux/dosdkcpp-native.yml: any of: azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/templates/dosdkcpp-native-steps.yml, common, sdk-cpp, build/build.py, CMakeLists.txt, but not: azure-pipelines, sdk-cpp/build/cleanup-install.sh

SDK: Remove do_url_encode.h
  sdk-cpp/src/internal/rest/download_rest.cpp
  sdk-cpp/src/internal/util/do_http_message.cpp
  sdk-cpp/src/internal/util/do_url_encode.h
Due: azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml

Remove cpprest dependency in REST API parsing (#64)
  azure-pipelines/build/templates/dosdkcpp-native-steps.yml
  client-lite/CMakeLists.txt
  client-lite/src/ipc/rest_api_parser.cpp
  client-lite/src/ipc/rest_api_parser.h
  client-lite/src/ipc/rest_api_request.cpp
  client-lite/src/ipc/rest_api_request.h
  client-lite/src/ipc/rest_http_controller.cpp
  common/lib-dohttp/CMakeLists.txt
  common/lib-dohttp/do_cpprest_base_uri.h
  common/lib-dohttp/do_cpprest_uri.cpp
  common/lib-dohttp/do_cpprest_uri.h
  common/lib-dohttp/do_cpprest_uri_builder.cpp
  common/lib-dohttp/do_cpprest_uri_builder.h
  common/lib-dohttp/do_cpprest_utils.cpp
  common/lib-dohttp/do_cpprest_utils.h
  common/lib-dohttp/do_http_defines.cpp
  common/lib-dohttp/do_http_defines.h
  common/lib-dohttp/do_http_packet.h
  common/lib-dohttp/do_http_parser.h
  sdk-cpp/src/internal/rest/download_rest.cpp
  sdk-cpp/src/internal/util/do_http_message.cpp
  sdk-cpp/src/internal/util/do_url_encode.h
Due: azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dopapt-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml

Agent/SDK: Custom http server. Initial impl.
  client-lite/CMakeLists.txt
  client-lite/src/ipc/rest_http_controller.cpp
  client-lite/src/ipc/rest_http_controller.h
  client-lite/src/ipc/rest_http_listener.cpp
  client-lite/src/ipc/rest_http_listener.h
  common/lib-dohttp/do_http_parser.cpp
Due: azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dopapt-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml

Remove cpprest from listener
  client-lite/src/exe/docs.cpp
  client-lite/src/ipc/rest_http_controller.cpp
  client-lite/src/ipc/rest_http_controller.h
  client-lite/src/ipc/rest_http_listener.cpp
  client-lite/src/ipc/rest_http_listener.h
  client-lite/test/rest_http_listener_tests.cpp
Due: azure-pipelines/build/linux/doclient-lite-native.yml

Listener conns keep alive. Track num connections. Send agent version.
  client-lite/CMakeLists.txt
  client-lite/src/ipc/rest_http_listener.cpp
  client-lite/src/ipc/rest_http_listener.h
Due: azure-pipelines/build/linux/doclient-lite-native.yml

Agent: Use http_status_codes in controller
  client-lite/src/ipc/rest_http_controller.cpp
Due: azure-pipelines/build/linux/doclient-lite-native.yml

Agent: Fix merge issue in docs.cpp
  client-lite/src/exe/docs.cpp
Due: azure-pipelines/build/linux/doclient-lite-native.yml

SDK: Fix rest_interface_tests
  sdk-cpp/tests/rest_interface_tests.cpp
Due: azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml

Fix merge issue and response formatting
  client-lite/src/ipc/rest_http_listener.cpp
  common/lib-dohttp/do_http_parser.cpp
Due: azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dopapt-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml

Agent: Use cpprest_web::uri in mcc and download
  client-lite/src/config/mcc_manager.cpp
  client-lite/src/download/download.cpp
Due: azure-pipelines/build/linux/doclient-lite-native.yml

Agent: Split listener and listener_conn
  client-lite/src/ipc/rest_http_controller.cpp
  client-lite/src/ipc/rest_http_controller.h
  client-lite/src/ipc/rest_http_listener.cpp
  client-lite/src/ipc/rest_http_listener.h
  client-lite/src/ipc/rest_http_listener_conn.cpp
  client-lite/src/ipc/rest_http_listener_conn.h
  client-lite/test/rest_http_listener_tests.cpp
Due: azure-pipelines/build/linux/doclient-lite-native.yml

Agent: Use status OK in controller
  client-lite/src/ipc/rest_http_controller.cpp
  client-lite/src/ipc/rest_http_listener_conn.cpp
Due: azure-pipelines/build/linux/doclient-lite-native.yml

Fix plugin: ifdef conditional logging for http parser
  common/lib-dohttp/do_http_parser.cpp
  sdk-cpp/src/internal/util/do_http_message.cpp
Due: azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dopapt-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml

Remove cpprest dependency in REST listener (#65)
  client-lite/CMakeLists.txt
  client-lite/src/config/mcc_manager.cpp
  client-lite/src/download/download.cpp
  client-lite/src/exe/docs.cpp
  client-lite/src/ipc/rest_http_controller.cpp
  client-lite/src/ipc/rest_http_controller.h
  client-lite/src/ipc/rest_http_listener.cpp
  client-lite/src/ipc/rest_http_listener.h
  client-lite/src/ipc/rest_http_listener_conn.cpp
  client-lite/src/ipc/rest_http_listener_conn.h
  client-lite/test/rest_http_listener_tests.cpp
  common/lib-dohttp/do_http_parser.cpp
  sdk-cpp/src/internal/util/do_http_message.cpp
  sdk-cpp/tests/rest_interface_tests.cpp
Due: azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dopapt-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml

SDK: Stabilize DiscoverPortTest
  sdk-cpp/tests/port_discovery_tests.cpp
Due: azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml

Agent: Use curl in HttpAgent (incomplete)
  client-lite/CMakeLists.txt
  client-lite/src/download/download.cpp
  client-lite/src/util/http_agent.cpp
  client-lite/src/util/http_agent.h
  client-lite/src/util/http_agent_interface.h
  common/lib-dohttp/do_http_defines.h
Due: azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dopapt-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml

Agent: Remove cpprest. Explicit link to pthread.
  client-lite/CMakeLists.txt
  client-lite/src/util/error_macros.cpp
  client-lite/test/CMakeLists.txt
Due: azure-pipelines/build/linux/doclient-lite-native.yml

Agent: Full libcurl usage compiling
  client-lite/src/download/download.cpp
  client-lite/src/download/download.h
  client-lite/src/download/download_manager.cpp
  client-lite/src/download/download_manager.h
  client-lite/src/exe/docs.cpp
  client-lite/src/util/do_curl_multi_operation.cpp
  client-lite/src/util/do_curl_multi_operation.h
  client-lite/src/util/http_agent.cpp
  client-lite/src/util/http_agent.h
  client-lite/test/download_manager_tests.cpp
  client-lite/test/mcc_manager.tests.cpp
Due: azure-pipelines/build/linux/doclient-lite-native.yml

Fix wrong wait predicate in curlops
  client-lite/src/util/do_curl_multi_operation.cpp
Due: azure-pipelines/build/linux/doclient-lite-native.yml

Avoid extra CRLF in QueryHeaders output
  client-lite/src/util/http_agent.cpp
Due: azure-pipelines/build/linux/doclient-lite-native.yml

RemoveHandle need not remove from handlesToRemove
  client-lite/src/util/do_curl_multi_operation.cpp
Due: azure-pipelines/build/linux/doclient-lite-native.yml

HttpAgent: Implement fail fast on errors
  client-lite/src/util/http_agent.cpp
  client-lite/src/util/http_agent.h
Due: azure-pipelines/build/linux/doclient-lite-native.yml

Download: bytesTotal set to zero on failure
  client-lite/src/download/download.cpp
Due: azure-pipelines/build/linux/doclient-lite-native.yml

DownloadManagerTests: use polling, temporarily increase wait time
  client-lite/test/download_manager_tests.cpp
Due: azure-pipelines/build/linux/doclient-lite-native.yml

Revert "Download: bytesTotal set to zero on failure"
  client-lite/src/download/download.cpp
Due: azure-pipelines/build/linux/doclient-lite-native.yml

HttpAgent: Skip calling OnHeadersAvail for failures
  client-lite/src/util/http_agent.cpp
Due: azure-pipelines/build/linux/doclient-lite-native.yml

Fix locking in CurlMultiOperation
  client-lite/src/util/do_curl_multi_operation.cpp
  client-lite/src/util/do_curl_multi_operation.h
Due: azure-pipelines/build/linux/doclient-lite-native.yml

HttpAgent: Use curlResult in completion callback
  client-lite/src/util/http_agent.cpp
Due: azure-pipelines/build/linux/doclient-lite-native.yml

HttpAgent: Fix redirects
  client-lite/src/util/http_agent.cpp
Due: azure-pipelines/build/linux/doclient-lite-native.yml

Add libcurl to bootstrap. Remove cpprest.
  NOTICE.md
  build/bootstrap.sh
  client-lite/test/download_manager_tests.cpp
  client-lite/test/mcc_manager.tests.cpp
  client-lite/test/test_common.h
  licenses/cgmanifest.json
  plugins/linux-apt/main.cpp
  sdk-cpp/tests/tests_common.h
Due: azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dopapt-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml

PR feedback
  build/bootstrap.sh
Due: none

Move curlOps into DownloadManager
  client-lite/src/download/download_manager.cpp
  client-lite/src/download/download_manager.h
  client-lite/src/exe/docs.cpp
  client-lite/test/download_manager_tests.cpp
  client-lite/test/mcc_manager.tests.cpp
Due: azure-pipelines/build/linux/doclient-lite-native.yml

Rename to _DoWork. Comments.
  client-lite/src/util/do_curl_multi_operation.cpp
  client-lite/src/util/do_curl_multi_operation.h
Due: azure-pipelines/build/linux/doclient-lite-native.yml

Agent: Replace entire cpprest usage with libcurl (#66)
  NOTICE.md
  build/bootstrap.sh
  client-lite/CMakeLists.txt
  client-lite/src/download/download.cpp
  client-lite/src/download/download.h
  client-lite/src/download/download_manager.cpp
  client-lite/src/download/download_manager.h
  client-lite/src/exe/docs.cpp
  client-lite/src/util/do_curl_multi_operation.cpp
  client-lite/src/util/do_curl_multi_operation.h
  client-lite/src/util/error_macros.cpp
  client-lite/src/util/http_agent.cpp
  client-lite/src/util/http_agent.h
  client-lite/src/util/http_agent_interface.h
  client-lite/test/CMakeLists.txt
  client-lite/test/download_manager_tests.cpp
  client-lite/test/mcc_manager.tests.cpp
  client-lite/test/test_common.h
  common/lib-dohttp/do_http_defines.h
  licenses/cgmanifest.json
  plugins/linux-apt/main.cpp
  sdk-cpp/tests/tests_common.h
Due: azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dopapt-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml

Some cleanup in code from cpprestsdk
  common/lib-dohttp/do_cpprest_base_uri.h
  common/lib-dohttp/do_cpprest_uri.cpp
  common/lib-dohttp/do_cpprest_uri_builder.h
  common/lib-dohttp/do_cpprest_utils.h
Due: azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dopapt-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml

Rename to CurlRequests
  client-lite/src/download/download.cpp
  client-lite/src/download/download.h
  client-lite/src/download/download_manager.h
  client-lite/src/util/do_curl_multi_operation.cpp
  client-lite/src/util/do_curl_multi_operation.h
  client-lite/src/util/http_agent.cpp
  client-lite/src/util/http_agent.h
Due: azure-pipelines/build/linux/doclient-lite-native.yml

HttpAgent: Remove unused http and callback context
  client-lite/src/download/download.cpp
  client-lite/src/download/download.h
  client-lite/src/util/http_agent.cpp
  client-lite/src/util/http_agent.h
  client-lite/src/util/http_agent_interface.h
Due: azure-pipelines/build/linux/doclient-lite-native.yml

Curl wrappers
  client-lite/src/download/download_manager.h
  client-lite/src/exe/docs.cpp
  client-lite/src/util/do_curl_wrappers.cpp
  client-lite/src/util/do_curl_wrappers.h
  client-lite/src/util/http_agent.cpp
Due: azure-pipelines/build/linux/doclient-lite-native.yml

Agent: Cleanup after consuming libcurl (#67)
  client-lite/src/download/download.cpp
  client-lite/src/download/download.h
  client-lite/src/download/download_manager.h
  client-lite/src/exe/docs.cpp
  client-lite/src/util/do_curl_wrappers.cpp
  client-lite/src/util/do_curl_wrappers.h
  client-lite/src/util/http_agent.cpp
  client-lite/src/util/http_agent.h
  client-lite/src/util/http_agent_interface.h
  common/lib-dohttp/do_cpprest_base_uri.h
  common/lib-dohttp/do_cpprest_uri.cpp
  common/lib-dohttp/do_cpprest_uri_builder.h
  common/lib-dohttp/do_cpprest_utils.h
Due: azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dopapt-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml

add versioning for docker containers
  azure-pipelines/build/doclient-lite-docker.yml
  azure-pipelines/build/templates/do-docker-jobs.yml
  azure-pipelines/build/templates/doclient-lite-docker-steps.yml
  azure-pipelines/build/templates/dopapt-docker-steps.yml
  azure-pipelines/build/templates/dosdkcpp-docker-steps.yml
Due: none
