Repository microsoft/do-client: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dopapt-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml

Path conditions:
  azure-pipelines/build/linux/doclient-lite-native.yml: any of: azure-pipelines/build/doclient-lite-native.yml, azure-pipelines/build/templates/doclient-lite-native-steps.yml, client-lite, common, build/build.py, CMakeLists.txt, but not: azure-pipelines
  azure-pipelines/build/linux/dopapt-native.yml: any of: azure-pipelines/build/dopapt-native.yml, azure-pipelines/build/templates/dopapt-native-steps.yml, common, plugins, build/build.py, CMakeLists.txt, but not: azure-pipelines, plugins/linux-apt/scripts/configure-apt-method.sh
  azure-pipelines/build/linux/dosdkcpp-native.yml: any of: azure-pipelines/build/dosdkcpp-native.yml, azure-pipelines/build/templates/dosdkcpp-native-steps.yml, common, sdk-cpp, build/build.py, CMakeLists.txt, but not: azure-pipelines, sdk-cpp/build/cleanup-install.sh

refactor
  CMakeLists.txt
  sdk-cpp/CMakeLists.txt
  sdk-cpp/tests/CMakeLists.txt
Due: azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dopapt-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml

refactor sdk to be more extensible for other platforms
  sdk-cpp/CMakeLists.txt
  sdk-cpp/include/do_config.h
  sdk-cpp/include/do_download.h
  sdk-cpp/src/do_download.cpp
  sdk-cpp/src/internal/download_impl.h
  sdk-cpp/src/internal/rest/download_impl.cpp
  sdk-cpp/src/internal/rest/util/do_exceptions_internal.cpp
  sdk-cpp/src/internal/rest/util/do_exceptions_internal.h
  sdk-cpp/src/internal/rest/util/do_http_client.cpp
  sdk-cpp/src/internal/rest/util/do_http_client.h
  sdk-cpp/src/internal/rest/util/do_noncopyable.h
  sdk-cpp/src/internal/rest/util/do_persistence.cpp
  sdk-cpp/src/internal/rest/util/do_persistence.h
  sdk-cpp/src/internal/rest/util/do_port_finder.cpp
  sdk-cpp/src/internal/rest/util/do_port_finder.h
  sdk-cpp/tests/CMakeLists.txt
Due: azure-pipelines/build/linux/dosdkcpp-native.yml

move tests
  sdk-cpp/tests/rest/config_tests.cpp
  sdk-cpp/tests/rest/mcc_download_tests.cpp
  sdk-cpp/tests/rest/network_connectivity_tests.cpp
  sdk-cpp/tests/rest/port_discovery_tests.cpp
  sdk-cpp/tests/rest/rest_interface_tests.cpp
Due: azure-pipelines/build/linux/dosdkcpp-native.yml

resolve pr comments
  build/build.py
Due: azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dopapt-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml

remove whitespace
  build/build.py
Due: azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dopapt-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml

Refactor build script to support more platforms (#16)
  build/build.py
Due: azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dopapt-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml

resolve pr comments
  sdk-cpp/CMakeLists.txt
  sdk-cpp/include/do_config.h
  sdk-cpp/src/do_download.cpp
  sdk-cpp/src/internal/common/download_impl.h
  sdk-cpp/src/internal/common/download_interface.h
  sdk-cpp/src/internal/common/util/do_exceptions_internal.cpp
  sdk-cpp/src/internal/common/util/do_exceptions_internal.h
  sdk-cpp/src/internal/common/util/do_noncopyable.h
  sdk-cpp/tests/CMakeLists.txt
Due: azure-pipelines/build/linux/dosdkcpp-native.yml

change = to matches
  sdk-cpp/CMakeLists.txt
Due: azure-pipelines/build/linux/dosdkcpp-native.yml

consolidate to a single readme
  README.md
  docs/agent-reference/linux/how-to-build-and-test.md
  docs/getting-started-on-linux.md
  docs/sdk-reference/linux/how-to-build-and-test.md
Due: none

add sample command for using bootstrap script
  docs/getting-started-on-linux.md
Due: none

move notice back under header
  docs/getting-started-on-linux.md
Due: none

remove common folder, resolve pr feedback
  sdk-cpp/CMakeLists.txt
  sdk-cpp/include/do_config.h
  sdk-cpp/src/internal/do_exceptions_internal.cpp
  sdk-cpp/src/internal/do_exceptions_internal.h
  sdk-cpp/src/internal/do_noncopyable.h
  sdk-cpp/src/internal/download_impl.h
  sdk-cpp/src/internal/download_interface.h
  sdk-cpp/tests/CMakeLists.txt
Due: azure-pipelines/build/linux/dosdkcpp-native.yml

fix
  sdk-cpp/tests/CMakeLists.txt
Due: azure-pipelines/build/linux/dosdkcpp-native.yml

Refactor SDK (#18)
  CMakeLists.txt
  sdk-cpp/CMakeLists.txt
  sdk-cpp/include/do_config.h
  sdk-cpp/include/do_download.h
  sdk-cpp/src/do_download.cpp
  sdk-cpp/src/internal/do_exceptions_internal.cpp
  sdk-cpp/src/internal/do_exceptions_internal.h
  sdk-cpp/src/internal/do_noncopyable.h
  sdk-cpp/src/internal/download_impl.h
  sdk-cpp/src/internal/rest/download_impl.cpp
  sdk-cpp/src/internal/rest/util/do_http_client.cpp
  sdk-cpp/src/internal/rest/util/do_http_client.h
  sdk-cpp/src/internal/rest/util/do_persistence.cpp
  sdk-cpp/src/internal/rest/util/do_persistence.h
  sdk-cpp/src/internal/rest/util/do_port_finder.cpp
  sdk-cpp/src/internal/rest/util/do_port_finder.h
  sdk-cpp/tests/CMakeLists.txt
  sdk-cpp/tests/rest/config_tests.cpp
  sdk-cpp/tests/rest/mcc_download_tests.cpp
  sdk-cpp/tests/rest/network_connectivity_tests.cpp
  sdk-cpp/tests/rest/port_discovery_tests.cpp
  sdk-cpp/tests/rest/rest_interface_tests.cpp
Due: azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dopapt-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml

revert header name
  README.md
  docs/getting-started-on-linux.md
Due: none

Refactor some of the peripheral directories & readme (#17)
  README.md
  azure-pipelines/build/linux/doclient-lite-docker.yml
  azure-pipelines/build/linux/doclient-lite-native.yml
  azure-pipelines/build/linux/dopapt-docker.yml
  azure-pipelines/build/linux/dopapt-native.yml
  azure-pipelines/build/linux/dosdkcpp-docker.yml
  azure-pipelines/build/linux/dosdkcpp-native.yml
  azure-pipelines/build/linux/templates/do-docker-jobs.yml
  azure-pipelines/build/linux/templates/doclient-lite-docker-steps.yml
  azure-pipelines/build/linux/templates/doclient-lite-native-steps.yml
  azure-pipelines/build/linux/templates/dopapt-docker-steps.yml
  azure-pipelines/build/linux/templates/dopapt-native-steps.yml
  azure-pipelines/build/linux/templates/dosdkcpp-docker-steps.yml
  azure-pipelines/build/linux/templates/dosdkcpp-native-steps.yml
  build/docker/debian10/arm32/Dockerfile
  build/docker/debian9/arm32/Dockerfile
  build/docker/ubuntu18.04/arm64/Dockerfile
  docs/getting-started-on-linux.md
Due: none

refactor cmakelists, separate platform specific stuff
  sdk-cpp/CMakeLists.txt
  sdk-cpp/include/do_config.h
  sdk-cpp/tests/test_data.cpp
  sdk-cpp/tests/test_data.h
  sdk-cpp/tests/test_helpers.h
Due: azure-pipelines/build/linux/dosdkcpp-native.yml

move shared cmake stuff out
  sdk-cpp/CMakeLists.txt
  sdk-cpp/src/do_config.cpp
Due: azure-pipelines/build/linux/dosdkcpp-native.yml

More refactoring for cpp sdk for xplat support (#19)
  sdk-cpp/CMakeLists.txt
  sdk-cpp/include/do_config.h
  sdk-cpp/src/do_config.cpp
  sdk-cpp/tests/test_data.cpp
  sdk-cpp/tests/test_data.h
  sdk-cpp/tests/test_helpers.h
Due: azure-pipelines/build/linux/dosdkcpp-native.yml

some cleanup
  build/build.py
  sdk-cpp/CMakeLists.txt
  sdk-cpp/tests/download_tests.cpp
Due: azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dopapt-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml

some cleanup (#20)
  build/build.py
  sdk-cpp/CMakeLists.txt
  sdk-cpp/tests/download_tests.cpp
Due: azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dopapt-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml

fix path
  azure-pipelines/build/linux/doclient-lite-native.yml
  azure-pipelines/build/linux/dopapt-native.yml
  azure-pipelines/build/linux/dosdkcpp-native.yml
Due: none

fix path (#21)
  azure-pipelines/build/linux/doclient-lite-native.yml
  azure-pipelines/build/linux/dopapt-native.yml
  azure-pipelines/build/linux/dosdkcpp-native.yml
Due: none

fix comments
  azure-pipelines/build/linux/templates/doclient-lite-native-steps.yml
  azure-pipelines/build/linux/templates/dosdkcpp-native-steps.yml
Due: none

fix comments (#22)
  azure-pipelines/build/linux/templates/doclient-lite-native-steps.yml
  azure-pipelines/build/linux/templates/dosdkcpp-native-steps.yml
Due: none

add option to specify custom build directory
  build/build.py
Due: azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dopapt-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml

fix
  build/build.py
Due: azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dopapt-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml

Add option for specifying custom build output directory (#23)
  build/build.py
Due: azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dopapt-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml

refactor tests
  sdk-cpp/tests/CMakeLists.txt
  sdk-cpp/tests/dosdkcpp_testrunner.cpp
  sdk-cpp/tests/rest/test_helpers.cpp
Due: azure-pipelines/build/linux/dosdkcpp-native.yml

allow mcc override on all platforms
  sdk-cpp/tests/dosdkcpp_testrunner.cpp
Due: azure-pipelines/build/linux/dosdkcpp-native.yml

Test refactoring for multi-platform support (#24)
  sdk-cpp/tests/CMakeLists.txt
  sdk-cpp/tests/dosdkcpp_testrunner.cpp
  sdk-cpp/tests/rest/test_helpers.cpp
Due: azure-pipelines/build/linux/dosdkcpp-native.yml

add an equivalent api for explicitly setting DOCacheHost
  sdk-cpp/include/do_config.h
  sdk-cpp/src/do_config.cpp
  sdk-cpp/tests/config_tests.cpp
Due: azure-pipelines/build/linux/dosdkcpp-native.yml

add minsizerel support
  build/bootstrap/bootstrap-debian-10.sh
  build/bootstrap/bootstrap-debian-9.sh
  build/bootstrap/bootstrap-ubuntu-18.04.sh
  build/build.py
Due: azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dopapt-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml

Update pipelines
  azure-pipelines/build/doclient-lite-native.yml
  azure-pipelines/build/dopapt-native.yml
  azure-pipelines/build/dosdkcpp-native.yml
  azure-pipelines/build/templates/do-docker-jobs.yml
  azure-pipelines/build/templates/doclient-lite-docker-steps.yml
  azure-pipelines/build/templates/dopapt-native-steps.yml
  azure-pipelines/build/templates/dosdkcpp-native-steps.yml
Due: none

fix typo
  azure-pipelines/build/templates/do-docker-jobs.yml
Due: none

remove extra parenthesis
  build/build.py
Due: azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dopapt-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml

Add support for additional build types (#28)
  azure-pipelines/build/doclient-lite-native.yml
  azure-pipelines/build/dopapt-native.yml
  azure-pipelines/build/dosdkcpp-native.yml
  azure-pipelines/build/templates/do-docker-jobs.yml
  azure-pipelines/build/templates/doclient-lite-docker-steps.yml
  azure-pipelines/build/templates/dopapt-native-steps.yml
  azure-pipelines/build/templates/dosdkcpp-native-steps.yml
  build/bootstrap/bootstrap-debian-10.sh
  build/bootstrap/bootstrap-debian-9.sh
  build/bootstrap/bootstrap-ubuntu-18.04.sh
  build/build.py
Due: azure-pipelines/build/linux/doclient-lite-native.yml, azure-pipelines/build/linux/dopapt-native.yml, azure-pipelines/build/linux/dosdkcpp-native.yml

modify deb10
  build/bootstrap/bootstrap-debian-10.sh
  build/docker/arm64/Ubuntu18.04/Dockerfile
Due: none

remove extra line
  build/bootstrap/bootstrap-debian-10.sh
Due: none
